---
title: 'Get a free virtual machine to manage'
order: 1
description: "Set up your Chef environment."
keywords: TODO
time_to_complete: 10 minutes
snippet_path: learn-the-basics/rhel/virtualbox/set-up-a-machine-to-manage
snippet_workstation: ubuntu
headings: [
  { label: '1. Launch a free trial CentOS 7 virtual machine', href: '#step1' },
  { label: '2. Open a terminal window', href: '#step2' },
  { label: '3. Prepare a text editor', href: '#step3' },

  ]
quiz:
  - question: What is your quest?
    answer: 0
    choices:
      - To learn how to manage a node
      - To seek the grail
  - question: What is your favorite color?
    answer: 0
    choices:
      - Blue
      - Red
      - Yellow
  - question: What is the airspeed velocity of an unladen swallow?
    answer: 0
    choices:
      - Wait, African or European?
---
<%= partial '../../shared/get-set-up/intro' %>

The easiest way to get started is to use a free trial CentOS 7 virtual machine that we provide. The virtual machine runs in your browser and has the set of Chef tools, called the Chef DK, and several popular text editors pre-installed.

[COMMENT] In the Learn Chef tutorials, you'll use CentOS to build Chef skills around managing your Red Hat Enterprise Linux servers. CentOS is a free computing platform that's functionally compatible with Red Hat Enterprise Linux.

After you complete this tutorial using the free virtual machine, you can [repeat it](/modules/learn-the-basics/rhel/) in an environment that most closely matches your infrastructure.

<% accordion('test-configuration', 'Test configuration') do %>

<% markdown do %>

We periodically update the free trial virtual machine image with the latest version of the Chef tools.

<% render_machine_config('snippets/learn-the-basics/rhel/virtualbox/machine_config.md') %>

<% end %>

<% end %>

[START_BOX]

## 1. Launch a free trial CentOS 7 virtual machine

Let us provide a CentOS virtual machine with the Chef DK installed for you. Just click the button below.
</p>
<%= partial 'layouts/provisioner', locals: { os: 'CentOS', env_name: 'CentOS 7.0 Desktop - 64-bit - 20GB', user_name: 'skytap', type: 'rhel-localmode' } %>

[END_BOX]

[START_BOX]

## 2. Open a terminal window

In this tutorial, you'll run Chef commands from a command prompt to configure the system. The CentOS virtual machine comes with a terminal window already open. If you close it, you can access it again from the desktop.

![](misc/centos-desktop-terminal.png)

[TIP] We believe typing in the code and commands is the best way to learn. If you prefer to copy and paste, you may find it easier to continue this tutorial by opening this page in a browser from your VM. You can also copy and paste the text into your remote session. Use the **Clipboard** <img style="box-shadow:none; margin:0; display:inline;" src="/assets/images/skytap/clipboard.png"/> command in the menu bar to copy text to your session's clipboard.

[END_BOX]

[START_BOX]

## 3. Prepare a text editor

Because Chef uses _code_ to express infrastructure policy, it's important that you use a text editor that provides features such as syntax highlighting and line numbering.

From your command prompt, bring up a text editor that you're comfortable working with. The virtual machine comes with `emacs`, `nano`, and `vim` pre-installed. If you prefer another text editor, install it now.

If you're new to using command-line text editors on Linux, here are some resources to help get you started.

* Emacs: [Absolute Beginner's Guide to Emacs](http://www.jesshamrick.com/2012/09/10/absolute-beginners-guide-to-emacs/)
* Nano: [The Beginner’s Guide to Nano, the Linux Command-Line Text Editor](http://www.howtogeek.com/howto/42980/the-beginners-guide-to-nano-the-linux-command-line-text-editor/)
* Vim: [Interactive Vim tutorial](http://www.openvim.com/)

You can then close your text editor. You'll need it again shortly.

[END_BOX]

<% next_page(current_page) do %>

Now that you have your virtual machine with the Chef DK and a text editor set up, let's use Chef to configure a file, a kind of _resource_, on it.

<% end %>
