---
description: "Learn how Chef's test and repair approach keeps your servers in line with the policies you describe by writing Chef code. We'll provide the virtual machine."
layout: content
title: "Getting Started"
type: topic
---
