---
description: "See how Chef's test and repair approach keeps your servers in line with the policies you describe by writing Chef code. We'll provide the virtual machine."
layout: content
order: 1
title: "Learn the basics"
type: topic
ignore_breadcrumb: true
---
