---
title: 'Launch Chef server from the Azure Marketplace'
order: 2
keywords: TODO
layout: lesson
sections: []
next: {heading: Next, partial: next}
time_to_complete: 30 minutes
---
Chef provides a fully-functional, preconfigured, Chef server that includes the [Chef management console](https://docs.chef.io/manage.html) and [Chef reporting](https://docs.chef.io/install_reporting.html).

The Chef documentation explains how to launch the Chef server from the Azure Marketplace. Click the button to get started.

<a class='accent-button radius' href='https://docs.chef.io/windows.html#azure-marketplace' target='_blank'>Install Chef server&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

[CLOUD] Chef server is free to use for up to 25 nodes. Hourly billing is done through your Microsoft Azure account. [Sign up for an Azure account](https://azure.microsoft.com/) if you don't have one.
