---
title: 'Get set up'
order: 1
keywords: TODO
layout: lesson
sections: []
next: {heading: Next, partial: next}
time_to_complete: 30 minutes
---
If you haven't already, we recommend that you work through [Learn to develop your infrastructure code locally](/local-development/ubuntu/) before you start this tutorial. You'll set up your workstation and run the `awesome_customers` cookbook on a Test Kitchen instance.

<a class='button radius' href='/local-development/ubuntu/'>Learn to develop your infrastructure code locally</a>
