---
title: 'Learn the Chef basics on Red Hat Enterprise Linux'
short_title: 'Red Hat Enterprise Linux'
ignore_breadcrumb: true
layout: tutorials/platforms/environments/layout
platform: Red Hat Enterprise Linux
platform_id: rhel
logo: redhat.svg
description: "Learn how Chef's <i>test and repair</i> approach keeps your servers in line with the policies you describe by writing Chef code. We'll provide the virtual machine."
order: 1
machine_config: learn-the-basics/rhel/vagrant
---
# Choose your operating environment

Next, choose where you'll manage your Red Hat Enterprise Linux or CentOS server. All options provide similar content, but each is tailored to most closely match where you run your servers.

<hr />

The free virtual machine option is the easiest way to get started.

<% platform_button("/tutorials/learn-the-basics/rhel/free/", "/assets/images/rhel/platform-logos/virtual-machine.svg", "Get started on a free virtual machine") %>

<hr />

If you run your servers in the cloud, you might be interested in one of these options. Billing is done through your cloud account.

<ul style="list-style-type: none;">
  <li>
<% platform_button("/tutorials/learn-the-basics/rhel/aws/", "/assets/images/rhel/platform-logos/aws-ec2.svg", "Start learning Chef on Amazon Web Services") %>
  </li>
  <li>
<% platform_button("/tutorials/learn-the-basics/rhel/azure/", "/assets/images/rhel/platform-logos/windows.svg", "Start learning Chef on Microsoft Azure") %>
  </li>
  <li>
<% platform_button("/tutorials/learn-the-basics/rhel/compute/", "/assets/images/rhel/platform-logos/Google-Cloud-01.png", "Start learning Chef on Google Compute Engine") %>
  </li>
</ul>

<hr />

Or use a virtual machine that runs on your Windows, Mac OS, or Linux workstation.

<% platform_button("/tutorials/learn-the-basics/rhel/virtualbox/", "/assets/images/rhel/platform-logos/Vagrant-01.png", "Start learning Chef on Vagrant and VirtualBox") %>

<hr />

You can also bring your own system using your own hardware or a different cloud or virtualization provider.

<% platform_button("/tutorials/learn-the-basics/rhel/bring-your-own-system/", "/assets/images/rhel/platform-logos/server.svg", "Start learning Chef on your own system") %>
