---
title: 'Set up your workstation, Chef server, and a node to manage'
order: 1
layout: lesson
sections: []
next: {heading: Next, partial: next}
show_disqus: false
meta_tags: [{name: "ROBOTS", content: "NOINDEX, NOFOLLOW"}]
---
You'll need these four systems to complete this tutorial:

* Your workstation
* A node to manage
* A server to run Chef server
* A server to run Chef Analytics

Chef Analytics requires a Chef server that's maintained in your infrastructure &ndash; whether it's hosted on premises or in the cloud.

We recommend that you perform the [Install and manage your own Chef server](/install-and-manage-your-own-chef-server/linux/) tutorial to set up the first three items &ndash; your workstation, a node to manage, and Chef server.

<a class='accent-button radius' href='/install-and-manage-your-own-chef-server/linux/' target='_blank'>Install and manage your own Chef server&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

You'll have three options for setting up Chef server in your infrastructure. You can launch Chef server from a  fully-functional Amazon Machine Images (AMI) from the AWS Marketplace or from the Microsoft Azure Marketplace, or you can install it manually on your own hardware or cloud instance. If you launch from the AWS Marketplace or Azure Marketplace, you automatically get Chef Analytics installed and configured for you.
