---
layout: bumper
name: compliance-assess
description: 'TODO.'
order: 1
title: "Assess your infrastructure with Chef Compliance"
type: topic
category: compliance
ignore_breadcrumb: true
time_to_complete: Two 60 min lessons plus prerequisites
platform_intro: Click the button to get started.
tags: []
---
