---
layout: bumper
name: compliance-assess
description: "Learn how Chef Compliance enables you to assess your infrastructure's adherence to compliance requirements."
order: 2
title: "Assess your infrastructure with Chef Compliance"
short_title: "Scan for compliance"
type: topic
category: chef-automate
ignore_breadcrumb: true
time_to_complete: Two 30-60 min lessons plus installation
platform_intro: Choose the server platform you monitor for compliance.
tags: []
coming_soon: [Windows Server]
---
