= partial 'quickstart/workstation-setup/partials/_virtual_box_and_vagrant'
hr
= partial 'quickstart/workstation-setup/partials/_git_bash_and_git'
hr
= partial 'quickstart/workstation-setup/partials/_windows_chef_installer'

