= partial 'quickstart/workstation-setup/partials/_virtual_box_vagrant_and_git'
hr
= partial 'quickstart/workstation-setup/partials/_git_bash_and_git'
= partial 'quickstart/workstation-setup/partials/_git_bash_warning'
hr
= partial 'quickstart/workstation-setup/partials/_windows_chef_installer'
