---
description: "Extend what you've learned by managing a web application that uses a web server, a database, and scripting."
layout: bumper
name: manage-a-web-app
order: 4
title: "Learn to manage a basic web application"
type: topic
category: getting-started
ignore_breadcrumb: true
time_to_complete: 15 min setup plus ten 15-30 min lessons
platform_intro: Choose the server platform you want to manage.
tags: []
---
