<h2>Exercises</h2>
<p>
<a name="1"></a>
<span style="font-size:22px;">1. What are the two ways to set up a Chef server?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/manage-a-node/windows/set-up-your-chef-server/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. What does <code>knife</code> need to communicate with the Chef server?</code></span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/manage-a-node/windows/set-up-your-chef-server/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="3"></a>
<span style="font-size:22px;">3. Where can you get reusable cookbooks that are written and maintained by the Chef community?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question3" class="box content">
      <%= partial "/manage-a-node/windows/set-up-your-chef-server/exercises/answers/3" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="4"></a>
<span style="font-size:22px;">4. What's the command that enables you to interact with the Chef server?</span>
</p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question4">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question4" class="box content">
      <%= partial "/manage-a-node/windows/set-up-your-chef-server/exercises/answers/4" %>
    </div>
  </dd>
</dl>
