---
title: '1. Ensure you have Administrator privileges'
order: 1
layout: step
---
To get started, let's look at a basic configuration management project. You'll learn how to manage the INI configuration file for your org's latest application. A file is an example of a _resource_. A resource describes some piece of infrastructure, such as a file, a template, or a package.

## <i class="fa fa-windows" style="margin-right:3px;"></i> Get a Windows Server machine

In this lesson, you'll configure the server directly. That's why it's important that you have a Windows Server machine available. Later you'll manage Windows Servers remotely from whichever operating system you choose &ndash; be it Windows, Mac OS, or Linux.

There are two ways to get set up.

Option 1: Use your own Windows Server machine. If you have a machine you'd like to use that meets the [system requirements](<%= chef_docs_url %>/chef_system_requirements.html), install the [Chef Development Kit](<%= chef_dk_url %>) on it now.

Option 2: Let us provide a Windows Server virtual machine with the Chef tools installed for you. Just click the button below.

<%= partial 'layouts/provisioner', locals: { title: 'Windows Server', type: 'windows-localmode' } %>

<sidebar style="line-height:1.7; font-size:1.0em; margin-top:30px; max-width:400px;">
<span style="line-height:2.0;"><i class="fa fa-search"></i>&nbsp;**As you read, be on the lookout for:**</span><br>
  <i class="fa fa-check"></i>&nbsp; what resources and recipes are.<br>
  <i class="fa fa-check"></i>&nbsp; what happens when you run `chef-apply`.<br>
</sidebar>

## <i class="fa fa-tasks" style="margin-right:3px;"></i> Here's what you'll do

  1. [Ensure you have Administrator privileges](#1ensureyouhaveadministratorprivileges)
  1. [Get a good text editor](#2getagoodtexteditor)
  1. [Set up your working directory](#3setupyourworkingdirectory)
  1. [Create the INI file](#4createtheinifile)
  1. [Update the INI file's contents](#5updatetheinifile39scontents)
  1. [Ensure the INI file's contents are not changed by anyone else](#6ensuretheinifile39scontentsarenotchangedbyanyoneelse)
  1. [Delete the INI file](#7deletetheinifile)

<hr>

## 1. Ensure you have Administrator privileges

If you're using your own Windows Server machine, make sure you have Administrator privileges.

Also, this lesson assumes that the current user is **Administrator**. If you're using your own machine, either sign in as **Administrator** or change the paths you see to match your user name.
