---
title: 'Cookbooks'
order: 7
layout: concept
video: '//www.youtube.com/embed/X0qKrbn5F7I'
image: 'cookbooks.png'
description: 'An overview of the concept of cookbooks in Chef.'
keywords: 'chef, cookbook'
---

A _cookbook_ is the fundamental unit of configuration and policy distribution. A cookbook defines a scenario, such as everything needed to install and configure MySQL, and then it contains all of the components that are required to support that scenario. This includes templates, custom resources and providers, and metadata about recipes (including dependencies, version constraints, supported platforms, and so on.)

<p>
  <%= link_to "Create your first cookbook &rarr;", "../create-your-first-cookbook", class: 'button radius' %>
</p>
