.breadcrumbs {
  .f-dropdown {
    margin-top: 10px;

    &:after {
      content: none;
    }

    li {
      a {
        text-transform: capitalize;
        font-size: 14px;
      }
    }

    &:hover {
      a {
        text-decoration: none;
      }
    }

    &.medium {
      li {
        width: 50%;
        float: left;
      }
    }
  }
}
