$community-text-color: #404447;

.community {
  font-family: $accent-font;

  h1, h2, h3, h4, h5 {
    font-family: inherit;
    color: inherit;
  }

  img {
    box-shadow: none;
  }

  .content {
    padding: 0 0 25px;
    background: #fff;
    color: $community-text-color;

    a {
      color: $primary-orange;
      word-wrap: break-word;

      &:hover,
      &:active,
      &:focus {
        color: darken($primary-orange, 10%);
      }
    }

    p {
      line-height: 1.4;
    }
  }
}

.community--hero {
  padding: 70px 0;
  color: #fff;
  background: url("/assets/images/community/hero-bg.jpg") no-repeat $community-text-color;
  background-size: cover;

  h1 {
    font-size: 28px;
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
  }
}

.community--subhero-column {
  border-right: 1px solid lighten($primary-gray, 40%);
}

.community--link {
  display: block;
  margin-bottom: 5px;
}

.community--heading {
  font-size: 21px;
  font-weight: bold;

  &.media {
    margin-bottom: 50px;
  }
}

.community--subhead {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.community--section {
  padding: 50px 0;
  color: $community-text-color;

  &:nth-child(odd) {
    background: $light-gray;
  }
}

img.community--chefconf {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

// Slider
.community--section {
  a.community--slide {
    color: $community-text-color;

    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }
}

.community--slide {
  display: block;
  text-align: center;

  & > p {
    font-size: 13px;
  }
}

img.community--slide--img {
  display: inline-block;
  width: 80%;
  max-width: 180px;
  border: 1px solid lighten($primary-gray, 60%);
  margin: 0 0 10px;
}