form {
  .input-control {
    position: relative;
    overflow: hidden;

    select {
      background: $font-gray;
      padding: 24px 6px;
    }

    input {
      font-family: $raleway-font;
      font-size: 16px;
      width: 100%;
      border: 2px solid gray;
      background: $font-gray;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 20px 12px;
      outline: 0;

      &:valid {
        // Hides the label
        background: $font-gray;
      }

      &:focus + label {
        color: $chef-white;
        font-size: 12px;
        padding: 1px 6px;
        z-index: 2;
      }
    }

    label {
      transition: // not padding
        background 0.2s,
        color 0.2s,
        top 0.2s,
        bottom 0.2s,
        right 0.2s,
        left 0.2s;
      position: absolute;
      color: $chef-white;
      padding: 5px 6px;
    }
  }

  &.go-top {
    .input-control {
      input {
        padding: 24px;
        background-color: $font-gray;
        color: $chef-white;
      }

      label {
        top: 10px;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        color: $chef-white;
      }

      input:focus {
        padding: 24px 6px;
        background: $font-gray;
      }

      input:focus + label {
        bottom: 100%;
        margin-top: -10px;
      }
    }
  }
}

input {
  &[type=checkbox], &[type=radio] {
    opacity: 0;
    position: absolute;

    &:checked + label:before {
      background-position: 0 1px;
    }

    & + label:before {
      display: inline-block;
      line-height: 1;
      width: 22px;
      height: 20px;
    }
  }

  &[type=checkbox] {
    & + label:before {
      content: " ";
      padding-right: 1px;
      border-radius: 0.125rem;
      background-image: url("../images/custom-forms/checkbox.png");
      background-repeat: no-repeat;
      background-position: 0 -26px;
      vertical-align: top;
    }
  }

  &[type=radio] {
    & + label:before {
      content: "\2713";
      border-radius: 50%;
    }
  }
}
