// Learn Chef Landing Page
$l-teal: #58b8b3;
$l-yellow: #fbb715;
$l-light-blue: #6cb1e1;
$l-orange: #ef8820;
$l-dark-blue: #455565;

$tutorials-color: $l-light-blue;
$skills-color: $l-teal;
$docs-color: $l-yellow;
$training-color: $l-orange;
$community-color: $l-dark-blue;

$hero-bg: $primary-dark-blue;

$breakpoint: 800px;

@mixin large-home {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin mobile-home {
  @media (max-width: $breakpoint - 1px) {
    @content;
  }
}

@function centered-arrow-position($column, $gutter: 5.625%, $col-width: 15.5%) {
  // returns the position to horizontally center an arrow in a given column
  @return (($column - 1) * $col-width) + (($column - 1) * $gutter) + ($col-width / 2);
}

//New styles
.index .content {
  background: white;
  padding: 0;
  font-family: $raleway-font;
}
//common styles

.inline-list {
  list-style-type: none;
  margin: 0;

  li {
    display: inline-block;
  }
}

.home-hero-video {
  height: 560px;
  background: url("/assets/images/homepage/home-hero.png") no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
}

.video-desc {
  color: $box-background;
  font-family: $raleway-font;
  position: absolute;
  bottom: 25px;
  width: 35%;
  right: 2%;
  display: none;

  //tablet
  @include tablet {
    display: block;
  }

  //screen 768px and above
  @include desktop {
    width: 25%;
    right: 15%;
  }

  h3 {
    font-family: $raleway-font;
    font-weight: 600;
    font-size: 22px;
    color: $box-background;
    margin: 0;
  }

  p {
    font-weight: 500;
    font-family: $raleway-font;
    font-size: 18px;
  }

  a {
    font-weight: 500;
    color: $font-yellow;
    text-decoration: underline;
  }
}

.home-content {
  margin-top: 30px;

  h2 {
    text-align: center;
    color: $font-black;
    font-family: $raleway-font;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding: 30px 0;
    background-color: $light-gray-bg;
  }

  .tabs {
    list-style-type: none;

    li {
      &.tab-title {
        border: 0 none;
        display: inline-block;
        margin: 0 50px 0 0;

        a {
          color: $font-gray;
          font-family: $raleway-font;
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          padding: 12px 0;
          background-color: white;
        }
      }

      &.active {
        a {
          font-weight: 500;
          border-bottom: 3px solid $border-blue;
          color: $font-gray;
        }
      }
    }
  }

  .tabs-content {
    background-color: $light-gray-bg;
    margin-top: 0;
    border: 0;
  }
}

.profiles-section {
  text-align: left;
  font-family: $raleway-font;
  font-weight: 500;
  color: $font-gray;

  .header {
    background: url("/assets/images/homepage/Rallygoers.png") no-repeat;
    height: 56px;
    width: 205px;
    margin: 0 auto;
    margin-top: 30px;
  }

  h3 {
    font-family: $raleway-font;
    font-size: 18px;
    color: #000;
    margin: 30px 0 70px;
    text-align: center;
  }

  h4 {
    font-family: $raleway-font;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
  }

  p {
    color: $font-gray;
    font-size: 13px;
    width: 50%;
  }

  .profile-pic {
    width: 178px;
    height: 178px;
    margin: 0 auto;
    border-radius: 50%;
  }

  .profile-1 {
    background: url("/assets/images/homepage/profile-1.png") no-repeat;
  }

  .profile-2 {
    background: url("/assets/images/homepage/profile-2.png") no-repeat;
  }

  .profile-3 {
    background: url("/assets/images/homepage/profile-3.png") no-repeat;
  }
}

//color styles for different cards
.card-green {
  &.head,
  header, h4 {
    background-color: $light-green;
  }

  a {
    color: $light-green;
  }

  ul.links {
    li {
      a {
        color: $light-green;
        border-right: 1px solid $light-green;
      }
    }
  }
}

.card-yellow {
  &.head,
  header, h4 {
    background-color: $font-yellow;
  }

  a {
    color: $font-yellow;
  }

  ul.links {
    li {
      a {
        color: $font-yellow;
        border-right: 1px solid $font-yellow;
      }
    }
  }
}

.card-orange {
  &.head,
  header, h4 {
    background-color: $font-orange;
  }

  a {
    color: $font-orange;
  }

  ul.links {
    li {
      a {
        color: $font-orange;
        border-right: 1px solid $font-orange;
      }
    }
  }
}

.card-pink {
  &.head,
  header, h4 {
    background-color: $font-pink;
  }

  a {
    color: $font-pink;
  }

  ul.links {
    li {
      a {
        color: $font-pink;
        border-right: 1px solid $font-pink;
      }
    }
  }
}

.card-blue {
  &.head,
  header, h4 {
    background-color: $border-blue;
  }

  a {
    color: $border-blue;
  }

  ul.links {
    li {
      a {
        color: $border-blue;
        border-right: 1px solid $border-blue;
      }
    }
  }
}

.card-brown {
  &.head,
  header, h4 {
    background-color: $font-brown;
  }

  a {
    color: $font-brown;
  }

  ul.links {
    li {
      a {
        color: $font-brown;
        border-right: 1px solid $font-brown;
      }
    }
  }
}

.card-light-brown {
  &.head,
  header, h4 {
    background-color: $font-light-brown;
  }

  a {
    color: $font-light-brown;
  }

  ul.links {
    li {
      a {
        color: $font-light-brown;
        border-right: 1px solid $font-light-brown;
      }
    }
  }
}

.card-purple {
  &.head,
  header, h4 {
    background-color: $font-purple;
  }

  a {
    color: $font-purple;
  }

  ul.links {
    li {
      a {
        color: $font-purple;
        border-right: 1px solid $font-purple;
      }
    }
  }
}

.card-pastel-green {
  &.head,
  header, h4 {
    background-color: $font-pastel-green;

    span {
      width: 45%;
    }
  }

  a {
    color: $font-pastel-green;
  }

  ul.links {
    li {
      a {
        color: $font-pastel-green;
        border-right: 1px solid $font-pastel-green;
      }
    }
  }
}

.card-red {
  &.head,
  header, h4 {
    background-color: $font-red;
  }

  a {
    color: $font-red;
  }

  ul.links {
    li {
      a {
        color: $font-red;
        border-right: 1px solid $font-red;
      }
    }
  }
}

.card-light-orange {
  &.head,
  header, h4 {
    background-color: $font-light-orange;
  }

  a {
    color: $font-light-orange;
  }

  ul.links {
    li {
      a {
        color: $font-light-orange;
        border-right: 1px solid $font-light-orange;
      }
    }
  }
}

.card-light-yellow {
  &.head,
  header, h4 {
    background-color: $font-light-yellow;
  }

  a {
    color: $font-light-yellow;
  }

  ul.links {
    li {
      a {
        color: $font-light-yellow;
        border-right: 1px solid $font-light-yellow;
      }
    }
  }
}

//Footer styles
footer {
  padding: 20px 0;
  background-color: $border-blue;

  .head {
    text-transform: uppercase;
    color: white;
    padding: 10px 0;
  }

  ul.links-footer {
    border-top: 1px solid white;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;

    li {
      padding: 5px 0;

      &.separator {
        border-top: 1px solid white;
        margin-top: 15px;
        padding-top: 15px;
      }
    }

    a {
      color: white;
      font-size: 14px;
    }
  }

  ul.social-icon {
    list-style-type: none;
    margin: 30px 0 0;
    text-align: left;

    @include tablet {
      text-align: right;
    }

    li {
      display: inline-block;
      margin: 0 30px 0 0;

      @include tablet {
        margin: 0 5px 0 0;
      }

      @include tablet-portrait {
        margin: 0 15px 0 0;
      }

      @include desktop {
        margin: 0 30px 0 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        width: 30px;
        height: 30px;
        display: block;
      }
    }
  }

  .logo-footer {
    background: url("../images/chef-footer-logo.svg") no-repeat;
    height: 89px;
    width: 91px;
    display: block;

    @include tablet {
      margin-top: -45px;
    }
  }

  .copyright {
    color: white;
    font-family: $raleway-font;
    font-size: 12px;
    margin-top: 50px;
  }
}

.ic-fb {
  background: url("../images/social/fb-ic.png") no-repeat;
}

.ic-twitter {
  background: url("../images/social/twitter-ic.png") no-repeat;
}

.ic-linkedin {
  background: url("../images/social/linkedin-ic.png") no-repeat;
}

.ic-google {
  background: url("../images/social/google-ic.png") no-repeat;
}

.btn-container {
  text-align: center;
  padding: 30px 0;
}

.mktoButton,
.btn-primary {
  color: $chef-white;
  font-family: $raleway-font;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdb713+30,f18b21+67,f18b21+83 */
  background: #fdb713; /* Old browsers */
  background: -moz-linear-gradient(top, $font-yellow 30%, $font-orange 67%, $font-orange 83%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $font-yellow 30%, $font-orange 67%, $font-orange 83%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $font-yellow 30%, $font-orange 67%, $font-orange 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fdb713', endColorstr='#f18b21', GradientType=0); /* IE6-9 */
}

.btn-secondary {
  color: $chef-white;
  font-family: $raleway-font;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdb713+30,f18b21+67,f18b21+83 */
  background: $border-blue; /* Old browsers */
  background: -moz-linear-gradient(top, $secondary-blue 30%, $border-blue 67%, $border-blue 83%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $secondary-blue 30%, $border-blue 67%, $border-blue 83%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $secondary-blue 30%, $border-blue 67%, $border-blue 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fdb713', endColorstr='#f18b21', GradientType=0); /* IE6-9 */
}

.btn-red {
  color: $chef-white;
  font-family: $raleway-font;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdb713+30,f18b21+67,f18b21+83 */
  background: $border-blue; /* Old browsers */
  background: -moz-linear-gradient(top, $btn-light-red 30%, $btn-red 67%, $btn-red 83%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $btn-light-red 30%, $btn-red 67%, $btn-red 83%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $btn-light-red 30%, $btn-red 67%, $btn-red 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c33a32', endColorstr='#9b2d23', GradientType=0); /* IE6-9 */
}

/*Login sign-up modal styles*/
.login-modal {
  text-align: center;
  background-color: $border-blue;
  padding: 0 0 30px;
  border: 0;
  border-radius: 0;

  @include tablet {
    width: 400px;
    margin-top: 10%;
  }

  .lead {
    color: $font-gray;
    font-family: $raleway-font;
    font-size: 16px;
    font-weight: 500;
    padding: 30px 0;
    margin: 0;
  }

  .modal-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .modal-body {
    background-color: white;
  }

  .social {
    margin: 0 auto;
    padding: 0 0 30px;
    text-align: center;

    a {
      color: $font-gray;
      font-size: 42px;
      display: inline-block;
      margin: 0 20px 20px;
      width: 86px;
      height: 40px;
      text-align: center;
      vertical-align: top;
    }

    .ic-chef-supermarket {
      background: url("../images/login/chef-supermarket.svg") no-repeat 0 3px;
    }
  }

  form {
    padding: 0 $column-gutter $column-gutter $column-gutter;
    width: 100% !important;
  }
}

//Consistent close icon for all the reveal modal
.reveal-modal {
  a.close-reveal-modal {
    position: absolute;
    top: 10px;
    right: 18px;
  }

  .ic-close {
    background: url("../images/login/ic-close.svg") no-repeat;
  }

  .ic-close-blue {
    background: url("../images/login/ic-close-blue.png") no-repeat;
  }

  .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
  }
}

.reveal-modal-bg {
  background-color: rgba(250, 250, 250, 0.7);
}

/*Grid styles override - _grid.scss*/
.column,
.columns {
  & + &:last-child {
    float: $default-float;
  }
}

#socialShare {
  .social {
    padding-top: 30px;
  }
}

#contact-form,
#subscribe-form {
  max-width: 25rem;
}
