// Learn Chef Landing Page
$l-teal: #58b8b3;
$l-yellow: #fbb715;
$l-light-blue: #6cb1e1;
$l-orange: #ef8820;
$l-dark-blue: #455565;

$tutorials-color: $l-light-blue;
$skills-color: $l-teal;
$docs-color: $l-yellow;
$training-color: $l-orange;
$community-color: $l-dark-blue;

$hero-bg: $primary-dark-blue;

$breakpoint: 800px;

@mixin large-home {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin mobile-home {
  @media (max-width: $breakpoint - 1px) {
    @content;
  }
}

@function arrow-position($column, $gutter: 5.625%, $col-width: 15.5%) {
  // returns the position to horizontally center an arrow in a given column
  @return (($column - 1) * $col-width) + (($column - 1) * $gutter) + ($col-width / 2);
}

// Home styles for all sizes
.index .content {
  background: white;
  padding: 0;
  font-family: $accent-font;
}

.home--hero {
  padding: 20px 0;
  background: $hero-bg;
  color: white;
}

.home--hero--heading {
  margin-top: 0;
  font-family: inherit;
  text-transform: uppercase;
  color: inherit;
}

.home--hero--text {
  margin: 0;
}

.home--section--title {
  text-transform: uppercase;
  color: inherit;
}

.home--section--heading {
  margin: 0;
  font-family: inherit;
  color: inherit;

  & > .fa {
    font-size: 86%;
  }
}

@include mobile-home {
  // title area
  .home--section--title {
    display: block;
    width: 100%;
    padding: 10px 10%;

    [data-section="tutorials"] & {
      background: $tutorials-color;
    }

    [data-section="skills"] & {
      background: $skills-color;
    }

    [data-section="docs"] & {
      background: $docs-color;
    }

    [data-section="training"] & {
      background: $training-color;
    }

    [data-section="community"] & {
      background: $community-color;
    }
  }

  .home--section--icon {
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;

    & > svg {
      width: 40px;
      height: 40px;
      @include transform(scale(1.7));
    }

    .learn-icon {
      fill: white;
    }

    .learn-icon-circle {
      fill: transparent;
    }
  }

  .home--section--heading {
    padding: 10px 0;
    vertical-align: middle;
    display: inline-block;
    color: white;

    & > .fa {
      margin-left: 10px;
    }
  }

  .home--section--description {
    display: block;
    padding: 15px 10% 34px;
    margin-bottom: 0;
  }

  .home--descriptions {
    display: none;
  }
}

@include large-home {
  .home--sections {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }

  .home--section {
    width: 15.5%;
    padding: 2% 0;
    text-align: center;
  }

  .home--section--title {
    opacity: 0.8;
    transition: opacity 0.2s ease;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;

      .home--section--icon {
        @include pulse;
      }
    }
  }

  .home--section--heading {
    font-size: 15px;

    & > .fa {
      margin-left: 5px;
    }
  }

  .home--section--icon {
    width: 100%;
    margin: 0 auto 20px;

    &.fade-in {
      opacity: 0;
    }
  }

  .home--section--description {
    display: none;
  }

  [data-section="tutorials"] {
    .home--section--title {
      color: $tutorials-color;
    }

    .fade-in {
      @include fadeIn(0s)
    }

    .learn-icon {
      fill: $tutorials-color;
    }

    .learn-icon-circle {
      fill: $tutorials-color;
    }
  }

  [data-section="skills"] {
    .home--section--title {
      color: $skills-color;
    }

    .fade-in {
      @include fadeIn(0.3s)
    }

    .learn-icon {
      fill: $skills-color;
    }

    .learn-icon-circle {
      fill: $skills-color;
    }
  }

  [data-section="docs"] {
    .home--section--title {
      color: $docs-color;
    }

    .fade-in {
      @include fadeIn(0.5s)
    }

    .learn-icon {
      fill: $docs-color;
    }

    .learn-icon-circle {
      fill: $docs-color;
    }
  }

  [data-section="training"] {
    .home--section--title {
      color: $training-color;
    }

    .fade-in {
      @include fadeIn(0.7s)
    }

    .learn-icon {
      fill: $training-color;
    }

    .learn-icon-circle {
      fill: $training-color;
    }
  }

  [data-section="community"] {
    .home--section--title {
      color: $community-color;
    }

    .fade-in {
      @include fadeIn(0.9s)
    }

    .learn-icon {
      fill: $community-color;
    }

    .learn-icon-circle {
      fill: none;
      stroke: $community-color;
      stroke-width: 3;
    }
  }

  .home--descriptions {
    position: relative;
    z-index: 2;
    display: block;
    height: 161px;
    transition: all 0.2s ease;

    &.tutorials-active {
      background: $tutorials-color;

      & > [data-section="tutorials"] {
        opacity: 1;
        z-index: 3;

        &:before {
          left: arrow-position(1);
          border-bottom-color: $tutorials-color;
        }
      }
    }

    &.skills-active {
      background: $skills-color;

      & > [data-section="skills"] {
        opacity: 1;
        z-index: 3;

        &:before {
          left: arrow-position(2);
          border-bottom-color: $skills-color;
        }
      }
    }

    &.docs-active {
      background: $docs-color;

      & > [data-section="docs"] {
        opacity: 1;
        z-index: 3;

        &:before {
          left: arrow-position(3);
          border-bottom-color: $docs-color;
        }
      }
    }

    &.training-active {
      background: $training-color;

      & > [data-section="training"] {
        opacity: 1;
        z-index: 3;

        &:before {
          left: arrow-position(4);
          border-bottom-color: $training-color;
        }
      }
    }

    &.community-active {
      background: $community-color;

      & > [data-section="community"] {
        opacity: 1;
        z-index: 3;

        &:before {
          left: arrow-position(5);
          border-bottom-color: $community-color;
        }
      }
    }
  }

  .home--description {
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 90%;
    max-width: 1200px;
    padding: 40px 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease;
    color: white;

    & > a {
      color: inherit;
      border-bottom: 2px solid white;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 100%;
      width: 0;
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 14px solid transparent;
      transform: translateX(-50%);
    }
  }
}
