// Learn Chef Landing Page 
$l-teal: #58b8b3;
$l-yellow: #fbb715;
$l-light-blue: #6cb1e1;
$l-orange: #ef8820;

$tutorials-color: $l-light-blue;
$skills-color: $l-teal;
$docs-color: $l-yellow;
$training-color: $l-orange;

$hero-bg: $primary-dark-blue;

$breakpoint: 800px;

// Home styles for all sizes
.index .content {
  background: white;
  padding: 0;
}

.learn-home {
  font-family: $accent-font;
  #hero {
    background: $hero-bg;
    color: white;
    text-align: center;
    p {
      margin: 0;
    }
    .container {
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px 0;
    }
  }
  h1 {
    margin-top: 0;
    font-family: inherit;
    text-transform: uppercase;
    color: inherit;
  }
  h2 {
    margin: 0;
    font-family: inherit;
    color: inherit;
    .fa {
      font-size: 86%;
    }
  }
  .learn-section-title {
    text-transform: uppercase;
    a {
      color: inherit;
    }
  }
  // Home at Mobile Size
  @media screen and (max-width: $breakpoint) {
    // TITLE AREA
    .learn-section-title {
      width: 100%;
      padding: 10px 10%;
    }
    .tutorials-title {
      background: $tutorials-color;
    }
    .skills-title {
      background: $skills-color;
    }
    .docs-title {
      background: $docs-color;
    }
    .training-title {
      background: $training-color;
    }
    // TITLE AREA - Icon and Heading
    .learn-section-icon {
      vertical-align: middle;
      display: inline-block;
      margin-right: 20px;
      svg {
        width: 40px;
        height: 40px;
        @include transform(scale(1.7));
      }
      .learn-icon {
        fill: #fff;
      }
      .learn-icon-circle {
        fill: transparent;
      }
    }
    h2 {
      vertical-align: middle;
      display: inline-block;
      color: white;
      padding: 10px 0;
      .fa {
        margin-left: 10px;
      }
    }
    // DESCRIPTION
    .description {
      display: block;
      padding: 15px 10% 34px;
      p {
        margin-bottom: 0;
      }
    }
    .lg-description {
      display: none;
    }
  }
  // Home at Large Size
  @media screen and (min-width: $breakpoint) {
    // Positioning the Titles and Icons
    $cols: 4;
    $col-width: 19.68%;
    $gutters: $cols - 1;
    $gutter-width: (100 - ($cols * $col-width)) / $gutters;
    .learn-sections {
      position: relative;
      padding-top: 27%;
      margin: 0 auto;
      width: 90%;
      max-width: 1200px;
    }
    .learn-section-title {
      position: absolute;
      top: 9%;
      width: $col-width;
      text-align: center;
      opacity: 0.8;
      @include transition(opacity 0.2s ease);
      &:hover {
        opacity: 1;
        // hover animation for icons
        .learn-section-icon {
          @include pulse;
        }
      }
    }
    // first column
    .tutorials-title {
      left: 0;
      color: $tutorials-color;
      .fade-in {
        @include fadeIn(0);
      }
      .learn-icon {
        fill: $tutorials-color;
      }
      .learn-icon-circle {
        fill: $tutorials-color;
      }
    }
    // second column
    .skills-title {
      left: ($col-width * 1) + ($gutter-width * 1);
      color: $skills-color;
      .fade-in {
        @include fadeIn(0.3s);
      }
      .learn-icon {
        fill: $skills-color;
      }
      .learn-icon-circle {
        fill: $skills-color;
      }
    }
    // third column
    .docs-title {
      left: ($col-width * 2) + ($gutter-width * 2);
      color: $docs-color;
      .fade-in {
        @include fadeIn(0.5s);
      }
      .learn-icon {
        fill: $docs-color;
      }
      .learn-icon-circle {
        fill: $docs-color;
      }
    }
    // fourth column
    .training-title {
      left: ($col-width * 3) + ($gutter-width * 3);
      color: $training-color;
      .fade-in {
        @include fadeIn(0.7s);
      }
      .learn-icon {
        fill: $training-color;
      }
      .learn-icon-circle {
        fill: $training-color;
      }
    }

    h2 {
      font-size: 15px;
      .fa {
        margin-left: 5px;
      }
    }
    .learn-section-icon {
      width: 100%;
      margin: 0 auto 20px;
      &.fade-in {
        opacity: 0;
      }
    }

    .description {
      display: none;
    }
    .lg-description {
      position: relative;
      z-index: 2;
      display: block;
      height: 161px;
      @include transition(all 0.5s ease);
      p {
        position: absolute;
        width: 90%;
        max-width: 1200px;
        padding: 40px 0;
        top: 0;
        left: 50%;
        color: white;
        opacity: 0;
        @include transform(translateX(-50%));
        @include transition(opacity 0.5s ease);
        &:before { // CSS Triangle
          content: "";
          position: absolute;
          z-index: 1;
          bottom: 100%;
          width: 0;
          height: 0;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-bottom: 14px solid transparent;
          @include transform(translateX(-50%));
          @media (max-width: 1010px) {
            border-width: 0 7px 7px;
          }
        }
      }
      a {
        color: inherit;
        border-bottom: 2px solid white;
      }
      &.tutorials-active {
        background: $tutorials-color;
        .tutorials-description {
          opacity: 1;
          z-index: 3;
          &:before {
            left: 9.84%;
            border-bottom-color: $tutorials-color;
          }
        }
      }
      &.skills-active {
        background: $skills-color;
        .skills-description {
          opacity: 1;
          z-index: 3;
          &:before {
            left: 36.54%;
            border-bottom-color: $skills-color;
          }
        }
      }
      &.docs-active {
        background: $docs-color;
        .docs-description {
          opacity: 1;
          z-index: 3;
          &:before {
            left: 63.38%;
            border-bottom-color: $docs-color;
          }
        }
      }
      &.training-active {
        background: $training-color;
        .training-description {
          opacity: 1;
          z-index: 3;
          &:before {
            left: 90.16%;
            border-bottom-color: $training-color;
          }
        }
      }
    }
  }
  @media all and (min-width: 1320px) {
    .learn-sections {
      height: 350px;
      padding-top: 0;
    }
  }
}


