// Mixin that takes an optional axis for rotation. Include this on an element
@mixin logo-animation($axis) {
  -webkit-animation-name: $axis;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  animation-name: $axis;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-transform-origin: center;
  transform-origin: center;

  @if $axis == z {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }

  @else {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
  }
}

// Keyframes for axes
@-webkit-keyframes x {
  0% {
    -webkit-transform: rotateX(0deg);
  }

  100% {
    -webkit-transform: rotateX(360deg);
  }
}

@-webkit-keyframes y {
  0% {
    -webkit-transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
  }
}

@-webkit-keyframes z {
  0% {
    -webkit-transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
  }
}

@keyframes x {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

@keyframes y {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes z {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.logo {
  font-size: 0;
  line-height: 0;
  width: 80px;
  height: 80px;
  white-space: nowrap;
  margin: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.logo path {
  fill: $primary-gray;

  &.dark {
    fill: $primary-orange;
  }
}

.logo-animate {
  .ring-0 {
    @include logo-animation(z);
  }

  .ring-1 {
    @include logo-animation(x);
  }

  .ring-2 {
    @include logo-animation(y);
  }

  .ring-3 {
    @include logo-animation(x);
  }
}
