@import 'compass/css3';

#header {
  background-color: #212c35;
  @include box-shadow(0 0 10px);
  margin-bottom: $paragraph-margin-bottom;

  height: 92px;
  line-height: 92px;

  .title-area {
    height: 92px;
    li.menu-icon {
      margin-top: 4px;
    }
  }
}

#logo {
  display: inline-block;
  height: 62px;
  line-height: 62px;
  margin-top: 8px;
  margin-left: 15px;
  width: 215px;
}

#top-nav {
  @include inline-list;
  background: none; // Gets rid of Foundaton 5 styles
  line-height: 2.45em;
  margin: 24px 20px 0 0;
  li {
    background: none; // Gets rid of Foundaton 5 styles
    a {
      background: none; // Gets rid of Foundaton 5 styles
      color: #fff;
      font-family: $accent-font;
      font-size: 0.8em;
      text-transform: uppercase;
    }

    a:hover {
      color: $secondary-blue;
    }
  }
}

#social-nav {
  @extend #top-nav;
  margin-top: 27px;
  li {
    a {
      font-size: 1.05em;
    }
  }
}

#platform-tabs {
  margin: 25px 0 0;
  text-align: center;

  li {
    filter: alpha(opacity=60);
    opacity: .6;
    vertical-align: top;
    width: 150px;

    img {
      box-shadow: none;
      display: block;
      margin: auto;
      margin-bottom: 0.5em;
      width: 80px;
      height: 80px;
    }

    a {
      border: none;
      color: $header-font-color;

      &:hover {
        background: none;
        border: none;
      }
    }

    &:not(.active):hover {
      opacity: 1;
      filter: alpha(opacity=100);
      @include transition(all 0.1s ease);
    }
  }

  > li {
    display: inline-block;
    float: none;
  }
}

// Foundation 5's mobile design shifts the logo up 1px, so the following style
// keeps it in the same position throughout any width.
@media (max-width: 640px) {
  #logo {
    margin-top: 9px;
  }
}

// At widths smaller than 788px, the navigation bar starts to stack its links.
// The following styling hides the navigation bar at widths below 788px similarly to Foundation's '.hide-for-small'
// and instead shows the consolidated Menu icon.
@media (max-width: 790px) and (min-width: 641px) {
  #header {
    ul.title-area {
      width: 100%;
      li {
        // Foundation 5 shifting problem here as well, similar to #logo.
        &.menu-icon {
          margin-top: 6px;
        }
        display: list-item;
      }
    }
  }

  #top-nav {
    display: none;
  }

  #social-nav {
    @extend #top-nav;
  }
}

#disqus_thread {
  @extend .panel;
  background: #fff;
  margin-top: 24px;
}

#footer {
  border-top: 1px solid #ddd;
  margin: 0;
  padding-top: 1.25rem;

  .copyright {
    text-align: right;
  }
}

@media only screen and (min-width: 760px) {
  .sticky {
    position: fixed;
    top: 25px;
  }
}

// Section linking
a.section-link {
  margin-left: -0.75em;
  color: #dddddd;
  font-size: 80%;
  padding-right: 0.25em;
  vertical-align: top;
  visibility: hidden;

  &:hover {
    color: $primary-orange;
  }
}

// Put a border around images (screenshots) in the main content
.content img {
  display: block;
  margin: 1em auto;
  max-width: 80%;
  text-align: center;
  box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 6px 13px 4px rgba(0,0,0,0.56), 0 0 0 0px rgba(0, 0, 0, 0.3);
}

// Strong tags in alert warnings
.alert-box.alert strong, .alert-box.alert a {
  color: $alert-box-warn-highlight;
}
