.modules .content {
  background: white;
  padding: 0;
  font-family: $raleway-font;
}
.module-hero {
  height: 127px;
  background: url("../images/tracks/track-banner.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .head {
    font-family: $raleway-font;
    font-size: 42px;
    color: white;
    margin: 0;
  }
}
.module-content{
  background-color: $light-gray-bg;
  h3{
    font-size: $raleway-font;
    color: $font-black;
    margin: 30px 0;
  }
  p{
    margin: 20px 0;
    color: $font-black;
  }
  .server-card{
    background-color: white;
    padding: 20px 25px;
    text-transform: capitalize;
    margin-bottom: 40px;
    height: 190px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5{
      margin: 0;
      font-family: $raleway-font;
      font-size: 18px;
      font-weight: 500;
      color: $font-black;
      span{
        vertical-align: top;
      }
    }
    p{
      margin: 0;
      height: 80px;
      font-size: 14px;
    }
    button{
      margin: 0 auto;
      width: 50%;
    }
  }
}
.ic-server{
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 20px;
}
.ic-redhat{
  background: url("../images/modules/redhat.png")no-repeat;
}
.ic-windows{
  background: url("../images/modules/windows.png")no-repeat;
}
.ic-ubuntu{
  background: url("../images/modules/ubuntu.png")no-repeat;
}
