.modules .content {
  background: white;
  padding: 0;
  font-family: $raleway-font;
}

.module-hero {
  height: 127px;
  background: url("../images/tracks/track-banner.png") no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .progress-bar {
    width: 45%;
    display: block;
    margin: 5px 0;
  }

  .head {
    font-family: $raleway-font;
    font-size: 42px;
    color: white;
    margin: 0;
  }
}

.module-content {
  background-color: $light-gray-bg;

  h1, h2, h3 {
    font-family: $raleway-font;
    font-size: 28px;
    color: $font-black;
    font-weight: 500;
    margin: 30px 0;
  }

  p {
    margin: 20px 0;
    color: $font-black;
  }

  .server-card {
    background-color: white;
    padding: 20px 25px;
    text-transform: capitalize;
    margin-bottom: 40px;
    height: 190px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h5 {
      margin: 0;
      font-family: $raleway-font;
      font-size: 18px;
      font-weight: 500;
      color: $font-black;

      span {
        vertical-align: top;
      }
    }

    p {
      margin: 0;
      height: 120px;
      font-size: 14px;
    }

    .button {
      margin: 0 auto;
      width: 50%;
    }
  }
}

.ic-server {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 20px;
}

.ic-redhat {
  background: url("../images/modules/redhat.png") no-repeat;
}

.ic-windows {
  background: url("../images/modules/windows.png") no-repeat;
}

.ic-ubuntu {
  background: url("../images/modules/ubuntu.png") no-repeat;
}

.ic-hosted-chef {
  background: url("../images/modules/hosted-chef.png") no-repeat;
}

.ic-aws {
  background: url("../images/modules/AWS-opswork.png") no-repeat;
}

.ic-amazon {
  background: url("../images/modules/amazon.png") no-repeat;
}

.ic-vagrant {
  background: url("../images/modules/vagrant.png") no-repeat;
}

.ic-own-system {
  background: url("../images/modules/own-system.png") no-repeat;
}

.ic-chef-automate {
  background: url("../images/modules/chef-automate.png") no-repeat;
  display: inline-block;
  width: 100%;
  height: 25px;
}
