.modules .content {
  background: white;
  padding: 0;
  font-family: $raleway-font;
}

.module-hero {
  background: url("../images/tracks/track-banner.png") no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .progress-bar {
    @media (min-width: 768px) {
      width: 33%;
    }
    margin: -20px 0 20px;
  }

  .head {
    font-family: $raleway-font;
    font-size: 42px;
    color: white;
    margin: 25px 0;
  }
}

body.has-welcome .module-hero {
  padding-top: 35px;
}

.module-content {
  .module {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    @include desktop {
      flex-wrap: nowrap;
    }
  }

  .main {
    flex: 1 1 auto;
    padding: 5px ($grid-gutter / 2) 0;
    overflow: hidden;
  }

  .sidebar {
    flex: 1 0 300px;
    padding: 0 ($grid-gutter / 2);
    position: relative;

    > ul {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;

      @media #{$large-down} {
        // For small screens, disable the fixed positioning from the scrollToFixed plugin. We're not
        // using the plugin's minWidth option because it uses px, while the @media queries use ems.
        position: relative !important;
        width: 100% !important;
        top: 0 !important;
        left: 0 !important;
      }
    }

    div {
      // When the ul position is relative (for small screens), the scrollToFixed plugin adds an unwanted div with fixed height
      display: none !important;
    }

    @include desktop {
      flex-grow: 0;
    }
  }

  h2, h3 {
    font-family: $raleway-font;
    font-size: 28px;
    color: $font-black;
    font-weight: 500;
    margin: 30px 0;
  }

  p {
    margin: 20px 0;
    color: $font-black;
  }

  .platform-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $column-gutter / 2;

    .grid-item {
      flex: 0 1 100%;
      padding: $column-gutter / 2;

      @include tablet {
        flex-basis: 50%;
      }

      @include desktop {
        flex-basis: 33.3%;
      }

      @include large-desktop {
        flex-basis: 25%;
      }
    }
  }

  .server-card {
    background-color: white;
    padding: 20px 25px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h5 {
      display: flex;
      align-items: center;
      margin: 0 0 10px 0;
      font-family: $raleway-font;
      font-size: 18px;
      font-weight: 500;
      color: $font-black;
      height: 45px;

      span {
        flex: 1 1 auto;
      }
    }

    p {
      flex: 1 1 auto;
      margin: 0;
      padding-bottom: $column-gutter / 2;
      font-size: 14px;
    }

    .button {
      margin: 0 auto;
    }

    .window {
      h1 {
        font-size: 2px;
      }
    }
  }

  ol,
  ul {
    li {
      color: $font-black;

      p:first-child {
        margin: 0;
        display: inline-block;
      }
    }
  }
}

.modules-section {
  background-color: $light-gray-bg;
  padding-top: 50px;
}

.module-hide {
  display: none;
}

.track-hide {
  display: none;
}

.module-card {
  background: white;
  margin-bottom: 40px;
  height: 260px;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    background-color: $font-yellow;
    padding: 0 20px;
    font-family: $raleway-font;
    font-size: 16px;
    font-weight: 400;
    color: $font-black;
    line-height: 20px;
    height: 94px;
    position: relative;
    text-transform: inherit;

    span {
      position: relative;
      z-index: 1;
    }
  }

  .progress-bar {
    padding: 0 15px;
    height: 20px;
    margin-top: 15px;

    .count {
      width: 20%;
      float: left;
      color: $font-gray;
    }

    .progress {
      margin-top: 5px;
      width: 80%;
      float: left;
      background-color: $progress-bg;

      .meter {
        background-color: $border-blue;
      }
    }
  }

  .time {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: $font-gray;
    font-size: 12px;
  }

  p {
    color: $font-black;
    font-family: $raleway-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    clear: both;
    height: 60px;
    overflow: hidden;
    margin: 15px;

    span {
      display: block;
    }
  }

  ul.links {
    list-style-type: none;
    position: absolute;
    bottom: 5px;
    margin: 0 15px;
    width: 60%;

    li {
      display: inline-block;

      a {
        color: $font-gray;
        font-size: 12px;
        border-right: 1px solid $font-gray;
        padding-right: 5px;
      }

      &:last-child a {
        border-right: 0 none;
      }
    }
  }

  user-progress-stamp {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 90px;
    height: 108px;

    img {
      box-shadow: none;
    }
  }

  .module-overlay {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    border: 2px solid $font-yellow;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    z-index: 2;

    a {
      text-decoration: underline;
      line-height: 22px;
    }

    a.button {
      text-decoration: none;
      margin-top: 92px;
      width: 85%;
    }

    p.social {
      margin-top: 30px;

      a {
        font-size: 22px;
        margin: 0 15px;
        text-decoration: none;
      }
    }
  }

  a {
    &:hover {
      .header {
        span {
          z-index: 3;
        }

        .time {
          color: $font-black;
        }
      }

      .module-overlay {
        display: flex;
      }
    }
  }
}

.ic-server {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 20px;
}

.ic-redhat {
  background: url("../images/modules/redhat.png") no-repeat;
}

.ic-windows {
  background: url("../images/modules/windows.png") no-repeat;
}

.ic-ubuntu {
  background: url("../images/modules/ubuntu.png") no-repeat;
}

.ic-hosted-chef {
  background: url("../images/modules/hosted-chef.png") no-repeat;
}

.ic-aws {
  background: url("../images/modules/AWS-opswork.png") no-repeat;
}

.ic-amazon {
  background: url("../images/modules/amazon.png") no-repeat;
}

.ic-vagrant {
  background: url("../images/modules/vagrant.png") no-repeat;
}

.ic-own-system {
  background: url("../images/modules/own-system.png") no-repeat;
}

.ic-chef-automate {
  background: url("../images/modules/chef-automate.png") no-repeat;
  display: inline-block;
  width: 100%;
  height: 25px;
}

.gray-bg {
  background-color: $light-gray;
}

.discussion {
  padding: 40px 0;

  h3 {
    color: $font-black;
    padding-top: 30px;
    text-align: center;
    font-family: $raleway-font;
    font-size: 28px;
    margin: 0;
  }
}

.multi-page {
  .module-content {
    background-color: $light-gray;

    .main {
      padding-top: ($grid-gutter / 2);
    }
  }
}

module-filter {
  margin-top: 40px;
  float: left;

  .btn {
    background: transparent;
    color: $font-gray;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid $chef-white;

    &:after {
      content: "\25bc";
      color: $primary-orange;
      display: inline-block;
      line-height: 1;
      width: 22px;
      height: 20px;
    }

    &:focus {
      border-color: $light-gray-bg;
      border-bottom: 0;
      outline: 0;

      &:after {
        content: "\25b2";
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    background-color: $chef-white;
    z-index: 99;
    margin: 0;
    list-style-type: none;
    width: 195px;
    height: 100%;
    border: 1px solid $light-gray-bg;

    li {
      padding: 5px 10px;

      input[type=checkbox] {
        opacity: 1;
        position: relative;
        margin: 0;
        vertical-align: text-bottom;
      }

      a {
        color: $font-gray;
      }
    }
  }
}

.progress-count {
  list-style-type: none;
  margin: 0 15px 30px;

  li {
    display: inline-block;
    margin-right: 30px;
    color: $font-gray;
    font-size: 20px;
    font-family: $raleway-font;
    font-weight: 500;

    span {
      color: $border-blue;
      font-family: $accent-font;
    }
  }
}
