// Nav Styling
$nav-links: $secondary-gray;
$nav-links-hover: darken($secondary-gray, 20%);
$nav-breakpoint: 714px;
$nav-border: 3px solid lighten($secondary-gray, 30%);

.downloads .nav-main {
  margin-bottom: 20px;
}

// Top Bar
.contain-to-grid {
  background-color: rgba(250, 250, 250, 0.9);
}

.nav-main {
  background-color: transparent;
  line-height: 1;

  .logo-learn-chef {
    width: 140px;
    display: inline-block;
  }

  ul.links {
    li {
      a {
        font-family: $raleway-font;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: $font-gray;
        vertical-align: top;
        border: 0;

        &:hover {
          border: none;
          background-color: transparent;
        }
      }
    }
  }

  @media (min-width: $nav-breakpoint) {
    .row {
      position: relative;
      max-width: 1366px;
    }
  }
}

// List of Nav Links
.nav-links {
  margin: 0;
  clear: both;
  padding: 10px 17px;
  color: $nav-links;
  background: white;
  line-height: 2;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;

  a {
    display: inline-block;
    color: inherit;
    transition: all 0.4s ease;
  }

  li {
    display: block;
    clear: both;
  }

  a:hover,
  .is-active a {
    color: $nav-links-hover;
  }
}

// Nav at Smaller sizes
@media (max-width: $nav-breakpoint - 1px) {
  .nav-links {
    display: none;
    padding-left: 0;
    width: 100%;
    z-index: 3;
    transition: right 0.2s ease;
  }
}

// Links List at Larger Sizes
@media (min-width: $nav-breakpoint) {
  .nav-links {
    display: block;
    clear: none;
    float: left;
    margin: 7px 0 0 26px;
    padding: 0;
    font-size: 14px;
    line-height: 1;

    li {
      display: inline-block;
      margin-left: 20px;

      &:first-child {
        margin: 0;
      }
    }
  }

  .nav-link {
    a {
      padding-bottom: 3px;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 3px solid $nav-links-hover;
      }
    }

    &.is-active a {
      border-bottom: 3px solid $nav-links-hover;
    }
  }
}

// Hamburger Icon
#nav-icon {
  position: absolute;
  top: 13px;
  right: 52px;
  width: 27px;
  height: 24px;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 17px;
  line-height: 1;
  color: $primary-dark-blue;

  @media (min-width: $nav-breakpoint) {
    display: none;
  }
}

// Logo on Right Side of Nav
#logo {
  position: absolute;
  top: 2px;
  right: 20px;
  width: 28px;
  height: 28px;

  img {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $nav-breakpoint) {
    top: -9px;
    right: 0;
  }
}

//Navigation dropdown icons
.icon-sprite {
  background-image: url("../images/login/login-sprite.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  float: left;
}

.ic-profile {
  background-position: 3px 1px;
}

.ic-progress {
  background-position: 3px -21px;
}

.ic-log-out {
  background-position: 3px -44px;
}

.ic-about-chef {
  background-position: 0 -69px;
}
