// CSS for Chef Lab provisioner
[data-chef-lab-provisioner] {
  &[ng-cloak] {
    display: none !important;
  }

  .start {
    margin-bottom: 1.25em;
    text-align: center;

    button {
      margin: 0 auto;
    }

    button[disabled] {
      cursor: not-allowed;
    }
  }

  .waiting {
    margin: 3em;
    text-align: center;

    p {
      line-height: 1.25;
      margin: 1.25em;
    }
  }

  .waiting, .ready, .error {
  }
}
