.profile {
  .content {
    background-color: $chef-white;
    padding: 0;
  }

  .tabs-content {
    border: 0;
    margin: 0;
  }
}

.profile-hero {
  height: 725px;
  background: url("/assets/images/profile/profile-hero.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.profile-card {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdb713+0,fdb713+40,ffffff+41,ffffff+100 */
  background: #fdb713; /* Old browsers */
  background: -moz-linear-gradient(top, $font-yellow 0%, $font-yellow 40%, $chef-white 40%, $chef-white 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $font-yellow 0%, $font-yellow 40%, $chef-white 40%, $chef-white 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $font-yellow 0%, $font-yellow 40%, $chef-white 40%, $chef-white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fdb713', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
  border-radius: 15px;
  margin-top: 30px;
  height: 350px;
  position: relative;
  padding: 12px 20px;

  .settings {
    color: $chef-white;
    font-size: 26px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;
  }

  .user-info {
    width: 90%;
    background: url("../images/profile/chef-watermark.png") no-repeat right bottom;
    float: left;
    padding: 15px 0 0 10px;
  }

  .avatar {
    float: left;
    width: 178px;
    height: 180px;
    background: url("../images/profile/avatar.png") no-repeat -12px -10px;

    .name {
      font-family: $raleway-font;
      color: $border-blue;
      font-weight: 600;
      bottom: -30px;
      position: absolute;
    }
  }

  .display-name {
    font-family: $raleway-font;
    font-weight: 600;
    float: left;
    color: $chef-white;
    text-transform: uppercase;
    font-size: 32px;
    margin: 70px 0 0 10px;

    span {
      display: block;
      color: $font-black;
      font-size: 16px;
      font-weight: 300;
      text-transform: capitalize;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
}

ul.tabs {
  margin-top: 20px;

  li {
    &.tab-title {
      border: 0;
      margin-right: 20px;

      a {
        font-family: $raleway-font;
        font-weight: 300;
        color: $font-gray;
        font-size: 18px;
        border-bottom: 3px solid transparent;
        background-color: $chef-white;
        padding: 18px 10px;

        &:hover {
          background-color: $chef-white;
        }
      }

      &.active {
        a {
          color: $font-gray;
          border-bottom: 3px solid $font-yellow;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
    }
  }
}

ul.social-icons {
  list-style-type: none;
  margin: 0;

  li {
    display: inline-block;
    margin-left: 20px;

    a {
      color: $font-gray;
      font-size: 22px;
    }
  }
}

.achievements {
  padding-top: 40px;

  h2 {
    font-family: $raleway-font;
    float: left;
    color: $font-black;
  }

  .social-icons {
    float: right;
    margin-top: 10px;
  }
}

.coasters-list {
  background-color: $light-gray-bg;

  .img-wrap {
    height: 200px;

    img {
      box-shadow: none;
    }
  }
}

.rally-info {
  position: absolute;
  bottom: 0;
  width: 90%;

  img {
    box-shadow: none;
    width: 100px;
    margin-left: 55px;
    float: left;
  }

  span {
    margin: 30px;
    display: inline-block;
    float: right;
  }
}

.edit-profile {
  background: rgba(250, 250, 250, 0.9);
  padding: 50px 20px;
  margin: 30px 40px 0 60px;
  position: relative;
  float: left;

  .close-btn {
    font-size: 34px;
    position: absolute;
    top: 0;
    right: 10px;
  }

  .login-type {
    color: $font-gray;
    font-size: 44px;
    float: right;
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
  }
}

