// CSS for Chef Lab provisioner
[data-chef-lab-provisioner] {

}

#cloudshare-modal {
  
  $cloudshare-modal-width: 500px;

  @media #{$medium-up} {
    min-width: $cloudshare-modal-width;
    max-width: $cloudshare-modal-width;
    margin-left: -($cloudshare-modal-width / 2);
  }

  img.crop {
    box-shadow: 0px 2px 4px #777;
  }

  button {
    margin: 0;
  }
}
