user-module-progress {
  display: block;
  margin: 0;
  float: left;
  width: 100%;
}

.progress-bar {
  display: flex;
  flex-direction: row;

  .count {
    flex: 0 0 50px;
    color: white;
    font-family: $raleway-font;
    font-size: 18px;
    font-weight: 500;
  }

  .progress {
    margin-top: 10px;
    flex: 1 0 auto;
    background-color: $progress-bg;
    height: 8px;
    border: 0;

    .meter {
      transition: width 0.4s ease;
      background-color: $font-yellow;
    }
  }
}
