// CSS for Chef Lab provisioner

#skytap-modal {
  $skytap-modal-width: 500px;

  @media #{$medium-up} {
    min-width: $skytap-modal-width;
    max-width: $skytap-modal-width;
  }

  strong {
    color: $body-font-color;
  }

  img.crop {
    box-shadow: 0 2px 4px #777;
  }

  .controls > * {
    display: inline-block;
    margin: 0 14px 0 0;

    label {
      margin-left: 0;
      vertical-align: middle;
      color: $body-font-color;
    }
  }
}
