.quiz {
  margin: 30px 0;

  h3, h5 {
    font-family: $raleway-font;
    color: $font-black;
  }

  h5 {
    color: $border-blue;
    font-size: 20px;
  }

  form {
    padding-left: 20px;
  }

  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      position: relative;

      &:before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        left: -14px;
        top: 5px;
      }

      &.wrong-ans {
        &:before {
          background: url("../images/custom-forms/ans-result.png") no-repeat -2px -32px;
        }
      }

      &.right-ans {
        &:before {
          background: url("../images/custom-forms/ans-result.png") no-repeat -2px 0;
        }
      }

      label {
        color: $font-black;
        font-size: 16px;
      }
    }
  }

  .result {
    padding: 20px 0;

    span {
      color: $font-black;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .success-result {
    width: 100%;
    clear: both;

    @include desktop {
      width: 50%;
    }

    .coaster-img {
      width: 200px;
      margin: 0 auto 20px;

      @include tablet {
        width: 160px;
        float: left;
      }

      img {
        box-shadow: none;

        @include tablet {
          margin: 0;
        }
      }
    }

    .info {
      float: left;
      border: 1px solid $border-orange;
      width: 100%;

      @include tablet {
        width: auto;
      }

      h3 {
        background: $border-blue;
        color: $chef-white;
        font-size: 22px;
        font-weight: 500;
        margin: 0;
        padding: 15px;

        span {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }

  .check {
    margin-top: 20px;
  }

  .social-icons {
    margin-bottom: 10px;

    li {
      width: 28px;
      height: 28px;
      background-color: $font-gray;
      display: inline-block;

      .fa {
        color: $chef-white;
        font-size: 16px;
        padding: 6px 7px;
        width: 100%;
      }
    }
  }
}

.track-complete {
  width: 100%;
}

user-profile-link {
  p {
    padding: 0 15px;
  }
}
