//Variables
$xs-medium: 768px;
$xs-screen: 480px;

$large-down: "#{$screen} and (max-width:#{lower-bound($large-range)})";

//Mixin for different screen sizes
@mixin mobile {
  @media #{$small-up} {
    @content;
  }
}

@mixin tablet {
  @media #{$medium-up} {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (min-width: $small-breakpoint) and (max-width: $xs-medium) {
    @content;
  }
}

@mixin small-desktop {
  @media only screen and (min-width: $xs-medium + 1) and (max-width: $large-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media #{$large-up} {
    @content;
  }
}

@mixin large-desktop {
  @media #{$xlarge-up} {
    @content;
  }
}

@mixin small-mobile {
  @media only screen and (min-width: $xs-screen) {
    @content;
  }
}
