$xs-medium: 768px;

@mixin mobile {
  @media #{$small-up} {
    @content;
  }
}

@mixin tablet {
  @media #{$medium-only} {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (min-width : $small-breakpoint) and (max-width : $xs-medium) {
    @content
  }
}

@mixin small-desktop {
  @media only screen and (min-width : $xs-medium) and (max-width : $large-breakpoint) {
    @content
  }
}
@mixin large-desktop {
  @media only screen and (min-width : $xs-medium) and (max-width : $large-breakpoint) {
    @content
  }
}

.row {
  @include small-desktop{
    width: 100%;
    padding: 2%;
  }
}
