ul.side-nav {
  border:0 none;

  &.box {
    background-color: transparent;
  }
  li {
    font-family: $raleway-font;
    border-bottom: 1px solid $font-gray;
    display:block;
    line-height: 1.25em;
    color: $font-gray;
    a {
      font-size: 14px;
      font-weight: 500;
      color: $font-gray;
      &:hover {
        background: transparent;
      }
      &:not(.button) {
        color: $font-gray;
      }
    }

    &:first-child{
      border: 0;
    }
    ul {
      padding: 0;
      background-color: transparent;
      margin-top: 10px;

      li {
        border: 0 none;
        font-size: 14px;

        a:not(.button) {
          padding: 5px 0;
          color: $font-gray;
          font-weight: 300;
        }
      }
    }
  }
  .ic-check {
    display: inline-block;
    height: 19px;
    width: 26px;
    background-image: url("../images/custom-forms/checkbox.png");
    background-repeat: no-repeat;
    vertical-align: top;
  }
  .check-box {
    background-position: 0 0;
  }
  .check-box-selected {
    background-position: 0 -26px;
  }
}
