@media (min-width: 768px) {
  #sidebar {
    position: fixed;

    // Fixed elements' widths are calculated once based off of the root element
    // and don't change afterwards. The .large-3 container thus had a hard-fixed
    // width and so, to change the widths, the follow width css is required.
    width: 19.05%;

    // The follow max-width prevents overlap between the sidebar and the content
    // at large window widths.
    max-width: 290px;
  }
}

// Wrap text in sidebar headings
.section-container {
  width: 100%;
  display: block;
  margin-bottom: 1.25em;
  border: 1px solid #cccccc;
  border-top: none;

  // Styling for the sidebar.
  // Previous, on Foundation 4, we pulled from a specific commit in the
  // zurb-foundation repository on GitHub. Updating to Foundation 5 removed this
  // dependency and thus the sidebar styles had to be manually changed.
  section {
    background-color: #EFEFEF;
    border-top: 1px solid #cccccc;
    position: relative;

    .title {
      top: 0;
      cursor: pointer;
      width: 100%;
      margin: 0;
      a {
        white-space: normal;
        padding: 0.9375em;
        display: inline-block;
        color: #333333;
        font-size: 0.875em;
        width: 100%;
      }
    }

    .content {
      padding: 0.9375em;
      background-color: white;
      ul.side-nav {
        padding: 0;
        li {
          background-color: white;
          font-size: 0.875em;
          margin: 0 0 0.4375em 0;
          a {
            background-color: white;
            padding: 0;
          }

          &:hover {
            background-color: white;
          }
        }

        li:not(:last-child) {
          margin-bottom: 5px;
        }

        li.active {
          a {
            color: #4d4d4d;
            font-weight: bold;
          }
        }
      }
    }
  }

  section:not(.active) {
    &:hover {
      background-color: #E2E2E2;
    }
  }
}

#quickstart-help-button {
  @include button;
  @include radius;
}

// Ensures the footer does not overlap with the sidebar as the HTML elements are
// loaded and populated.
body > section {
  min-height: 550px;
}
