
ul.side-nav {
  $padding: 10px;
  $checkbox-size: 20px;
  z-index: 98 !important; // must be less than the header .contain-to-grid.fixed z-index of 99

  border: 0 none;

  &.box {
    background-color: transparent;
  }

  li {
    position: relative;
    font-family: $raleway-font;
    border-bottom: 1px solid $font-gray;
    display: block;
    line-height: 1.3em;
    color: $font-gray;
    margin: 0;
    padding: 0;

    a,
    .current {
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: $font-gray;

      &.nav-active,
      &:hover {
        background: transparent;
      }

      &:not(.button) {
        color: $font-gray;
        padding: $padding $padding $padding ($padding + $checkbox-size);

        &.nav-active,
        &:hover {
          color: inherit;
          background: #E2E3E4;
        }
      }
    }

    .current,
    .current:not(.button) {
      color: $font-black;
      margin-bottom: 0;
    }

    &:first-child {
      border: 0;
    }

    ul {
      padding: 0;
      background-color: transparent;
      margin-top: -($padding / 2);
      margin-bottom: ($padding / 2);
      margin-left: ($padding + $checkbox-size);

      li {
        border: 0 none;
        font-size: 14px;
        padding: ($padding / 2) 0;

        a:not(.button) {
          padding: ($padding / 2) $padding * 2;
          color: $font-gray;
          font-weight: 300;
        }
      }
    }
  }

  .ic-check {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 19px;
    width: 26px;
    background-image: url("../images/custom-forms/checkbox.png");
    background-repeat: no-repeat;
    vertical-align: top;
  }

  .check-box {
    background-position: 0 0;
  }

  .check-box-selected {
    background-position: 0 -26px;
  }

  .completion-time {
    font-size: 12px;
    color: lighten($font-gray, 10%);
  }

  .side-nav-active {
    .completion-time {
      color: $font-gray;
    }
  }
}
