// SurveyMonkey overrides.

// Force 100% width.
#sm_e_s {
  width: 100%;
  display: block;
}

.smcx-embed, .smcx-iframe-container {
  width: 100% !important;
}

// Force border to match background color.
div.smcx-widget.smcx-embed.smcx-show.smcx-widget-light.smcx-hide-branding {
  border-color: $body-bg;
}
