
ul.tabs {
  margin-top: 20px;
  list-style-type: none;

  li.tab-title {
    border: 0 none;
    display: inline-block;
    margin: 0 20px 0 0;

    a {
      color: $font-gray;
      font-family: $raleway-font;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 9px 12px;
      background-color: white;
      border: none;
    }

    a:hover,
    &.active a {
      color: $chef-white;
      background: $primary-orange;
      border: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}

.tabs-content {
  background-color: $light-gray-bg;
  margin: 0;
  border: 0;
}
