@import "compass/css3/user-interface";

@mixin selectable-text {
  @include user-select(text);
  -ms-user-select: text;
  cursor: text;
}

@mixin non-selectable {
  @include user-select(none);
  -ms-user-select: none;
}

/*-----------------------------------------------------------------------------------*/
/* Window
/*-----------------------------------------------------------------------------------*/

.window {
  @include non-selectable;
  margin: 0 auto 30px auto;
  background: -webkit-linear-gradient(rgba(233, 233, 233, 1), rgba(178, 178, 178, 1) 21px, #EDEDED, #EDEDED 23px);
  background: -moz-linear-gradient(rgba(233, 233, 233, 1), rgba(178, 178, 178, 1) 21px, #EDEDED, #EDEDED 23px);
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 6px 13px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  z-index: 0;
  visibility: visible;
  opacity: 1;
  margin-left: 15px;

  .container {
    margin-left: 0;
  }
}

.container {
  border-radius: 5px;
}

h1.titleInside {
  margin: 0;
  position: relative;
  z-index: 2;
  color: #3c3c3c;
  font-family: $main-font;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  font-weight: bold;
  overflow: hidden;
  padding: 0 5px;
  text-shadow: 0 1px 1px #e7e7e7;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

nav.control-window {
  float: left;
  padding: 2px 0 0 7px;
  left: 5px;
  top: 3px;
  z-index: 10;
  height: 19px;
}

nav.control-window div {
  vertical-align: middle;
  display: inline-block;
  margin: -7px 2px 3px 1px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-indent: -9999px;
  position: relative;
}

nav.control-window div:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

nav.control-window div:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 100%;
  background: -webkit-linear-gradient(white, rgba(255, 255, 255, 0.9) 2%, white, rgba(255, 255, 255, 0.4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0.74), rgba(255, 255, 255, 0.7) 122%, rgba(255, 255, 255, 0.7));
  background: -moz-linear-gradient(white, rgba(255, 255, 255, 0.9) 2%, white, rgba(255, 255, 255, 0.4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0.74), rgba(255, 255, 255, 0.7) 122%, rgba(255, 255, 255, 0.7));
  box-shadow: inset 0 -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0 2px -5px 3px rgba(255, 255, 255, 0.2);
}

nav.control-window div.close {
  background: #FD4E4E;
}

nav.control-window div.minimize {
  background: #F3BB55;
}

nav.control-window div.maximize {
  background: #96D16F;
}

nav.control-window div.deactivate {
  background: #74be4e;
}

/*-----------------------------------------------------------------------------------*/
/* Terminal Console Layout
/*-----------------------------------------------------------------------------------*/

.terminal {
  background: #333;
  color: #DDD;
  white-space: pre-line;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;

  // Foundation 5 introduced weird styling within the terminal windows.
  code {
    background: none;
    border: none;
    display: block;
    padding: 0;
  }

  .gutter {
    padding-right: 5px;
  }
}

.terminal table {
  margin-left: 10px;
  margin-right: 10px;
}

div.terminal td {
  vertical-align: top;
}

div.terminal pre {
  background: none;
  border: none;
  padding-left: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div.terminal pre span {
  display: block;
}

div.terminal {
  overflow-x: auto;
  overflow-y: hidden;
}

div.terminal span.command {
  @include selectable-text;
  color: rgb(238, 238, 0);
}

div.terminal span.output {
  @include selectable-text;
  color: #BBB;
}

div.terminal span.truncated-output {
  @include selectable-text;
  color: $secondary-yellow;
}

div.terminal span.escape { display: inline; }

/** Window with Line Numbers or Gutters */

.window table {
  background: none;
  border: none;
}

.window table tr td {
  color: white;
  font-family: $monospace-font;
  padding-left: 0;
}

.terminal .highlight {
  @include radius;
  background: none;
  color: #ffffff;
}

.highlight table {
  background: none;
  margin-bottom: 0;
  border: none;
}

.lineno {
  color: white;
}

span.line-number {
  font-size: 14px;
  font-family: $monospace-font;
  display: block;
  line-height: 1.5em;
  color: #5FFB17;
}

code {
  line-height: 1.5em;
  font-size: 14px;
  font-family: $monospace-font;
}

span.err {
  @include selectable-text;
}

.window pre {
  padding: 0;
  font-size: 14px;
}

.window table {
  margin-bottom: 0;
}

.window table tr th, .window table tr td {
  font-size: 14px;
}

table tr td.code {
  color: white;
}

pre.lineno {
  padding: 0;
  padding-right: 10px;
  color: #ff99cc; // web-safe pink
  border-right: 1px solid #99e8de;
}

.code pre:not(.code_wrapper) {
  overflow: visible;
}

div.editor td.code {
  @include selectable-text;
  vertical-align: top;
}

div.editor td.gutter {
  vertical-align: top;
}
