.tracks {
  .content {
    background: white;
    padding: 0;
    font-family: $raleway-font;
  }

  h3 {
    @include tablet {
      padding: 20px 0;
    }
  }

  .track-modules {
    background-color: $light-gray-bg;
    padding: 35px 0;

    .large-card {
      padding: 10px;
      background-color: white;
      margin-bottom: 40px;

      .head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        min-height: 120px;
        font-family: $raleway-font;
        font-size: 28px;
        font-weight: 400;
        color: $font-black;
        position: relative;

        .title {
          flex: 1 1 auto;
          padding-right: 20px;

          .num {
            color: $chef-white;
            margin-right: 0.4em;
          }
        }

        user-progress-stamp,
        user-progress-bar {
          flex: 1 0 300px;

          @include tablet {
            flex-grow: 0;
          }

          @include desktop {
            flex-basis: 500px;
          }
        }

        @include tablet {
          flex-wrap: nowrap;
        }
      }

      .desc {
        padding: 30px 30px 0 30px;

        p {
          color: $font-black;
          font-size: 18px;
        }

        a {
          font-size: 14px;
          color: $border-blue;
          border-bottom: 1px solid $border-blue;
        }
      }

      .btn-wrap {
        text-align: center;

        @include tablet {
          padding: 30px 68px;
          text-align: right;

          .button {
            margin-top: 40px;
          }
        }

        .btn-primary {
          padding: 10px 30px;
        }

        ul.links {
          list-style-type: none;

          li {
            display: inline-block;

            a {
              color: $font-gray;
              font-size: 12px;
              border-right: 1px solid $font-gray;
              padding-right: 5px;
            }

            &:last-child a {
              border-right: 0 none;
            }
          }
        }
      }

      .stamp {
        width: 120px;
        position: absolute;
        right: 0;
        bottom: -30px;

        img {
          box-shadow: none;
          margin: 0;
          max-width: 85%;
        }

        @include tablet {
          width: auto;
          right: 20px;
          bottom: -50px;
        }
      }
    }

    .progress-bar {
      margin-top: 10px;

      .progress {
        background-color: $chef-white;

        .meter {
          background-color: $font-gray;
        }
      }
    }
  }
}

.track-hero {
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include tablet {
    height: 300px;
  }

  &.image-url {
    background-image: url("../images/tracks/track-banner.png");
  }

  .head {
    font-family: $raleway-font;
    font-size: 42px;
    color: white;
    width: 100%;
    text-align: center;

    @include tablet {
      width: 25%;
      text-align: left;
      padding-left: 0;
    }
  }

  .tag-img {
    position: absolute;
    bottom: -50px;
    z-index: 9;
    width: 100%;

    @include tablet {
      width: auto;
      bottom: -80px;
      right: 80px;
    }

    img {
      box-shadow: none;
      margin: 0 auto;
      max-width: 120px;

      @include tablet {
        margin: 0;
        float: right;
        max-width: 66%;
      }
    }
  }
}

.tracks-section {
  background-color: $light-gray-bg;

  .medium-6 {
    @include tablet-portrait {
      width: 100%;
    }
  }

  .track-card {
    position: relative;
    font-family: $raleway-font;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 32px;

    header {
      display: flex;
      align-items: center;
      padding: 0 160px 0 25px;
      height: 120px;
      color: $font-black;
      font-family: $raleway-font;
      font-size: 26px;
      font-weight: 400;
      margin: 0;

      h3 {
        flex: 1 1 auto;
        width: 46%;
        line-height: 31.2px;
        display: none;
        margin: 0;
        color: $font-black;
        font-size: 26px;
        font-family: $raleway-font;
        font-weight: 400;

        //Mobile 640px above
        @include tablet {
          display: inline-block;
        }

        .time {
          padding-left: 1.5em;
          font-size: 16px;
          white-space: nowrap;
        }
      }
    }

    > a {
      margin: 0 0 20px 25px;
      display: block;
      text-decoration: underline;
    }

    user-track-progress {
      display: inline-block;
    }

    div.social-share {
      display: inline-block;
    }

    div.track-record {
      margin: 0 8px;
      width: 100%;
      float: left;

      @include desktop {
        width: 60%;
      }

      @include small-desktop {
        width: 60%;
      }
    }

    div.track-stamps {
      span {
        position: relative;
        display: inline-block;
        margin: 0 5px 0 0;
        height: 38px;
        width: 35px;

        .box {
          height: 25px;
          width: 25px;
          display: block;
          border: 1px solid $font-gray;
        }

        .stamp {
          background: url("/assets/images/homepage/ic-stamp.png") no-repeat;
          position: absolute;
          display: block;
          width: 36px;
          height: 36px;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }

    .progress-and-social-share {
      padding: 0 25px 10px;
    }

    ul.links {
      list-style-type: none;
      float: right;
      margin: 0 10px 0;

      li {
        display: inline-block;

        a {
          font-size: 12px;
          padding-right: 5px;
          margin: 0;
          text-decoration: none;
        }

        &:last-child a {
          border-right: 0 none;
        }
      }
    }
  }

  .desc {
    color: $font-black;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 25px;
    margin-top: 30px;
    margin-left: 0;
    width: 100%;

    @include tablet {
      margin: 0;
    }

    @include small-desktop {
      height: 160px;
    }

    @include desktop {
      height: 140px;
      width: 80%;
    }
  }

  .tag-img {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;

    @include tablet {
      right: 15px;
      width: auto;
    }

    img {
      box-shadow: none;
      width: 150px;
      margin: 0 auto;
      max-width: none;

      @include tablet {
        margin: 0;
        float: right;
      }
    }
  }
}

.related-tracks {
  margin: 0 auto;

  h3 {
    padding: 45px 0;
    text-transform: uppercase;
    font-size: 1em;
  }

  .grid {
    $margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: (-$margin) (-$margin) 60px;

    .track-card {
      border: 1px solid #999;
      flex: 1 1 200px;
      margin: $margin;
    }
  }

  .track-card {
    display: block;
    border: 1px solid $light-gray-bg;
    padding-bottom: 7px;
    margin-bottom: 40px;

    &,
    &:hover {
      color: #000;
    }

    h4 {
      font-family: $raleway-font;
      color: $font-black;
      font-size: 22px;
      height: 92px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 15px;
      margin-top: 0;
    }

    p {
      margin: 0;
      font-size: 11px;
      padding-left: 15px;
    }

    p.desc {
      margin-top: 10px;
    }

    ul.links {
      list-style-type: none;
      margin: 0;
      padding-left: 15px;

      li {
        display: inline-block;

        a {
          font-size: 12px;
          padding-right: 5px;
          margin: 0;
          text-decoration: none;
          color: $font-orange;
          border-right: 1px solid $font-orange;
        }

        &:last-child a {
          border-right: 0 none;
        }
      }
    }
  }
}

.ic-share {
  width: 30px;
  height: 35px;
  display: inline-block;
  background: url("/assets/images/homepage/ic-share.png") no-repeat;
}

.top-margin {
  margin-top: 20px;
}

.stamp {
  position: absolute;
  right: 0;
  bottom: 15%;

  img {
    box-shadow: none;
    max-width: 60%;
  }
}
