.tracks {
  .content {
    background: white;
    padding: 0;
    font-family: $raleway-font;
  }

  .track-modules {
    background-color: $light-gray-bg;
    padding: 35px 0;

    .large-card {
      padding: 10px;
      background-color: white;
      margin-bottom: 40px;

      .head {
        padding: 40px 30px;
        font-family: $raleway-font;
        font-size: 28px;
        font-weight: 400;
        color: $font-black;
        position: relative;
      }

      .desc {
        padding: 30px;

        p {
          color: $font-black;
          font-size: 18px;
        }

        a {
          font-size: 14px;
          color: $border-blue;
          border-bottom: 1px solid $border-blue;
        }
      }

      .btn-wrap {
        padding: 30px 68px;
        text-align: right;

        .btn-primary {
          padding: 10px 30px;
        }

        .button {
          margin-top: 40px;
        }

        ul.links {
          list-style-type: none;

          li {
            display: inline-block;

            a {
              color: $font-gray;
              font-size: 12px;
              border-right: 1px solid $font-gray;
              padding-right: 5px;
            }

            &:last-child a {
              border-right: 0 none;
            }
          }
        }
      }

      .stamp {
        position: absolute;
        right: 20px;
        bottom: -50px;

        img {
          box-shadow: none;
          margin: 0;
          max-width: 85%;
        }
      }
    }

    .progress-bar {
      position: absolute;
      right: 0;
      top: 45px;
      width: 50%;

      .progress {
        background-color: $chef-white;

        .meter {
          background-color: $font-gray;
        }
      }
    }
  }
}

.track-hero {
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  &.image-url{
    background-image: url("../images/tracks/track-banner.png");
  }

  .head {
    font-family: $raleway-font;
    font-size: 42px;
    color: white;
    width: 100%;
    text-align: center;

    @include tablet {
      width: 25%;
      text-align: left;
    }
  }

  .tag-img {
    position: absolute;
    bottom: -80px;
    right: 80px;

    img {
      box-shadow: none;
      margin: 0;
      max-width: 66%;
      float: right;
    }
  }
}

.tracks-section {
  background-color: $light-gray-bg;

  .medium-6 {
    @include tablet-portrait {
      width: 100%;
      padding: 0 5%
    }
  }

  .track-card {
    position: relative;
    font-family: $raleway-font;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 32px;

    h3 {
      padding: 30px 25px;
      height: 120px;
      color: $font-black;
      font-family: $raleway-font;
      font-size: 26px;
      font-weight: 400;
      margin: 0;

      span {
        width: 46%;
        line-height: 31.2px;
        display: none;

        //Mobile 640px above
        @include tablet {
          display: inline-block;
        }

        &.time {
          color: white;
          font-size: 16px;
        }
      }
    }

    ul.track-record {
      list-style-type: none;
      margin: 0 25px;
      width: 100%;
      float: left;

      @include desktop {
        width: 60%;
      }

      @include small-desktop {
        width: 60%;
      }

      li {
        position: relative;
        display: inline-block;
        margin: 0 5px 0 0;
        height: 38px;
        width: 35px;

        .box {
          height: 25px;
          width: 25px;
          display: block;
          border: 1px solid $font-gray;
        }

        .stamp {
          background: url("/assets/images/homepage/ic-stamp.png") no-repeat;
          position: absolute;
          display: block;
          width: 36px;
          height: 36px;
          top: 0;
          left: 0;
          z-index: 1;
        }

        &:last-child span {
          border: none;
          background: url("/assets/images/homepage/ic-share.png") no-repeat;
        }
      }
    }

    .row {
      margin: 0;
    }

    ul.links {
      list-style-type: none;
      float: right;
      margin: 0 10px 0;

      li {
        display: inline-block;

        a {
          font-size: 12px;
          padding-right: 5px;
          margin: 0;
          text-decoration: none;
        }

        &:last-child a {
          border-right: 0 none;
        }
      }
    }
  }

  .desc {
    color: $font-black;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 25px;
    margin-top: 30px;
    width: 100%;

    @include tablet {
      margin: 0;
    }

    @include small-desktop {
      height: 160px;
    }

    @include desktop {
      height: 140px;
    }
  }

  a {
    margin: 0 0 20px 25px;
    display: block;
    text-decoration: underline;
  }

  .tag-img {
    position: absolute;
    top: 20px;
    width: 95%;

    @include tablet {
      right: 20px;
      max-width: 42%;
      width: auto;
    }

    img {
      box-shadow: none;
      width: 150px;
      margin: 0 auto;

      @include tablet {
        margin: 0;
        float: right;
      }
    }
  }
}

.related-tracks {
  margin: 0 auto;

  h3 {
    padding: 30px 0;
  }

  .track-card {
    border: 1px solid $light-gray-bg;
    margin-bottom: 40px;

    h4 {
      font-family: $raleway-font;
      color: $font-black;
      font-size: 22px;
      height: 92px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 15px;
      margin-top: 0;

      &.blue-head {
        background-color: $border-blue;
      }

      &.brown-head {
        background: $font-brown;
      }

      &.purple-head {
        background-color: $font-purple;
      }

      &.light-green-head {
        background: $font-pastel-green;
      }
    }

    p {
      margin: 0;
      font-size: 11px;
      padding-left: 15px;
    }

    p.desc {
      margin-top: 10px;
    }

    ul.links {
      list-style-type: none;
      margin: 0;
      padding-left: 15px;

      li {
        display: inline-block;

        a {
          font-size: 12px;
          padding-right: 5px;
          margin: 0;
          text-decoration: none;
          color: $font-orange;
          border-right: 1px solid $font-orange;
        }

        &:last-child a {
          border-right: 0 none;
        }
      }
    }
  }
}
