//
// CHEF Color Palette
//
$primary-orange: #f18a20;
$primary-gray: #435363;
$primary-blue: #4d97c6;

$secondary-gray: #7c858c;
$secondary-blue: #6bb1e1;
$secondary-green: #59b6b2;
$secondary-yellow: #fcb614;
$secondary-red: #6d3528;
$secondary-purple: #8b008a;

$alert-box-background: #fcf8e3;
$alert-box-border: #fbeed5;
$alert-box-foreground: #333;
$alert-box-link: $primary-blue;
$alert-box-warn-highlight: #f0e68c;

// Fonts
$accent-font: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
$main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace-font: Menlo, Monaco, Consolas, monospace;

@import 'foundation/variables';
