//
// CHEF Color Palette
//
$primary-orange: #f18a20;
$primary-gray: #435363;
$primary-blue: #4d97c6;
$primary-dark-blue: #3f5364;

$secondary-gray: #7c858c;
$secondary-blue: #6bb1e1;
$secondary-green: #59b6b2;
$secondary-yellow: #fcb614;
$secondary-red: #6d3528;
$secondary-purple: #8b008a;

$alert-box-background: #fcf8e3;
$alert-box-border: #fbeed5;
$alert-box-foreground: #333;
$alert-box-link: $primary-blue;
$alert-box-warn-highlight: #f0e68c;

$light-gray: #f2f2f2;

$box-background: #fff;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$accent-font: 'Montserrat', Helvetica, Arial, sans-serif;
$main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace-font: Menlo, Monaco, Consolas, monospace;

@import 'foundation/variables';

//Fonts - Raleway
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');

$raleway-font: 'Raleway', sans-serif;

//color
$font-gray: #7d868c;
$font-black: #000;
$font-orange: #F18B21;
$font-yellow: #fdb713;
$border-blue: #3797d3;
$light-gray-bg: #e4e5e6;
$light-green: #1fb899;
$font-pink: #FC8DB2;
$font-brown: #7D4900;
$font-purple: #AA91AB;
$font-pastel-green: #9ACD72;
$font-red: #D25B46;
$font-light-orange: #FEC465;