//
// CHEF Color Palette
//
$primary-orange: #f18a20;
$primary-gray: #435363;
$primary-blue: #4d97c6;

$secondary-gray: #7c858c;
$secondary-blue: #6bb1e1;
$secondary-green: #59b6b2;
$secondary-yellow: #fcb614;
$secondary-red: #6d3528;

$alert-box-background: #fcf8e3;
$alert-box-border: #fbeed5;
$alert-box-foreground: #c09853;
$alert-box-link: $primary-orange;

@import 'foundation/variables';
