welcome-ribbon.fixed {
  top: 105px;
  background: scale-color($primary-orange, $saturation: 100%, $lightness: 2%, $alpha: -5%);
  text-align: center;
  padding: 10px;
  color: $font-black;
  text-transform: uppercase;
  font-size: 15px;

  .row {
    position: relative;
  }

  span a {
    color: $chef-white;
    text-decoration: underline;
  }

  .close {
    position: absolute;
    right: 60px;
    color: $font-black;
  }
}

welcome-ribbon.hidden {
  display: none;
}
