/*-----------------------------------------------------------------------------------*/
/* Window
/*-----------------------------------------------------------------------------------*/

.Win32 {
  background: #68abf9;
  box-shadow: inset 0 1px 0 rgba(101, 169, 252, 1), 0 6px 13px 4px rgba(0, 0, 0, 0.56), 0 0 0 2px rgba(52, 153, 254, 0.1);
  border: 4px solid #68abf9;
  border-radius: 0;
}

.Win32 .container {
  background-color: #68abf9;
}

.Win32 h1.titleInside {
  background-color: #68abf9;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-shadow: none;
}

.Win32 .terminal {
  border-radius: 0;
  background-color: #012456;
}

.Win32 .highlight {
  background-color: #555;
}

.Win32 nav.control-window {
  background-color: #68abf9;
  float: right;
  padding: 2px 0 0 10px;
  left: 5px;
  top: 3px;
  height: 19px;
  margin-right: 1px;
}

.Win32 nav.control-window div {
  background-color: #68abf9;
  display: inline-block;
  margin: 2px 0 3px 1px;
  width: 12px;
  height: 20px;
  position: relative;
  border-radius: 0;
  box-shadow: none;
  color: black;
  text-indent: 0;
}

.Win32 nav.control-window div:before {
  box-shadow: none;
}

.Win32 nav.control-window div:after {
  background: none;
  box-shadow: none;
}

.Win32 nav.control-window div.close {
  width: 40px;
  float: right;
  position: relative;
  top: -8px;
  height: 18px;
  color: white;
  text-align: center;
  background: #c94f4d;
  line-height: 1.15;
}

.Win32 nav.control-window div.minimize {
  text-align: center;
  position: relative;
  top: -8px;
  height: 16px;
  font-weight: 900;
  background: none;
}

.Win32 nav.control-window div.deactivate {
  text-align: center;
  position: relative;
  top: -8px;
  height: 16px;
  background: none;
}
