@import 'foundation_and_overrides';
@import '_pygments';
@import '_icons';

@import 'compass/css3';
@import 'retina';

#header {
  background-color: #212c35;
  @include box-shadow(0 0 10px);
  margin-bottom: $paragraph-margin-bottom;

  height: 92px;
  line-height: 92px;
}

#logo {
  @include background-image-retina('logo-learnchef.png');
  background-position: top left;
  background-repeat: no-repeat;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 62px;
  line-height: 62px;
  margin-top: 10px;
  width: 215px;
  text-indent: 75px;
  text-transform: uppercase;
}

#top-nav {
  @include inline-list;

  float: right;
  font-weight: bold;
  margin: 30px 20px 0 0;

  li {
    a {
      color: #fff;
    }

    a:hover {
      color: $secondary-blue;
    }
  }
}

#disqus_thread {
  @extend .panel;
  background: #fff;
  margin-top: 24px;
}

#quickstart-help-button {
  @include button;
  @include radius;
}

@media only screen and (min-width: 760px) {
  .sticky {
    position: fixed;
    top: 25px;
  }
}

// Section linking
a.section-link {
  margin-left: -0.75em;
  color: #dddddd;
  font-size: 80%;
  padding-right: 0.25em;
  vertical-align: top;
  visibility: hidden;

  &:hover {
    color: $primary-orange;
  }
}

// Put a border around images (screenshots) in the main content
.content img {
// border: 1px solid $primary-blue;
  display: block;
  margin: 1em auto;
  max-width: 80%;
  text-align: center;
}
