@import '_foundation';
@import '_pygments';
@import '_icons';

@import 'compass/css3';
@import 'retina';

#logo {
  @include background-image-retina('logo.png');
  background-color: #fff;
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  height: 62px;
  width: 62px;
  text-indent: -9999px;
}

ul.top-nav {
  float: right;
  margin: 25px 20px 0 0;

  li.active {
    background: #f7681a;
    padding: 0 7px;

    a {
      color: #fff;
    }
  }
}

.highlight {
  margin-bottom: 15px;
  padding: 5px;

  pre {
    overflow: auto;
    padding: 10px;
  }
}

.alert-box {
  a {
    color: #fff;
    text-decoration: underline;
  }

  &.secondary a {
    color: #646464;
  }

  pre, code, tt {
    background: transparent;
  }
}

.tabs.vertical li ul {
  display: none;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: solid 3px #eee;
  border-right: solid 1px #eee;
  margin-left: -4px;
  @include box-shadow(1px 0 0 white inset);

  li {
    border: none;

    a {
      border: none;
      cursor: pointer !important;
      font-weight: normal;
      color: #666 !important;
      padding: 7px 0 7px 20px;
      background: #fff !important;
    }

    a:hover {
      color: #111 !important;
    }
  }

  li.active {
    border: none;

    a {
      font-weight: bold;
      color: #222 !important;
    }
  }
}

.tabs.vertical li.active ul {
  display: block;
}

#disqus_thread {
  @extend .panel;
  background: #fff;
}
