
ul.nine-grid {
  float: left;
  padding: 0;
  margin: 10px;
  list-style: none;
  width: 450px;
  height: 450px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

ul.nine-grid:after {
  clear: both;
  content: "";
  display: table;
}

li.nine-grid {
  position: relative;
  float: left;
  width: 150px;
  height: 150px; 
  background: url('/assets/images/tutorials/nine-grid-workflow.png');
  cursor: pointer;
}

li.nine-grid:nth-of-type(1) {
  background-position: 0px 0px;
}
li.nine-grid:nth-of-type(2) {
  background-position: -150px 0px;
}
li.nine-grid:nth-of-type(3) {
  background-position: -300px 0px;
}
li.nine-grid:nth-of-type(4) {
  background-position: 0px -150px;
}
li.nine-grid:nth-of-type(5) {
  background-position: -150px -150px;
}
li.nine-grid:nth-of-type(6) {
  background-position: -300px -150px;
}
li.nine-grid:nth-of-type(7) {
  background-position: 0px -300px;
}
li.nine-grid:nth-of-type(8) {
  background-position: -150px -300px;
}
li.nine-grid:nth-of-type(9) {
  background-position: -300px -300px;
}

li.nine-grid:nth-of-type(3n+1) {
  clear: both;
 }

img.nine-grid {
  margin: 0px;
  max-height: 150px;
  max-width: 150px;
  position: relative;
  display: block;
  -webkit-transition: all 0.2s ease-out, z-index 0s;
  -moz-transition: all 0.2s ease-out, z-index 0s;
  transition: all 0.2s ease-out, z-index 0s;
  opacity: 0.9;
  text-align: left;
}

img.nine-grid:nth-of-type(1) {
  position: -30px -30px;
}

li.nine-grid:hover img.nine-grid {
  clip: rect(0, 300px, 300px, 0);
  z-index: 2; 
  opacity: 1;
  display: block; 
}

li.nine-grid:nth-of-type(3n+1):hover img.nine-grid {
  left: 460px;
}

li.nine-grid:nth-of-type(3n+2):hover img.nine-grid {
  left: 310px;
}

li.nine-grid:nth-of-type(3n):hover img.nine-grid {
  left: 160px;
}

li.nine-grid:nth-of-type(n+4):nth-of-type(-n+6):hover img.nine-grid {
  top: -150px;
}

li.nine-grid:nth-of-type(n+7):nth-of-type(-n+9):hover img.nine-grid {
  top: -300px;
} 

li.nine-grid span {
  display:none; 
}

li.nine-grid:nth-of-type(1):hover span {
  margin-top: 20px;
  margin-left: 500px; 
  display:inherit; 
  width: 400px;
}
li.nine-grid:nth-of-type(2):hover span {
  margin-top: 20px;
  margin-left: 350px; 
  display:inherit; 
  width: 400px;
}
li.nine-grid:nth-of-type(3):hover span {
  margin-top: 20px;
  margin-left: 200px; 
  display:inherit;
  width: 400px;
}
li.nine-grid:nth-of-type(4):hover span {
  margin-top: -130px;
  margin-left: 500px; 
  display:inherit; 
  width: 400px;
}
li.nine-grid:nth-of-type(5):hover span {
  margin-top: -130px;
  margin-left: 350px; 
  display:inherit; 
  width: 400px;
}
li.nine-grid:nth-of-type(6):hover span {
  margin-top: -130px;
  margin-left: 200px; 
  display:inherit; 
  width: 400px;
}
li.nine-grid:nth-of-type(7):hover span {
  margin-top: -280px;
  margin-left: 500px; 
  display:inherit; 
  width: 400px;
}
li.nine-grid:nth-of-type(8):hover span {
  margin-top: -280px;
  margin-left: 350px; 
  display:inherit; 
  width: 400px;
}
li.nine-grid:nth-of-type(9):hover span {
  margin-top: -280px;
  margin-left: 200px; 
  display:inherit; 
  width: 400px;
}