---
title: "Screencasts"
order: 3
description: 'Opscode screencasts dedicated to providing the easiest path for getting started with Chef.'
keywords: 'chef, screencast, chef screencast, video, chef video, tutorial, chef tutorial'
---

h1 Chef Screencasts
p Opscode is dedicated to providing the easiest path for getting started with Chef. We have compiled a broad library of screencasts to help ease your transition to Chef.

ul.disc
  - current_page.children.each do |child|
    li= link_to child.data.title, child
