<h2>Exercises</h2>
<p>
<span style="font-size:22px;">1. What is the command you use to upload a cookbook to the Chef server?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/manage-a-node/rhel/update-your-nodes-configuration/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. How do you apply an updated cookbook to your node?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/manage-a-node/rhel/update-your-nodes-configuration/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="3"></a>
<span style="font-size:22px;">3. Update your Apache cookbook to display your node's hostname, platform, total installed memory, and number of CPUs in addition to its FQDN on the home page.</span>
</p>
<p>
<b>Hint:</b> <%= link_to 'the documentation', 'https://docs.chef.io/attributes.html#automatic-ohai', target: '_blank' %> lists common node attributes.
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question3" class="box content">
      <%= partial "/manage-a-node/rhel/update-your-nodes-configuration/exercises/answers/3" %>
    </div>
  </dd>
</dl>
</p>
