<h2>Exercises</h2>

<% exercise_question(<<-EOH
1. Why is it important to verify your remediation code first on a local test instance?
EOH
) %>

<% accordion('question1', 'Answer') do %>

<%= partial '/modules/compliance-remediate/ubuntu/virtualbox/remediate-the-compliance-failure-on-your-node/exercises/answers/1' %>

<% end %>

<hr>

<% exercise_question(<<-EOH
2. If UFW is disabled by some other process, what would you expect to happen the next time <code>chef-client</code> runs on your node?
EOH
) %>

<% accordion('question2', 'Answer') do %>

<% markdown do %>

Chef's test and repair approach would ensure that UFW is reenabled, restoring the system to the desired state. If UFW is already enabled, Chef does nothing.

Configuration drift can bring your systems out of compliance. Running <code>chef-client</code> regularly or in response to a change helps ensure that your systems remain in compliance.

<% end %>

<% end %>

<hr>

<% exercise_question(<<-EOH
3. Repeat the remediation process to resolve a second compliance failure on your node.
EOH
) %>

You might consider remediating a failure that's part of your existing compliance requirements. For learning purposes, you can modify your existing <code>ufw</code> cookbook even if the compliance concern is not related to UFW.
<br>
<br>
<% accordion('question3', 'Answer') do %>

<%= partial '/modules/compliance-remediate/ubuntu/virtualbox/remediate-the-compliance-failure-on-your-node/exercises/answers/3' %>

<% end %>
