javascript:
  var disqus_shortname = 'learnchef';
  var disqus_identifier = '#{current_page.url}';
  var disqus_url = '#{learn_chef_url}#{current_page.url}/';

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';

      // Insert a greeting after Disqus loads.
      dsq.onload = function () {
        var para = document.createElement("p"),
            element = document.getElementById("disqus_thread");

        para.innerHTML = "Need help or clarification on a specific step? Ask here &ndash; we'd love to help. For more general questions about Chef, <a href=\"https://discourse.chef.io\">join us on the Chef mailing list</a>.";
        para.style.color = "#666";
        element.insertBefore(para, element.firstChild);
      };

      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

#disqus_thread
