p#usefulness
  | Did you find this content useful?
  = link_to 'Yes', '#', class: 'button radius tiny helpful helpfulbuttoncolor', style: 'margin: 0 7px;', onclick: 'return Analytics.contentUseful();'
  = link_to 'No', '#', class: 'button radius tiny helpful nothelpfulbuttoncolor', onclick: 'return Analytics.contentNotUseful();'
