p#usefulness
  | Did you find this content useful?
  = link_to 'Yes', '#', class: 'button radius success tiny', style: 'margin: 0 7px', onclick: 'return Analytics.contentUseful();'
  = link_to 'No', '#', class: 'button radius alert tiny', onclick: 'return Analytics.contentNotUseful();'
