div.box
  h2 == "Need help?"
  = "If you need help, <a href=\"https://discourse.chef.io\">Discourse</a> is a great way to connect with the Chef community. You can also <a href=\"https://getchef.zendesk.com/hc/en-us\">file a ticket</a> with our support team.";
