div.box
  h2 == "Need help?"
  = "If you need help, the <a href=\"https://discourse.chef.io\">Chef mailing list</a> is a great way to connect with the Chef community. If you have a support issue, you can also <a href=\"https://getchef.zendesk.com/hc/en-us\">file a ticket</a>.";