<h2>Exercises</h2>
<p>
<span style="font-size:22px;">1. What's the value of local development using Test Kitchen?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/local-development/rhel/get-started-with-test-kitchen/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. What is VirtualBox? What is Vagrant?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/local-development/rhel/get-started-with-test-kitchen/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="3"></a>
<span style="font-size:22px;">3. Verify that your <code>motd-rhel</code> cookbook runs on both CentOS 7.1 and CentOS 7.2.</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question3" class="box content">
      <%= partial "/local-development/rhel/get-started-with-test-kitchen/exercises/answers/3" %>
    </div>
  </dd>
</dl>
</p>
