---
title: 'Get ready to add another server'
order: 4
layout: tutorial
description: TODO
keywords: workstation, Chef server, ChefDK, node, knife
---
[TIMETOCOMPLETE] 20

# Get ready to add another server

You learned how to use Chef to bring up a web server and serve a basic home page. You configured the server by running the commands directly on it, which is a great way to experiment with Chef.

Let's take a step towards how you use Chef in your production environment by configuring a second web server that you manage remotely from your workstation.

A typical Chef workflow consists of three parts &ndash; your workstation, a Chef server, and nodes.

<img src="/assets/images/chef-architecture.svg" style="box-shadow: none;" alt="Your workstation, a Chef server, and nodes" />

* Your __workstation__ is the computer from which you author your cookbooks and administer your network. It's typically the laptop or desktop computer you work from everyday. Remember, although you're configuring a RHEL or CentOS server, your workstation can be any OS you choose &ndash; be it Linux, Mac OS, or Windows.
* __Chef server__ acts as a central hub for your cookbooks.
* A __node__ is any computer that is managed by a Chef server. It can be any physical or virtual machine in your network.

In this lesson you'll install the Chef tools on your workstation, set up a Chef server, and upload your cookbook to it. In the process, you'll also learn about `knife`, the tool that enables you to communicate with the Chef server and download shared community cookbooks. You'll set up a node in the next lesson.

<sidebar style="line-height:1.7; font-size:1.0em; margin-top:30px; max-width:575px;">
<span style="line-height:2.0;"><i class="fa fa-search"></i>&nbsp;**As you read, you'll learn how:**</span><br>
  <i class="fa fa-check"></i>&nbsp; Chef server acts as a central hub for your work.<br>
  <i class="fa fa-check"></i>&nbsp; `knife` enables you to communicate with the Chef server.<br>
  <i class="fa fa-check"></i>&nbsp; Chef Supermarket enables you to download community cookbooks.<br>
</sidebar>

## <i class="fa fa-tasks" style="margin-right:3px;"></i> Here's what you'll do

  1. [Install the Chef Development Kit](#1installthechefdevelopmentkit)
  1. [Sign up for hosted Enterprise Chef](#2signupforhostedenterprisechef)
  1. [Install the Starter Kit](#3installthestarterkit)
  1. [Get the Apache cookbook](#4gettheapachecookbook)
  1. [Upload your cookbook to the Chef server](#5uploadyourcookbooktothechefserver)

<hr />

## 1. Install the Chef Development Kit

[COMMENT] If you already have the Chef Development Kit installed on your workstation, skip to the [next step](#2signupforhostedenterprisechef).

In the previous tutorials, we provided an environment that had the Chef tools pre-installed. Now it's time to install the Chef Development Kit, or ChefDK, on your workstation.

<a class='button radius' href='http://downloads.getchef.com/chef-dk/' target='_blank'>Install ChefDK&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

## 2. Sign up for hosted Enterprise Chef

[COMMENT] If you already have a hosted Enterprise Chef account, you can skip to the [next step](#3installthestarterkit).

The easiest way to set up a Chef server is to let us host it for you on hosted Enterprise Chef. From your workstation, just fill out the form on our sign-up page.

<a class='button radius' href='<%= hec_sign_up_url %>' target='_blank'>Sign up for a free trial of hosted Enterprise Chef&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

After you sign up, follow these steps.

1. Click **Create New Organization**.
1. Enter a full name and short name for your organization. An organization is typically a company name, or a department within a company. These names can be whatever you want, but the short name must be unique.
1. Click **Create Organization**.

Now you need to download some files that enable you to communicate with the Chef server.

## 3. Install the Starter Kit

[CONCEPT] If you already have a Starter Kit, you can skip to the [next step](#3uploadyourcookbooktothechefserver). [Download](<%= hec_manage_url %>/starter-kit) a new Starter Kit if you have a hosted Enterprise Chef account but don't have a Starter Kit.

The Starter Kit provides certificates and other files that enable you to securely communicate with the Chef server.

From your workstation,

1. Navigate to the [Chef management console](https://manage.opscode.com/starter-kit).
1. Click the **Download Starter Kit** button.
1. Click **Proceed**. Save the file <code class="file-path">chef-starter.zip</code> to your computer.
1. Extract <code class="file-path">chef-starter.zip</code> to your working directory, <code class="file-path">~/chef-repo</code>.

## 4. Get the Apache cookbook

In the previous tutorials, you wrote a cookbook to configure the server directly. Luckily, you don't have to recreate that cookbook on your workstation. [Chef Supermarket](https://supermarket.getchef.com) is a place for the community to share cookbooks. Chef Supermarket contains the Apache web server cookbook for you to download.

From your <code class="file-path">~/chef-repo</code> directory, run these commmands to download the web server cookbook from Supermarket and extract it.

```bash
# ~/chef-repo
$ knife cookbook site download learn_chef_httpd
Downloading learn_chef_httpd from the cookbooks site at version 0.1.0 to /home/chef/chef-repo/learn_chef_httpd-0.1.0.tar.gz
Cookbook saved: /home/chef/chef-repo/learn_chef_httpd-0.1.0.tar.gz
$ tar -zxvf learn_chef_httpd-0.1.0.tar.gz -C cookbooks
learn_chef_httpd/
learn_chef_httpd/.kitchen.yml
learn_chef_httpd/Berksfile
learn_chef_httpd/chefignore
learn_chef_httpd/metadata.json
learn_chef_httpd/metadata.rb
learn_chef_httpd/README.md
learn_chef_httpd/recipes/
learn_chef_httpd/templates/
learn_chef_httpd/templates/default/
learn_chef_httpd/templates/default/index.html.erb
learn_chef_httpd/recipes/default.rb
```

## 5. Upload your cookbook to the Chef server

Now upload the web server cookbook to your Chef server. Run this command from anywhere under your <code class="file-path">~/chef-repo</code> directory.

```bash
# ~/chef-repo
$ knife cookbook upload learn_chef_httpd
Uploading learn_chef_httpd    [0.1.0]
Uploaded 1 cookbook.
```

<hr>

## <i class="fa fa-road" style="margin-right:3px;"></i> Wrap-up and what's next

Great, you're all set up to use a Chef server. With your cookbook uploaded to the Chef server, you're now ready to scale-out your infrastructure!

The next step is to set up a second server to configure and run the cookbook on it.

<%= link_to 'Bootstrap your node &rarr;', '/rhel/bootstrap-your-node/', class: 'button radius' %>
