---
title: 'Create the organization and add a user'
order: 2
keywords: TODO
layout: lesson
sections: []
next: {heading: Next, partial: next}
time_to_complete: 15 minutes
show_disqus: false
---
> Continue on the virtual Windows workstation that you connected to in the previous part.

In this part, you perform two administrative tasks &ndash; create the organization and add a user account.

An organization enables you to group related projects and provide scope for authorization rules. User accounts enable end users to access Chef Delivery through its web interface or from the command line.

Here's what you'll do:

1. [Log in to the Delivery web interface](#step1)
1. [Create the organization](#step2)
1. [Add a user](#step3)
1. [Sign out of the Delivery web interface](#step4)

[START_BOX]

## 1. Log in to the Delivery web interface

### Open Google Chrome

Start by opening **Google Chrome** on your Windows workstation. The browser's home page is set to the Delivery web interface, [https://10.0.0.12/e/delivery-demo](https://10.0.0.12/e/delivery-demo).

[COMMENT] The Windows workstation is preconfigured to accept Delivery's self-signed SSL certificate. In a production environment, you would typically set up a certificate chain that's rooted by a trusted certificate authority (CA) to enable the Delivery server to verify its authenticity.

After you connect, you may find it easier to continue this tutorial by opening this page in a second Chrome browser from your RDP connection.

### Log in

From the Delivery web interface, log in as the `admin` user. 

The Delivery installation comes with a preconfigured password. Use the password that matches your SSH key pair's region.

<table>
  <tbody>
    <tr>
      <td>us-east-1 (N. Virginia)</td>
      <td id="admin-us-east-1"><code>oKfHtHeFyINKv5YAbyEg/fbuyQMJB9vsb/8=</code></td>
      <td><a data-copytarget="#admin-us-east-1" class='small-button radius'>Copy</a></td>
    </tr>
    <tr>
      <td>us-west-1 (N. California)</td>
      <td id="admin-us-west-1"><code>gnjCvpiUFmDOR47Min/v3uVOqHWV2UQf1ZA=</code></td>
      <td><a data-copytarget="#admin-us-west-1" class='small-button radius'>Copy</a></td>
    </tr>
    <tr>
      <td>us-west-2 (Oregon)</td>
      <td id="admin-us-west-2"><code>AoSTmN+YDAxr3rR9Gj242ylFXA0YQ7Pe1dY=</code></td>
      <td><a data-copytarget="#admin-us-west-2" class='small-button radius'>Copy</a></td>
    </tr>
  </tbody>
</table>

![](delivery/admin_sign_in.png)

You'll see the Delivery dashboard.

![](delivery/delivery-dashboard.png)

[END_BOX]

[START_BOX]

## 2. Create the organization

Select **Organizations** from the drop-down menu in the upper right corner.

![](delivery/web_ui_orgs.png)

Under **Organization Name**, enter **delivery-demo**. Then click **Save & Close**.

![](delivery/create_org.png)

[END_BOX]

[START_BOX]

## 3. Add a user

Now you'll add a user.

Select **Users** from the web interface.

![](delivery/users_tab.png)

Click **+**, then fill in the fields. The screen image below is an example. Specify the user's real info if you prefer.

If you're setting up the account for someone else, enter an initial password and then give that person the username and password.

Leave the **Enter SSH Public Key** field blank &ndash; the user will set that up in the next part.

In practice, you would determine the appropriate [roles and permissions](https://docs.chef.io/release/delivery/delivery_users_and_roles.html#roles-and-permissions) for your user. For now, select all roles.

![](delivery/add_a_user.png)

When you're done, click **Save & Close**.

[COMMENT] Do not modify the `builder` account. Chef Delivery requires these settings to enable build nodes to perform jobs.

[END_BOX]

[START_BOX]

## 4. Sign out of the Delivery web interface

In the next part, you or another team member will set up the Windows workstation to interact with Delivery. Sign out of the Delivery web interface &ndash; you or another team member will sign back in using the credentials you just set up.

From the menu in the upper-right corner of the web interface, select **Sign Out**.

![](delivery/sign_out.png)

If you're setting up the user account for somoene else, close your RDP connection. Otherwise, keep your connection open for the next part.

[END_BOX]
