<h2>Exercises</h2>

<p>
<span style="font-size:22px;">1. What is a node?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/manage-a-node/windows/get-a-node-to-bootstrap/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. What information do you need in order to bootstrap?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/manage-a-node/windows/get-a-node-to-bootstrap/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
