<h2>1. Get a virtual machine</h2>
<p>
Because you'll directly modify the state of your machine, we strongly suggest that you work through this tutorial in a disposable environment such as a Red Hat Enterprise Linux or CentOS virtual machine. There are two ways to get started.
</p>
<h3>Option 1: Use a virtual machine that we provide</h3>
<p>
Let us provide a CentOS virtual machine with the Chef development kit (Chef DK) installed for you. Just click the button below.
</p>
<%= partial 'layouts/provisioner', locals: { title: 'CentOS', type: 'rhel-localmode' } %>

<h3>Option 2: Use your own virtual machine</h3>
<p>
If you'd rather use your own Red Hat Enterprise Linux or CentOS virtual machine, and it meets the <%= link_to 'system requirements', "#{chef_docs_url}/chef_system_requirements.html", target: '_blank' %>, install the Chef DK on it now.
</p>
<%= link_to "<i class='fa fa-external-link'></i>&nbsp;Install the Chef DK", "#{chef_dk_url}", target: '_blank', class: 'accent-button radius' %>
