---
title: 'Write the build cookbook'
order: 4
keywords: TODO
layout: lesson
sections: []
next: {heading: Next, partial: next}
time_to_complete: 60 minutes
meta_tags: [{name: 'robots', content: 'noindex, nofollow'}]
---

[PRODNOTE] Talk about Test Kitchen testing, pt to delivery_build cookbook.


[PRODNOTE] Show the Delivery pipeline again here...

Talk about the phases, and how each step below each phase cooresponds to a recipe in the build cookbook.

Point to doc page that lists and describes each recipe.

What we're going to do:

* Reference delivery-truck cookbook (explain what it does.)
* Iteratively build out the pipeline.

## 1. Reference the delivery-truck cookbook

Create a new branch.

```bash
# PATH
$ git checkout -b add-delivery-truck delivery/master
Branch add-delivery-truck set up to track remote branch master from delivery.
Switched to a new branch 'add-delivery-truck'
```

Verify new branch.

```bash
# PATH
$ git branch -v
  add-delivery-config 2a0293e Add Delivery config
* add-delivery-truck  b3a48ab Merged change 424c2719-54e4-44c1-97be-ad225fb392d9
  master              b3a48ab Merged change 424c2719-54e4-44c1-97be-ad225fb392d9
```

In [Blah]() tutorial, you learned how to use Berkshelf resolve cookbook dependencies.

Modify <code class="file-path">~/Development/build-a-delivery-pipeline-rhel/.delivery/build-cookbook/Berksfile</code> like this.

```ruby
# ~/Development/build-a-delivery-pipeline-rhel/.delivery/build-cookbook/Berksfile
source 'https://supermarket.chef.io'

metadata

group :delivery do
  cookbook 'delivery_build', git: 'https://github.com/chef-cookbooks/delivery_build'
  cookbook 'delivery-base', git: 'https://github.com/chef-cookbooks/delivery-base'
  cookbook 'test', path: './test/fixtures/cookbooks/test'
end

cookbook 'delivery-sugar', git: 'https://github.com/chef-cookbooks/delivery-sugar'
cookbook 'delivery-truck', git: 'https://github.com/chef-cookbooks/delivery-truck'
```

Now modify metadata.rb like this.

```ruby
# ~/Development/build-a-delivery-pipeline-rhel/.delivery/build-cookbook/metadata.rb
name 'build-cookbook'
maintainer 'The Authors'
maintainer_email 'you@example.com'
license 'all_rights'
version '0.1.0'

depends 'delivery-truck'
```

`git status`, `git add`, `git commit`, `delivery review`

[PRODNOTE] Expand these out V.

[PRODNOTE] Add callout about pull request vs. `delivery review` when using Chef Delivery's Git server.

```bash
$ git status
On branch add-delivery-truck
Your branch is up-to-date with 'delivery/master'.
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   .delivery/build-cookbook/Berksfile
	modified:   .delivery/build-cookbook/metadata.rb

no changes added to commit (use "git add" and/or "git commit -a")
thomaspetchel@ubuntu:~/Development/build-a-delivery-pipeline-rhel$ git add .
thomaspetchel@ubuntu:~/Development/build-a-delivery-pipeline-rhel$ git commit -m "reference delivery-truck cookbook"
[add-delivery-truck b3d09fd] reference delivery-truck cookbook
 2 files changed, 5 insertions(+)
thomaspetchel@ubuntu:~/Development/build-a-delivery-pipeline-rhel$ delivery review
Chef Delivery
Loading configuration from /home/thomaspetchel/Development/build-a-delivery-pipeline-rhel
Review for change add-delivery-truck targeted for pipeline master
Created new patchset
https://10.194.12.112/e/chef/#/organizations/learn-chef/projects/build-a-delivery-pipeline-rhel/changes/db847625-a045-4d46-9ecc-84e3ef6a2069
```

* Review the changes in the web interface. Click **Approve** when all tests pass.
* You'll notice that unit, lint, and syntax phases still don't do any work &ndash; we've simply included the `delivery-truck` cookbook as part of the build process.
* The process moves to the Build stage.
* Watch all tests pass. Again, no real work is done by the provision, deploy, smoke, and functional phases.
* Don't do **Deliver** just yet &ndash; we'll build up more (meaningful) changes and deliver them as a single unit.

[PRODNOTE] Do we ever say how the `default` recipe is called as part of each phase?

[PRODNOTE] For each section, revisit the pipeline and highlight what we're working on.

## 2. Perform unit, lint, and syntax testing

[PRODNOTE] Say how we skip quality and security checks. Add them to config.json

```ruby
# PATH
{
  "version": "2",
  "build_cookbook": {
    "path": ".delivery/build-cookbook",
    "name": "build-cookbook"
  },
  "skip_phases": ["quality", "security"],
  "build_nodes": {},
  "dependencies": []
}
```

In the [Blah]() tutorial, you used ChefSpec to perform unit testing, RuboCop and Foodcritic to perform lint testing. REmember that these kinds of testing are referred to as _static code analytis_ because they analtyze, but don't actually run, your code.

[PRODNOTE] Confirm we need the fetch first...

```bash
$ git fetch
[SHOW OUTPUT]
```

```bash
$ git checkout -b add-static-analysis-checks delivery/master
Branch add-static-analysis-checks set up to track remote branch master from delivery.
Switched to a new branch 'add-static-analysis-checks'
```

The `delivery-truck` cookbook already does what we need. All we need to do is include them from our recipes.

[SHOW BASE UNIT, LINT, SYNTAX]

The `syntax` recipe does something new - [EXPLAIN]

Modify <code class="file-path">unit.rb</code> like this.

```ruby
# PATH
include_recipe 'delivery-truck::unit'
```

Modify <code class="file-path">lint.rb</code> like this.

```ruby
# PATH
include_recipe 'delivery-truck::lint'
```

And modfiy <code class="file-path">syntax.rb</code> like this.

```ruby
# PATH
include_recipe 'delivery-truck::syntax'
```

[PRODNOTE] this is where to say that each phase calls the `default` recipe. So include the base from ours.

```ruby
# PATH
include_recipe 'delivery-truck::default'
```

```bash
# PATH
$ git status
On branch add-static-analysis-checks
Your branch is up-to-date with 'delivery/master'.
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

  modified:   .delivery/build-cookbook/recipes/default.rb
	modified:   .delivery/build-cookbook/recipes/lint.rb
	modified:   .delivery/build-cookbook/recipes/syntax.rb
	modified:   .delivery/build-cookbook/recipes/unit.rb

no changes added to commit (use "git add" and/or "git commit -a")
```

```bash
# PATH
$ git add .
```

```bash
# PATH
$ git commit -m "add unit, lint, and syntax checks"
[add-static-analysis-checks e670576] add unit, lint, and syntax checks
 3 files changed, 3 insertions(+)
```

```bash
# PATH
$ delivery review
```

* Watch them run.
* Click **Approve**.
* Watch **Build** run.
* We won't deliver the change just yet.

Notice that no resources were run.

```bash
#
Starting Chef Client, version 12.5.1
resolving cookbooks for run list: ["build-cookbook::unit"]
Synchronizing Cookbooks:
  - delivery-truck (1.100.7)
  - build-cookbook (0.1.0)
  - delivery-sugar (0.3.1)
Compiling Cookbooks...
Converging 0 resources

Running handlers:
Running handlers complete
Chef Client finished, 0/0 resources updated in 01 seconds

Job ended at 2015-10-20T02:42:03+00:00 (ran in 24 seconds)
```

That's because the `unit` cookbook looks for changes. Nothing's changed in the cookbook since it was originally added in the prior lesson, so the tests weren't run. We'll see the tests run when we later update the cookbook.

[PRODNOTE] Kinda weak I must admit ^.

## 3. Publish your changes to the Chef server

* `publish` recipe uploads to Chef server if the `upload_cookbook_to_chef_server?` method returns true.

https://github.com/chef-cookbooks/delivery-truck/blob/master/recipes/publish.rb#L69

`upload_cookbook_to_chef_server?` returns true when the `node['delivery']['config']['delivery-truck']['publish']['chef_server']` node attribute is true.

https://github.com/chef-cookbooks/delivery-truck/blob/94fe1bbf765fb40ae75794de9c9d747a19f927aa/libraries/helpers_publish.rb#L29

```bash
$ git fetch
$ git checkout master
$ git pull delivery master
$ git checkout -b publish-to-chef-server
```

[PRODNOTE] Change other example to match ^.

```bash
# ~/Development/build-a-delivery-pipeline-rhel
$ chef generate attribute .delivery/build-cookbook default
[2015-10-19T20:44:06-07:00] WARN: ExpandNodeObject#load_node is deprecated. Please use Chef::PolicyBuilder::Dynamic instead of using ExpandNodeObject directly at /opt/chefdk/embedded/lib/ruby/gems/2.1.0/gems/chef-dk-0.9.0/lib/chef-dk/chef_runner.rb:54:in `policy'
Compiling Cookbooks...
Recipe: code_generator::attribute
  * directory[.delivery/build-cookbook/attributes] action create
    - create new directory .delivery/build-cookbook/attributes
  * template[.delivery/build-cookbook/attributes/default.rb] action create
    - create new file .delivery/build-cookbook/attributes/default.rb
    - update content in file .delivery/build-cookbook/attributes/default.rb from none to e3b0c4
    (diff output suppressed by config)
```

```ruby
# .../default.rb
node['delivery']['config']['delivery-truck']['publish']['chef_server'] = true;
```



### publish.rb (Build)

* Push to Chef server
* Upload data bags

** Publish to Chef server

* Write out publish recipe

```bash
# ~/Development/build-a-delivery-pipeline-rhel/.delivery/build-cookbook/recipes/publish.rb
include_recipe 'delivery-truck::publish'

chef_repo = "#{node['delivery_builder']['repo']}/chef-repo"

execute 'create passwords data bag' do
  cwd chef_repo
  command "knife data bag create passwords --config #{delivery_knife_rb}"
  not_if "knife data bag list --config #{delivery_knife_rb} | grep '^passwords$'"
end
%w(db_admin_password sql_server_root_password).each do |data_bag_item|
  execute "create #{data_bag_item} data bag item" do
    cwd chef_repo
    command "knife data bag from file passwords #{data_bag_item}.json --config #{delivery_knife_rb}"
  end
end
```

```bash
$ git status
$ git add .
$ git commit -m "add publish recipe"
$ delivery review
```

Watch Verify pass.
Click Approve.
Watch Build pass.
Won't deliver yet.

Confirm data bag and cookbook are uploaded.

```bash
# ~/Development/delivery-cluster
$ rake info:list_core_services
2 items found

delivery-server-chef:
  ipaddress: 10.194.12.112

build-node-chef-1:
  ipaddress: 10.194.12.91

chef_server_url      'https://10.194.9.114/organizations/chef'
```

Login as `delivery:delivery`

- Login to Chef server

-- see data bag

SHOW SCREENSHOT

## 4.

### provision.rb (Acceptance, Union, Rehearsal, Delivered)

TODO: Talk about how you might use a provisioning node for this...

#### Create a Chef repo

```bash
# ~/Development
$ chef generate repo chef-repo
[...]
```

#### Download the Starter Kit

TODO: SPELL THIS OUT

Unzip, say Y to overwrite any files.

TODO: Show tabs...

TODO: Is there a flag for `unzip` so it doesn't prompt?

```bash
# ~/Development
$ unzip ~/Downloads/chef-starter.zip
Archive:  /home/thomaspetchel/Downloads/chef-starter.zip
  inflating: chef-repo/cookbooks/chefignore
   creating: chef-repo/cookbooks/starter/
   creating: chef-repo/cookbooks/starter/recipes/
  inflating: chef-repo/cookbooks/starter/recipes/default.rb
   creating: chef-repo/cookbooks/starter/attributes/
  inflating: chef-repo/cookbooks/starter/attributes/default.rb
   creating: chef-repo/cookbooks/starter/files/
   creating: chef-repo/cookbooks/starter/files/default/
  inflating: chef-repo/cookbooks/starter/files/default/sample.txt
   creating: chef-repo/cookbooks/starter/templates/
   creating: chef-repo/cookbooks/starter/templates/default/
  inflating: chef-repo/cookbooks/starter/templates/default/sample.erb
  inflating: chef-repo/cookbooks/starter/metadata.rb
replace chef-repo/README.md? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: chef-repo/README.md
  inflating: chef-repo/.gitignore
   creating: chef-repo/.chef/
  inflating: chef-repo/.chef/knife.rb
  inflating: chef-repo/roles/starter.rb
  inflating: chef-repo/.chef/delivery.pem
  inflating: chef-repo/.chef/test-validator.pem
```

### Move to chef-repo

```bash
# ~/Development
$ cd chef-repo
```

#### Get a node to bootstrap

In [Learn to manage a node](/manage-a-node/rhel/), you bootstrapped a node that we provided. Now it's time to bootstrap a Red Hat Enterprise Linux 6.5 or CentOS 6.5 node that you own to give you experience working with your own infrastructure.

Chef provides ways to provision a node and bootstrap it all in one step &ndash; we'll cover this in a later tutorial. For learning purposes, it's best to start by bringing up your own node manually and bootstrapping it separately.

Remember, your node can be any physical machine, virtual machine, or cloud instance, as long as:

* its IP address is accessible from your network. <= INCLUDING DELIVERY, CHEF SERVER, Etc.
* it has inbound network access on ports 22 (SSH) and 80 (HTTP) and outbound network access on port 443 (HTTPS).
* it meets the [system requirements](https://docs.chef.io/chef_system_requirements.html#chef-client) for running `chef-client`.
* you have root or `sudo` access.

#### Bootstrap your node

BETTER YET, AUTOMATE THIS. MOVE COMMANDS INTO PROVISION RECIPE. SCP DATA BAG SECRET KEY TO BUILD NODE. TALK ABOUT PROVISINING AND PROVISIONING NODE (FOR WHEN YOU NEED ...)
SHOW BOTH -i AND PASSWORD FLAVORS.

ADD TO DEFAULT ATTRS FILE

```ruby
default['build-cookbook']['acceptance-env'] = { node_name: 'acceptance_customers', ip_address: '10.194.15.116' }
default['build-cookbook']['union-env'] = { node_name: 'union_customers', ip_address: '10.194.15.119' }
default['build-cookbook']['rehearsal-env'] = { node_name: 'rehearsal_customers', ip_address: '10.194.15.117' }
default['build-cookbook']['delivered-env'] = { node_name: 'delivered_customers', ip_address: '10.194.15.120' }

default['build-cookbook']['user-name'] = 'ubuntu'
default['build-cookbook']['identity-file'] = 'tpetchel.pem'
```

[PRODNOTE] Is user name built-in for me already?

Now that you have a node running, it's time to bootstrap it.

In [Learn to manage a node](/manage-a-node/rhel/), we provided you with a virtual machine that uses a user name and password to authenticate. For learning purposes, this is just fine.

In production, we recommend that you use key-based authentication instead of a user name and password because it can be more secure. This option is commonly used with Amazon EC2 instances because EC2 typically works using key-based authentication.

Choose the option below that matches how you can authenticate and bootstrap your node.

##### Option 1: Use a user name and password

This is what we did in [Learn to manage a node](/manage-a-node/rhel/). From your workstation, run this command to bootstrap your node. Replace <code class="placeholder">ADDRESS</code> with your remote node's external address, <code class="placeholder">USER</code> with your username, and <code class="placeholder">PASSWORD</code> with your password.

```bash
# ~/chef-repo
$ knife bootstrap ADDRESS --ssh-user USER --ssh-password 'PASSWORD' --sudo --use-sudo-password --node-name acceptance_customers --run-list 'recipe[awesome_customers]'
```

REPEAT FOR UNION REHEARSAL DELIVERED.

You'll see lots of output as your node installs `chef-client` and runs the `awesome_customers` cookbook.

##### Option 2: Use key-based authentication

From your workstation, run this command to bootstrap your node. Replace <code class="placeholder">ADDRESS</code> with your remote node's external address, and <code class="placeholder">IDENTITY\_FILE</code> with your SSH identify file, for example <code class="file-path">~/.ssh/my.pem</code>.

```bash
# ~/chef-repo
$ knife bootstrap ADDRESS --ssh-user USER --sudo --identity-file IDENTITY_FILE --node-name acceptance_customers --run-list 'recipe[awesome_customers]'
```

REPEAT FOR UNION REHEARSAL DELIVERED.

You'll see lots of output as your node installs `chef-client` and runs the `awesome_customers` cookbook.

<a class="help-button radius" href="#" data-reveal-id="knife-help-modal">Need help troubleshooting?</a>

<div id="knife-help-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle">If the operation times out or fails, here are some things to try</h3>
  <ul>
    <li>Ensure that your environment is active before you run <code>knife</code>. For example, CloudShare instances suspend after a period of inactivity. <img class="border" src="/assets/images/rhel/cloudshare-suspend.png"></img></li>
    <li>Ensure that you run <code>knife</code> commands from your <code class="file-path">chef-repo</code> directory or one of its sub-directories.</li>
    <li>Ensure you have a <code class="file-path">chef-repo/.chef</code> directory and that it contains a <code class="file-path">knife.rb</code> file and two <code class="file-path">.pem</code> files. If you don't, <a href="/manage-a-node/rhel/set-up-your-chef-server#step2" target="_blank">install the Starter Kit</a>.</li>
    <li>Ensure that your node's IP address is accessible from your network.</li>
    <li>Ensure the user name you provide has root or <code>sudo</code> access on the node.</li>
    <li>Ensure your workstation has outbound access (including firewall) on these ports:
      <ul>
        <li>22 (SSH)</li>
        <li>80 (HTTP)</li>
        <li>443 (HTTPS)</li>
      </ul>
    </li>
    <li>Ensure your node has inbound access (including firewall) on these ports:
      <ul>
        <li>22 (SSH)</li>
      </ul>
    </li>
    <li>Ensure your node has outbound access (including firewall) on these ports:
      <ul>
        <li>443 (HTTPS)</li>
      </ul>
    </li>
  </ul>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

SUMMARY:

```bash
# ~/Development/chef-repo
ssh -i ~/.ssh/tpetchel.pem root@10.194.15.116 'mkdir -p /etc/chef'
scp -i ~/.ssh/tpetchel.pem ~/encrypted_data_bag_secret root@10.194.15.116:/etc/chef/encrypted_data_bag_secret
knife bootstrap 10.194.15.116 --ssh-user root --sudo --identity-file ~/.ssh/tpetchel.pem --node-name acceptance_customers --run-list 'recipe[awesome_customers]'

ssh -i ~/.ssh/tpetchel.pem root@10.194.15.119 'mkdir -p /etc/chef'
scp -i ~/.ssh/tpetchel.pem ~/encrypted_data_bag_secret root@10.194.15.119:/etc/chef/encrypted_data_bag_secret
knife bootstrap 10.194.15.119 --ssh-user root --sudo --identity-file ~/.ssh/tpetchel.pem --node-name union_customers --run-list 'recipe[awesome_customers]'

ssh -i ~/.ssh/tpetchel.pem root@10.194.15.117 'mkdir -p /etc/chef'
scp -i ~/.ssh/tpetchel.pem ~/encrypted_data_bag_secret root@10.194.15.117:/etc/chef/encrypted_data_bag_secret
knife bootstrap 10.194.15.117 --ssh-user root --sudo --identity-file ~/.ssh/tpetchel.pem --node-name rehearsal_customers --run-list 'recipe[awesome_customers]'

ssh -i ~/.ssh/tpetchel.pem root@10.194.15.120 'mkdir -p /etc/chef'
scp -i ~/.ssh/tpetchel.pem ~/encrypted_data_bag_secret root@10.194.15.120:/etc/chef/encrypted_data_bag_secret
knife bootstrap 10.194.15.120 --ssh-user root --sudo --identity-file ~/.ssh/tpetchel.pem --node-name delivered_customers --run-list 'recipe[awesome_customers]'

curl 10.194.15.116
curl 10.194.15.117
curl 10.194.15.119
curl 10.194.15.120
```

### deploy.rb (Acceptance, Union, Rehearsal, Delivered)

```bash
# ~/Development/build-a-delivery-pipeline-rhel/.delivery
$ chef generate recipe build-cookbook deploy
Compiling Cookbooks...
Recipe: code_generator::recipe
  * directory[./build-cookbook/spec/unit/recipes] action create (up to date)
  * cookbook_file[./build-cookbook/spec/spec_helper.rb] action create_if_missing (up to date)
  * template[./build-cookbook/spec/unit/recipes/deploy_spec.rb] action create_if_missing
    - create new file ./build-cookbook/spec/unit/recipes/deploy_spec.rb
    - update content in file ./build-cookbook/spec/unit/recipes/deploy_spec.rb from none to 92ec41
    (diff output suppressed by config)
  * template[./build-cookbook/recipes/deploy.rb] action create
    - create new file ./build-cookbook/recipes/deploy.rb
    - update content in file ./build-cookbook/recipes/deploy.rb from none to f569c9
    (diff output suppressed by config)
```

```ruby
# ~/Development/build-a-delivery-pipeline-rhel/.delivery/build-cookbook/recipes/deploy.rb
asdf
```

[COMMENT] If you existing workflow includes [push jobs](), you can use those too...

A common pattern we use here...

```ruby
if node['delivery']['change']['stage'] == 'delivered'
  bucket_name = node['delivery']['change']['project'].gsub(/_/, '-')
  fqdn = "#{site_name}.#{domain_name}"
else
  bucket_name = "#{node['delivery']['change']['project'].gsub(/_/, '-')}-#{node['delivery']['change']['stage']}"
  fqdn = "#{site_name}-#{node['delivery']['change']['stage']}.#{domain_name}"
end
```

### smoke.rb (Acceptance, Union, Rehearsal, Delivered)

* `curl` the server

### functional.rb (Acceptance, Union, Rehearsal, Delivered)

* Run our Serverspec tests



```ruby
# old-provision.rb
# << TODO
# I dunno dude. delivery-truck::publish doesn't seem to find then my cookbook changes...
# So I'm copy pastaing and tweaking the base implementation here.

# Create the upload directory where cookbooks to be uploaded will be staged
cookbook_directory = File.join(node['delivery']['workspace']['cache'], "cookbook-upload")
directory cookbook_directory do
  recursive true
  # We delete the cookbook upload staging directory each time to ensure we
  # don't have out-of-date cookbooks hanging around from a previous build.
  action [:delete, :create]
end

# Upload cookbook to the Chef Server
execute "berks_vendor_cookbook_awesome_customers" do
  command "berks vendor #{cookbook_directory}"
  cwd "#{chef_repo}/cookbooks/awesome_customers"
end

Dir.glob("#{cookbook_directory}/*").select {|f| File.directory? f}.map {|f| File.basename f}.each do |cookbook|
  execute "upload_cookbook_#{cookbook}" do
    command "knife cookbook upload #{cookbook} --freeze --all --force " \
            "--config #{delivery_knife_rb} " \
            "--cookbook-path #{cookbook_directory}"
  end
end

# TODO
```
