---
id: local-development
description: "Learn how to speed up the development process by using Test Kitchen to apply your infrastructure code on your workstation."
layout: bumper
name: local-development
order: 3
title: "Get started with Test Kitchen"
short_title: "Get started with Test Kitchen"
type: topic
category: local-development
ignore_breadcrumb: true
time_to_complete: 30 min setup (longer for Windows Server) plus one 30 min lesson
platform_intro: Choose the server platform you want to manage.
tags: []
deprecated: We're phasing out this content. Check out the <a href="/tutorials/local-development/">latest version of this tutorial</a>.
logo: local-development.svg
---
