---
description: "Learn how to speed up the development process by using Test Kitchen to apply your infrastructure code on your workstation."
layout: bumper
name: local-development
order: 4
title: "Learn to develop your infrastructure code locally"
type: topic
category: getting-started
ignore_breadcrumb: true
time_to_complete: 30 min setup (up to 3 hr for Windows Server) plus two 30 min lessons
platform_intro: Click a server to manage.
tags: [beta]
---
