---
title: "Starter Use Cases"
order: 3
layout: 'starter-use-case'
deprecated: true
---

h1 Chef Starter Use Cases
p One of the easiest ways to realize the power of Chef is to see real world examples of  Chef recipes.

ul.disc
  - current_page.children.each do |child|
    li= link_to child.data['title'], child
