---
description: "Learn how build a continuous delivery pipeline with Chef Delivery."
layout: bumper
name: build-a-delivery-pipeline
order: 4
title: "Build a continuous delivery pipeline with Chef Delivery"
type: topic
category: manage-and-premium-features-DARK
ignore_breadcrumb: true
time_to_complete: X hr setup plus 3 Z min lessons
platform_intro: Click a server to manage.
tags: [new]
coming_soon: [Windows Server, Ubuntu]
---
