<a name="exercises" href="#exercises"></a>
<h2>Exercises</h2>

<a name="1"></a>
<span style="font-size:22px;">1. How does a cookbook differ from a recipe?</span>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/tutorials/learn-the-basics/windows/shared/make-your-recipe-more-manageable/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>

<a name="2"></a>
<span style="font-size:22px;">2. What's the <i>run-list</i>?</span>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/tutorials/learn-the-basics/windows/shared/make-your-recipe-more-manageable/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
