---
title: 'Bootstrap your node'
order: 6
layout: tutorial
description: TODO
keywords: TODO
---
[TIMETOCOMPLETE] 10

# Bootstrap your node

Recall that any computer that's managed by a Chef server is called a _node_. We call the process that installs the Chef tools on a node and the initial check-in to the Chef server _bootstrapping_ the node.

Let's bootstrap a node and execute the web server cookbook on it.

If you haven't set up a Chef server and uploaded your cookbook to it, the [previous lesson](/windows/get-ready-to-add-another-server/) shows you how.

## <i class="fa fa-windows" style="margin-right:3px;"></i> Get a Windows Server machine to bootstrap

In the previous tutorials, you configured the server directly. The machine you used had the Chef tools pre-installed. Now you need to get a machine that doesn't have the Chef tools on it so you can see how the bootstrap process works.

Like the previous tutorials, there are two ways to get set up.

Option 1: use your own machine. Any Windows Server machine that meets the [system requirements](http://docs.getchef.com/chef_system_requirements.html) works great. Don't install the Chef tools on it just yet.

Option 2: let us provide a Windows Server machine. Just click the button below.

<div id="pre-launch">
<center>
<a id="launch-button" href="javascript:provisionHelper('ec2', 'windows', 'fundamentals', 'launch-button', 'launching', 'machine-details', 'launch-error', provision_success)" class="button radius"><i class='fa fa-play'></i>&nbsp;Reserve a Windows Server virtual machine</a>
</center>
</div>

<div id="launching" style="display: none;">
<div class="spinner">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div>
<center>We're provisioning a virtual machine for you. This'll take just a minute.</center>
</div>

<div id="machine-details" class="indent" style="display: none">
{0} Your virtual machine is all ready to go! <b>You don't need to RDP into the server now</b>, but here's the connection info in case you need it later.

<p/>
<center>
<a href="http://localhost:3000/labs/download_rdp?user_name={1}&ip_address={3}" class="button radius"><i class="fa fa-download"></i>&nbsp;Download Remote Desktop File</a>
</center>

Or connect using your remote desktop client.

<div>
</p>

[RDPINFO] {3}, {1}, {2}

</div>

<p/>

<p>
The environment expires <b>{4}</b>. If it expires, you're welcome to spin up a new one.

We hope you'll use the virtual machine to continue experimenting with Chef after you complete the tutorial. We only ask that you use the machine respectfully.
</p>
</div>

<div id="launch-error" class="alert-box error" style="display: none">

<i class="fa fa-exclamation-circle" style="color: #ff2222"></i> Something went wrong while provisioning your machine. We'll look into it. If you get the error again in a few minutes, either try the first option above or <a href="mailto:learnchef@getchef.com?subject=Feedback on Learn Chef">contact us</a>.

</div>

<sidebar style="line-height:1.7; font-size:1.0em; margin-top:30px; max-width:575px;">
<span style="line-height:2.0;"><i class="fa fa-search"></i>&nbsp;**Keep in mind as you read:**</span><br>
  <i class="fa fa-check"></i>&nbsp; a _node_ is any computer managed by Chef.<br>
  <i class="fa fa-check"></i>&nbsp; _bootstrapping_ installs the Chef tools and does an initial check-in.<br>
</sidebar>

## <i class="fa fa-tasks rediconcolor" style="margin-right:3px;"></i> Here's what you'll do

  1. [Install the knife windows plugin](#1installtheknifewindowsplugin)
  1. [Bootstrap your node](#2bootstrapyournode)
  1. [Confirm the result](#3confirmtheresult)

<hr>

## 1. Install the knife windows plugin

You need to install the <codeinline>knife windows</codeinline> plugin on your workstation so that you can configure remote Windows Server nodes. Run this command to install it.

```bash
$ chef gem install knife-windows
```

## 2. Bootstrap your node

<div class="indent" id="bootstrap-intro">
From your workstation, run this command to bootstrap your node. If you're working with your own server and not the one that we provide, replace <codeinline>ADDRESS</codeinline> with your server's external address, <codeinline>USER</codeinline> with your username, and <codeinline>PASSWORD</codeinline> with your password.
</div>
<p/>
<div id="bootstrap-command" class="window">
            <nav class="control-window">
              <a href="#finder" class="close" data-rel="close">close</a>
              <a href="#" class="minimize">minimize</a>
              <a href="#" class="deactivate">deactivate</a>
            </nav>
            <h1 class="titleInside">Terminal: ~/chef-repo</h1>
            <div class="container"><div class="terminal"><table><tbody><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">$</span></pre></td><td class="code"><pre><code><span class="line command">knife bootstrap windows winrm ADDRESS --winrm-user USER --winrm-password PASSWORD --node-name node1 --run-list webserver</span></code></pre></td></tr></tbody></table></div></div>
          </div>

The optional <codeinline>--node-name</codeinline> argument uniquely identifies the node with the Chef server. Its value can be whatever you want. The server's fully qualified domain name (FQDN) is the default.

## 3. Confirm the result

Two things just happened.

First, your node was associated with your hosted Enterprise Chef account. To verify this, navigate to the [Chef Management Console](<%= hec_manage_url %>/organizations). From the **Nodes** tab, you'll see an entry for the node you just bootstrapped.

![The bootstrapped node](windows/management-console-node.png)

Second, your node did an initial check in with the Chef server and ran the webserver cookbook. To verify this, open a web browser from your workstation and navigate to your web server.

![The basic home page](misc/webserver-basic.png)

<hr>

# <i class="fa fa-question blueiconcolor" style="margin-right:3px;"></i> What did we see here?

TODO: Talk about WinRM above; do the same for SSH in other tracks

The <codeinline>knife bootstrap</codeinline> command established an WinRM connection to the node, installed the Chef tools, downloaded the webserver cookbook on the node, and ran it. In one command, Chef carried out most of the steps you previously dealt with manually.

## <i class="fa fa-road blueiconcolor" style="margin-right:3px;"></i> Wrap-up and what's next

Next let's spice things up and add some info about your web server to your home page.

<%= link_to 'Add dynamic configuration &rarr;', '/windows/add-dynamic-configuration/', class: 'button radius' %>

<script src='../../../assets/javascripts/provision.js' type='text/javascript'></script>

<script>
function provision_success(result) {
  var oDiv, data;

  data = result[0];

  oDiv = document.getElementById('bootstrap-intro');
  oDiv.innerHTML = oDiv.innerHTML.replace('ADDRESS', data.ip).replace('USER', data.username).replace('PASSWORD', data.password);

  oDiv = document.getElementById('bootstrap-command');
  oDiv.innerHTML = oDiv.innerHTML.replace('ADDRESS', data.ip).replace('USER', data.username).replace('PASSWORD', data.password);
}
</script>
