div style="margin-left: auto; margin-right: auto; width: 150px;"
  <a class="help-button radius" href="#" data-reveal-id="help-modal">Want help?</a>

<div id="help-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
<h2 id="modalTitle">There are lots of ways to get help!</h2>

- if current_page.data.show_disqus == false
  <p>If you need help, the <a href="https://discourse.chef.io">Chef mailing list</a> is a great way to connect with the Chef community. You can also visit our <a href="https://www.chef.io/support/">support page</a> or <a href="https://getchef.zendesk.com/hc/en-us">file a ticket</a> with our support team.</p>
-else
  <p>If you're stuck on a tutorial step, ask us in the forum at the bottom of this page. We're here to help.</p>
  <p>For general questions, visit our <a href="https://www.chef.io/support/">support page</a>, which provides resources including how to join the Chef mailing list, where to find us on IRC, and how to connect directly with an engineer during weekly office hours.

<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>