div style="margin-left: auto; margin-right: auto; width: 150px;"
  <a class="help-button radius" href="#" data-reveal-id="help-modal">Want help?</a>

<div id="help-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">There are lots of ways to get help!</h2>
  <ul>
    <li>Search the Chef <a href="https://docs.chef.io/" target="_blank">documentation</a>.</li>
    <li>Ask your question in the forum at the bottom of this lesson.</li>
    <li>Search for common answers in the Q&A tab to the right.</li>
    <li>Email us at <a href="mailto:learnchef@chef.io?subject=Feedback on Learn Chef">learnchef@chef.io</a>.</li>
    <li>Ask the community for help at <a href="irc://irc.freenode.net/chef">#chef</a> on IRC.</li>
    <li>Connect directly with an engineer during weekly <a href="https://www.chef.io/contact/office-hours-registration" target="_blank">office hours</a>.</li>
  </ul>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
