<% machine_config = load_machine_config; if machine_config %>

<a name="machine_configuration"></a>
<span style="font-size: 12px;">
<%= machine_config %>
<a style="font-size: 12px;" href="#">[top]</a>

<% end %>
