<div data-chef-lab-provisioner data-type="<%= type %>" ng-cloak>
  <div class="start">
    <button class="button radius" disabled ng-disabled="machine.status == 'waiting'" ng-click="fetch()">
      <i class='fa fa-play'></i>&nbsp;Reserve a <%= title %> virtual machine
    </button>
  </div>
  <div ng-show="machine.status == 'waiting'" class="waiting">
    <%= partial 'layouts/logo_animation' %>
    <p>
      We're provisioning a virtual machine for you.<br>
      This'll take just a minute.
    </p>
  </div>
  <div ng-show="machine.status == 'ready'" class="ready">
    <% if type.include?('windows') %>
      <%= partial 'layouts/provisioner/windows' %>
    <% else %>
      <p>
        Your virtual machine is all ready to go! Here's how to log in using SSH:
      </p>
      <div class="window">
        <nav class="control-window">
          <div class="close">x</div>
          <div class="minimize"></div>
          <div class="deactivate"></div>
        </nav>
        <h1 class="titleInside">Terminal: ~/</h1>
        <div class="container"><div class="terminal"><table><tbody><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">$</span><span class="line-number">&nbsp;</span></pre></td><td class="code"><pre><code><span class="line command">ssh {{ machine.user }}@{{ machine.address }}</span><span class="line output">{{ machine.user }}@{{ machine.address }}'s password: {{ machine.password }}</span></code></pre></td></tr></tbody></table></div></div>
      </div>
    <% end %>
  <p>
    The environment expires <b>{{ machine.expires | date: "EEEE, MMMM d 'at' h:mm a" }}</b>. If it expires, you're welcome to spin
    up a new one.
  </p>
  <p>
    We hope you'll use the virtual machine to continue experimenting with Chef
    after you complete the tutorial. We only ask that you use the machine
    respectfully.
  </p>
  <div class="alert-box comment">
    <i class="fa fa-info-circle blueiconcolor"></i>
    Although certificate-based authentication can be more secure, we'll start
    with passwords because they're easier to get started with.
  </div>
  </div>
  <div ng-show="machine.status == 'error'" class="comment error">
    <p>
      <i class="fa fa-exclamation-triangle"></i> Something went wrong while
      provisioning your machine. We'll look into it. If you get the error again
      in a few minutes, either try the first option above or
      <a href="mailto:learnchef@getchef.com?subject=Feedback on Learn Chef">
        contact us</a>.
    </p>
    <div ng-if="machine.message">
      <p>The message received from the provisioning server was:</p>
      <pre>{{ machine.message }}</pre>
    </div>
  </div>
</div>
