a href="https://www.chef.io/blog/events/category/training-events/" target="_blank"
  div class="announcement_banner"
    div class="announcement_banner_header"
      span == "Ready to dig deeper? Click here for our upcoming classes. Use discount code <b>LEARN-CHEF</b> to save 10%."
