- wrap_layout :layout do

  h1= data.page.title
  = yield
  .row
    .large-6.columns 
      .flex-video
        iframe src="#{data.page.video}" frameborder="0" allowfullscreen="true"
    .large-6.columns
      - if data.page.image
        = image_tag "concepts/#{data.page.image}"

  = partial 'layouts/social/disqus'
