---
title: 'Exercises & conclusion'


order: 7
layout: step
description: TODO
keywords: TODO
---
<a name="1"></a>
<span style="font-size:22px;">1. How does a cookbook differ from a recipe?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer &raquo;</a>
    <div id="question1" class="box content">
      <%= partial "answers/_1" %>
    </div>
  </dd>
</dl>

<hr>

<a name="2"></a>
<span style="font-size:22px;">2. How does `chef-apply` differ from `chef-client`?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer &raquo;</a>
    <div id="question2" class="box content">
      <%= partial "answers/_2" %>
    </div>
  </dd>
</dl>

<hr>

<a name="3"></a>
<span style="font-size:22px;">3. What's the <i>run-list</i>?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer &raquo;</a>
    <div id="question3" class="box content">
      <%= partial "answers/_3" %>
    </div>
  </dd>
</dl>

-- --

## Conclusion

You can continue to experiment with the virtual machine that we provide for this lesson. When you're done you can close the connection - we'll no longer be using that virtual machine.

We recommend that next you work through [Manage a server](/manage-a-node/ubuntu), where you'll experience managing a server remotely from your workstation. We'll bring the virtual machine!
