---
title: "5. Delete the MOTD file"
type: step
order: 5
layout: step
description: TODO
keywords: TODO
---

<!-- <ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><a href="/learn-the-basics/rhel/">Red Hat Enterprise Linux</a></li>
  <li><a href="/learn-the-basics/rhel/configure-a-resource/">Configure a Resource</a></li>
  <li>5</li>
</ul>

<div style="border-radius: 5px; border: 1px solid #666; width: 300px; display:block; float:right; padding: 10px; margin: 20px;">
   <div class="progress large-9 success round">
      <span class="meter" style="width: 70%"></span>
    </div>
  <ul class="side-nav">
    <li class="completed"><a href="/learn-the-basics/rhel/configure-a-resource/1/">1: Set up your working directory &#x2713;</a></li>
    <li class="completed"><a href="/learn-the-basics/rhel/configure-a-resource/2/">2: Create the MOTD file &#x2713;</a></li>
    <li class="completed"><a href="/learn-the-basics/rhel/configure-a-resource/3/">3: Update the MOTD file's contents &#x2713;</a></li>
    <li class="completed"><a href="/learn-the-basics/rhel/configure-a-resource/4/">4: Ensure the MOTD file's contents are not changed by anyone else &#x2713;</a></li>
    <li class="current">5: Delete the MOTD file</li>
    <li><a href="/learn-the-basics/rhel/configure-a-resource/summary/">Summary</a></li>
    <li><a href="/learn-the-basics/rhel/configure-a-resource/exercises/">Exercises</a></li>
  </ul>
</div>

# 5. Delete the MOTD file -->

OK, you're done experimenting with the MOTD, so let's clean up. From your <code class="file-path">~/chef-repo</code> directory, create a new file named <code class="file-path">goodbye.rb</code> and save this content to it.

```ruby
# goodbye.rb
file 'motd' do
action :delete
end
```

Now apply <code class="file-path">goodbye.rb</code> to delete the file.

```bash
# ~/chef-repo
$ chef-apply goodbye.rb
Recipe: (chef-apply cookbook)::(chef-apply recipe)
* file[motd] action delete
- delete file motd
```

The output shows that <code class="file-path">motd</code> is now gone, but let's prove it.

```bash
# ~/chef-repo
$ more motd
motd: No such file or directory
```

<!-- <%= link_to 'Summary &rarr;', '/learn-the-basics/rhel/configure-a-resource/summary/', class: 'button radius' %> -->
