---
title: '1. Set up your working directory'
type: step
order: 1
layout: step
description: TODO
keywords: TODO
---

<!-- <ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><a href="/getting-started/rhel/">Red Hat Enterprise Linux</a></li>
  <li><a href="/getting-started/rhel/configure-a-resource/">Configure a Resource</a></li>
  <li>1</li>
</ul>

<div style="border-radius: 5px; border: 1px solid #666; width: 300px; display:block; float:right; padding: 10px; margin: 20px;">
   <div class="progress large-9 success round">
      <span class="meter" style="width: 14%"></span>
    </div>
  <ul class="side-nav">
    <li class="current">1: Set up your working directory</li>
    <li><a href="/getting-started/rhel/configure-a-resource/2/">2: Create the MOTD file</a></li>
    <li><a href="/getting-started/rhel/configure-a-resource/3/">3: Update the MOTD file's contents</a></li>
    <li><a href="/getting-started/rhel/configure-a-resource/4/">4: Ensure the MOTD file's contents are not changed by anyone else</a></li>
    <li><a href="/getting-started/rhel/configure-a-resource/5/">5: Delete the MOTD file</a></li>
    <li><a href="/getting-started/rhel/configure-a-resource/summary/">Summary</a></li>
    <li><a href="/getting-started/rhel/configure-a-resource/exercises/">Exercises</a></li>
  </ul>
</div>

# 1. Set up your working directory -->

From your virtual machine, create the <code class="file-path">chef-repo</code> directory under your home directory, <code class="file-path">~/</code>.

```bash
$ mkdir ~/chef-repo
```

Now `cd` there.

```bash
$ cd ~/chef-repo
```

<!-- <%= link_to '2: Create the MOTD file &rarr;', '/getting-started/rhel/configure-a-resource/2/', class: 'button radius' %> -->
