---
id: create-a-web-app-cookbook
description: "Extend what you've learned by managing a web application that uses a web server, a database, and scripting."
name: create-a-web-app-cookbook
order: 4
title: "Create a web app cookbook"
short_title: "Create a web app cookbook"
type: topic
category: local-development
time_to_complete: Five 15-60 min lessons plus setup
logo: web-app.svg
---
# Create a web app cookbook

Extend what you've learned by managing a web application that uses a web server, a database, and scripting.

## Choose your server environment

Click on one of the buttons below to select the kind of system you want to work with.

<%= partial 'layouts/tutorials/platform_grid', locals: {
  categories: [
    {
      description: "Here you'll work with Ubuntu 14.04. You can apply what you learn to other Linux environments.",
      platforms: [
        path: "/modules/create-a-web-app-cookbook/ubuntu/",
        logo: "/assets/images/rhel/platform-logos/ubuntu.svg",
        label: "Ubuntu"
      ]
    },
    {
      description: "We're revising the Windows version of this tutorial. In the meantime, you can check out the <a href=\"/manage-a-web-app/windows/\">previous version</a>.",
      platforms: [
        path: "/modules/create-a-web-app-cookbook/windows/",
        logo: "/assets/images/rhel/platform-logos/windows.svg",
        label: "Windows Server",
        enabled: false
      ]
    }
  ]
}
%>
