---
description: "Learn how Chef provisioning enables you to repeatably create, manage, and destroy compute resources through code. This topic focuses on managing infrastructure through Amazon Web Services."
name: chef-provisioning-on-aws
order: 4
tags: [coming-soon]
title: "Learn about Chef provisioning on AWS"
type: topic
---
