---
title: "Get set up"
order: 1
---
# Get set up

These tutorials teach you to use Chef to configure Red Hat Enterprise Linux (RHEL) and CentOS servers. Each tutorial takes between 10 and 20 minutes to work through.

## <i class="icon-tasks rediconcolor" style="margin-right:3px;"></i> Here's what you'll do

  1. [Grab a RHEL or CentOS machine](#1grabarhelorcentosmachine)
  1. [Install the Chef tools](#2installthecheftools)
  1. [Set up your working directory](#3setupyourworkingdirectory)
  1. [Bring up a text editor](#4bringupatexteditor)
  1. [Try the first tutorial](#5trythefirsttutorial)

## 1. Grab a RHEL or CentOS machine

You'll use Chef to do some nondestructive things to your system, but be sure that you're working on a system that you're comfortable making changes to. We recommend spinning up a virtual machine so you can experiment freely.

Start up a RHEL or CentOS server now. Make sure you have sudo / root access.

[CONCEPT] If you don't have access to a RHEL or CentOS machine, we offer the <a href='http://opscode-cheflab.herokuapp.com/labs/learnchef/centos/attend' target='_blank'>CentOS Training Lab</a> that you can use for free.

## 2. Install the Chef tools

Install the Chef development kit, or Chef DK, on your RHEL or CentOS system. Chef DK contains the tools that you use to configure your servers.

<a class='button radius' href='http://www.getchef.com/downloads/chef-dk/linux/' target='_blank'><i class='icon-download-alt'></i>&nbsp;Install ChefDK</a>

[COMMENT] crushtime-9: ^ This is a blocking step, as you need to wait for the tools to download. Chef DK is 314 MB on RHEL. Consider making it smaller.

[COMMENT] crushtime-5: ^ Chef DK download is a beast (300MB+). Ensure we're sticking it on a content delivery network to reduce download times for end users as much as possible.

## 3. Set up your working directory

Let's create a place to call home for the next few tutorials. Open a terminal window, create the <filepath>~/chef-tutorials/</filepath> directory, and go there.

```bash
$ mkdir ~/chef-tutorials
$ cd ~/chef-tutorials
```

## 4. Bring up a text editor

A programmer's best friend is a good text editor that supports syntax highlighting. If vim or emacs aren't your thing, we recommend [Sublime Text 2](sublime-text-2).

## 5. Try the first tutorial

You'll learn about configuring system resources, starting with files.

<%= link_to 'Configure a resource &rarr;', "/rhel/configure-a-resource/", class: 'button radius' %>



[sublime-text-2]: http://www.sublimetext.com/
