---
layout: bumper
name: get-started-with-chef-analytics
description: 'Learn how Chef Analytics provides comprehensive, real-time visibility into what is happening on your Chef server.'
order: 2
title: "Get started with Chef Analytics"
type: topic
category: manage-and-premium-features
ignore_breadcrumb: true
time_to_complete: Two 60 min lessons plus prerequisites
platform_intro: Click the button to get started.
tags: []
---
