---
layout: content
name: get-started-with-chef-analytics
order: 99
title: "Get started with Chef Analytics"
type: topic
ignore_breadcrumb: true
time_to_complete: 1 hr setup plus one 30 min lesson
platform_intro: Click the button to get started.
tags: [beta]
---
