<h2>Exercises</h2>
<p>
<span style="font-size:22px;">1. What's the value of local development using Test Kitchen?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/local-development/windows/get-started-with-test-kitchen/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. What is the role of a Test Kitchen driver?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/local-development/windows/get-started-with-test-kitchen/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="3"></a>
<span style="font-size:22px;">3. Modify your <code>settings_windows</code> cookbook's <code class="file-path">.kitchen.yml</code> file so that it applies the cookbook in two virtual environments, for example, Hyper-V and EC2.</span>
</p>
<p>
<b>Hint:</b> You can create two <code>platform</code> sections and override the <code>driver</code> configuration in each. The <a href="https://docs.chef.io/config_yml_kitchen.html#syntax">Chef documentation</a> shows a basic example.
</p>
</p>
<p>
If you don't want to set up both drivers right now, just think about what you might do, and then read the answer.
</p>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question3" class="box content">
      <%= partial "/local-development/windows/get-started-with-test-kitchen/exercises/answers/3" %>
    </div>
  </dd>
</dl>
</p>
