<h2>Exercises</h2>
<p>
<a name="1"></a>
<span style="font-size:22px;">1. Write audit controls that verify some of your organization's compliance and regulatory requirements.</span>
</p>
<p>
Writing at least one audit test gives you the foundation to write more, plus it's an important step towards buliding confidence that the state of your infrastructure meets your compliance goals.
</p>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/controls-for-compliance/ubuntu/get-alerted-when-an-audit-run-fails/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
