---
title: "Red Hat Enterprise Linux"
order: 1
---
# Red Hat Enterprise Linux

In this track, you'll learn to use Chef to configure Red Hat Enterprise Linux and CentOS servers. To start, we'll set up your working environment and run through some basic commands on your Linux laptop or desktop to give you a flavor of Chef's capabilities.

Each tutorial provides an estimated time to complete so you can schedule time to work through them. Most tutorials take between 10 and 20 minutes to work through.

## Grab RHEL or CentOS machine

With Chef, you administer your server infrastructure from your laptop or desktop computer. In practice, you can configure your servers from a system running Windows, Mac OS, or Linux. But initially, you'll apply some basic configuration commands locally on your RHEL or CentOS system to get a feel for what Chef can do.

You'll use Chef to do some nondestructive things to your system, but be sure that you're working on a system that you're comfortable making changes to. We recommend spinning up a virtual machine so you can experiment freely.

If you don't have access to a RHEL or CentOS machine, we offer the <a href='http://opscode-cheflab.herokuapp.com/labs/learnchef/centos/attend' target='_blank'>CentOS Training Lab</a> that you can use for free.

## Install the Chef tools

Install the Chef development kit, or Chef DK, on your laptop, desktop, or VM.

<a class='button radius' href='http://www.getchef.com/downloads/chef-dk/linux/' target='_blank'><i class='icon-download-alt'></i>&nbsp;Install ChefDK</a>

[COMMENT] crushtime-9: ^ This is a blocking step, as you need to wait for the tools to download. Chef DK is 314 MB on RHEL. Consider making it smaller.

[COMMENT] crushtime-5: ^ Chef DK download is a beast (300MB+). Ensure we're sticking it on a content delivery network to reduce download times for end users as much as possible.

## Get a text editor

Make sure you have a programmer's text editor that can have multiple files open at one time and includes syntax highlighting. If you don't have a favorite, we recommend that you try [Sublime Text 2][sublime-text-2].

## Next

Now move on to the first tutorial, where you'll learn about configuring resources, starting with files.

<%= link_to 'Configure a resource &rarr;', "/rhel/configure-a-resource/", class: 'button radius' %>



[sublime-text-2]: http://www.sublimetext.com/
