---
layout: content
name: install-and-manage-your-own-chef-server
description: If you need to run Chef server on premises, learn how by installing and configuring your own Chef server and seting up a node to work with it.
order: 1
title: "Learn to install and manage your own Chef Server"
type: topic
category: manage-and-premium-features
ignore_breadcrumb: true
time_to_complete: 1 hr setup plus three 15-60 min lessons
platform_intro: Click the button to get started.
tags: [beta]
---
