---
layout: bumper
name: install-and-manage-your-own-chef-server
description: Learn how to install and configure your own on premises Chef server. Then, set up a node to manage.
order: 1
title: "Install and manage your own Chef server"
type: topic
category: manage-and-premium-features
ignore_breadcrumb: true
time_to_complete: Two 30-60 min lessons
platform_intro: Click the button to get started.
tags: []
under_construction: true
---
