---
id: create-a-web-app-cookbook
description: "Extend what you've learned by managing a web application that uses a web server, a database, and scripting."
layout: bumper
name: create-a-web-app-cookbook
order: 4
title: "Create a web app cookbook"
short_title: "Create a web app cookbook"
type: topic
category: local-development
ignore_breadcrumb: true
time_to_complete: Eight-Eleven 15-60 min lessons
platform_intro: Choose the server platform you want to manage.
tags: []
logo: web-app.svg
---
