---
description: "Learn how to get rapid feedback and speed up the development process even more by using Test Kitchen and other tools to perform automated testing on your infrastructure code."
layout: tutorials/platforms/layout
name: test-your-infrastructure-code
order: 5
title: "Test your infrastructure code"
short_title: "Test locally"
type: topic
category: local-development
time_to_complete: Three 60 min lessons plus prerequisites
tags: []
logo: tests.svg
deprecated: We're phasing out this content. Check out <a href="/skills/get-started-with-testing/">Getting started with automated testing</a> to get started with testing your Chef code.
---
# Test your infrastructure code

Learn how to get rapid feedback and speed up the development process even more by using Test Kitchen, InSpec, and other tools to perform automated testing on your infrastructure code.

## Choose your server environment

Click on one of the buttons below to select the kind of system you want to work with. You'll bring up test instances of that platform using Test Kitchen, just as you did in the previous tutorials.

[COMMENT] We currently provide content for Red Hat Enterprise Linux and CentOS. In the future we'll add content for Windows Server and Ubuntu.

<%= partial 'layouts/tutorials/platform_grid', locals: {
  categories: [
    {
      description: "Here you'll work with Red Hat Enterprise Linux 7 or CentOS 7.",
      platforms: [
        path: "/tutorials/test-your-infrastructure-code/rhel/",
        logo: "/assets/images/rhel/platform-logos/redhat.svg",
        label: "Red Hat Enterprise Linux"
      ]
    }
  ]
}
%>
