<h2>Exercises</h2>
<p>
<span style="font-size:22px;">1. In which Chef development phase &ndash; pre-convergence, convergence, post-convergence &ndash; are these popular testing tools run?</span>
</p>
<ul>
  <li>RuboCop</li>
  <li>Foodcritic</li>
  <li>ChefSpec</li>
  <li>Chef audit mode</li>
  <li>Serverspec</li>
  <li>Test Kitchen</li>
</ul>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/modules/test-driven-development/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. What's the value of running tests during the pre-convergence phase?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/modules/test-driven-development/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
