---
description: "Learn how Chef Delivery manages changes to both infrastructure and application code, giving your operations and development teams a common platform for developing, building, testing, and deploying cookbooks, applications, and more."
layout: bumper
name: build-a-delivery-pipeline
order: 4
title: "Build a continuous delivery pipeline with Chef Delivery"
type: topic
category: continuous-delivery
ignore_breadcrumb: true
time_to_complete: Six 15-30 minute lessons
platform_intro: Click the button to get started.
tags: [new]
meta_tags: [{name: "ROBOTS", content: "NOINDEX, NOFOLLOW"}]
---
