---
title: 'Write the build cookbook'
order: 4
keywords: TODO
layout: lesson
sections: [0, 1, 2, 3, 4, 5, 6]
next: {heading: Next, partial: next}
time_to_complete: 2 hours
survey_id: y3AlS7q0UqEKEgEtubISI4kbm49jeZlNVVSyeR_2Bibz5j1OEFjogfOI_2FckRz8Ro8w
meta_tags: [{name: "ROBOTS", content: "NOINDEX, NOFOLLOW"}]
redirect: /delivery_tutorial_offline/
---
[CALLOUT networks/team-members-workstation.svg] This part is performed from a team member's workstation unless specified otherwise.

So far, you have a basically empty build cookbook. In this lesson, you'll add functionality to the phases highlighted here:

| Verify     | Build      | Acceptance    | Union         | Rehearsal     | Delivered     |
|------------|------------|---------------|---------------|---------------|---------------|
| <span class="highlight-text">**Unit**</span>   | <span class="highlight-text">**Unit**</span>   | <span class="highlight-text">**Provision**</span> | <span class="highlight-text">**Provision**</span> | <span class="highlight-text">**Provision**</span> | <span class="highlight-text">**Provision**</span> |
| <span class="highlight-text">**Lint**</span>   | <span class="highlight-text">**Lint**</span>   | <span class="highlight-text">**Deploy** </span>   | <span class="highlight-text">**Deploy**</span>    | <span class="highlight-text">**Deploy**</span>    | <span class="highlight-text">**Deploy**</span>    |
| <span class="highlight-text">**Syntax**</span> | <span class="highlight-text">**Syntax**</span> | <span class="highlight-text">**Smoke**</span>     | <span class="highlight-text">**Smoke**</span>     | <span class="highlight-text">**Smoke**</span>     | <span class="highlight-text">**Smoke**</span>     |
|            | Quality    | Functional    | Functional    | Functional    | Functional    |
|            | Security   |               |               |               |               |
|            | <span class="highlight-text">**Publish**</span>|               |               |               |               |

Your build cookbook consists of recipes. Each recipe corresponds to a phase, such as lint or syntax. Any time that a phase runs, no matter in which stage, it uses the same recipe. For example, the recipe for the lint phase runs in the Verify and Build stages. You can use conditional logic to customize how the recipe behaves for a given stage.

How you define each phase depends on your project and its requirements. For example, if your project is a web application that contains JavaScript, you might run JSLint as part of the lint phase. Alternatively, if you don't currently run lint tests on your code, you can leave the phase empty or configure Chef Delivery to skip it.

Our project is the `awesome_customers` cookbook. Here's a brief summary of what each phase will accomplish.

* **unit** &ndash; run ChefSpec.
* **lint** &ndash; run Foodcritic and RuboCop.
* **syntax** &ndash; run `knife cookbook test`.
* **publish** &ndash; upload `awesome_customers` and the cookbooks it depends on to the Chef server.
* **provision** &ndash; use Chef provisioning to create the infrastructure needed to test the artifacts (on first use) and to bootstrap the web application server.
* **deploy** &ndash; run `chef-client` on the web application server. This phase deploys the artifacts that were published during the Build stage to the infrastructure you set up during the provision phase.
* **smoke** &ndash; verify that the web server is at least minimally functional.

To help implement these steps, we'll use the [delivery-truck](https://github.com/chef-cookbooks/delivery-truck) cookbook. This cookbook performs tasks that are typical for a cookbook project. For example, its `unit` recipe runs ChefSpec and its `lint` recipe runs Foodcritic and RuboCop. You'll start by adding `delivery-truck` as a dependency to your build cookbook. Then, step-by-step, you'll add the recipes for each phase.

You'll also update the build cookbook so that it uploads an encrypted data bag to Chef server. The Customers application needs the items in the data bag to access its database.

[COMMENT] If your project lead set up the project, be sure to [set up your workstation](/build-a-delivery-pipeline/aws/set-up-your-workstation/) before starting this lesson.
