---
title: "Using Chef Repo"
order: 2
---

h1 Chef Repo
p These steps will help you better understand your local Chef repository. These steps are operating-system independent.

= partial 'quickstart/chef-repo/prerequisite_steps'
hr
= partial 'quickstart/chef-repo/setup_chef_repo'
hr
= partial 'quickstart/chef-repo/simple_cookbook'
hr
= partial 'quickstart/chef-repo/upload'
hr
= partial 'quickstart/chef-repo/recap'

p align="center"
  = link_to 'Continue to Part 3 &raquo;', '/quickstart/converge', class: 'button'
