---
title: "Converge a node"
order: 3
description: 'Converge your first Chef node with VirtualBox, Vagrant, knife, and Chef Bootstrap.'
keywords: 'knife, virtualbox, vagrant, bootstrap, converge'
---

h1 Converge the Node
p You're almost there! In this final part, you will converge your first node with Chef!

= partial 'quickstart/converge/base_box'
hr
= partial 'quickstart/converge/bootstrap'
hr
= partial 'quickstart/converge/verify'

p align="center"
  = link_to 'Common Use Cases &raquo;', '/quickstart/common-use-cases', class: 'button'
