---
title: "Converge a node"
order: 3
---

h1 Converge the Node
p You're almost there! In this final part, you will converge your first node with Chef!

= partial 'quickstart/converge/base_box'
hr
= partial 'quickstart/converge/bootstrap'
hr
= partial 'quickstart/converge/verify'

p align="center"
  = link_to 'Common Use Cases &raquo;', '/quickstart/common-use-cases', class: 'button'
