---
title: Workstation
order: 2
description: Where you spend most of your time (building and updating Cookbooks, defining policy, etc.)
keywords: clone, git, chef-repo, cookbooks, workflow
---

# Workstation

As a Chef user, the workstation is where you will spend most of your time working with Chef. Workstation activities might include building and updating Chef [Cookbooks](/concepts/cookbooks), uploading items to the Chef Server, and defining organizational policy for [Roles](/concepts/roles) and [Environments](/concepts/environments).

To set up your workstation, complete the steps below:

## Install the Chef Client

What will happen?

We will install Chef and all of its dependencies installed via an operating system-specific package ("omnibus installer".)

This installation includes:

* The Ruby programming language: used by Chef
* `knife`: Command line tool for administrators
* `chef-client`: Client application
* `ohai`: System profiler

...and more

Workstation Requirements: The following operating systems have been tested as workstation systems with the tutorials featured on Learn Chef:

* Windows 7
* Mac OS X 10.7.3+
* Ubuntu 10.04 and 12.04

Other platforms and platform versions may work without modification.

Choose from one of the tabs below to see specific instructions for installing Chef Client:

<% tabs do %>
  <% tab 'Mac OS X', icon: 'apple' do %>
    <%= partial '/quickstart/workstation/mac_linux' %>
  <% end %>
  <% tab 'Ubuntu Linux', icon: 'layers' do %>
    <%= partial '/quickstart/workstation/mac_linux' %>
  <% end %>
  <% tab 'Windows', icon: 'windows' do %>
    <%= partial '/quickstart/workstation/windows' %>
  <% end %>
<% end # tabs %>

## Confirm Workstation to Server Connection

Verify your connection to a Chef Server (in this case, Hosted Enterprise Chef) by opening up your terminal to the directory where the Starter Kit was downloaded and unzipped and "Change Directory" (`cd`) into your chef-repo:

```
cd chef-repo
```

All remaining commands on Learn Chef should be run from within this directory. The first command is to check which clients are registered with Hosted Enterprise Chef. Enter the following into your terminal:

```
knife client list
```

 You should see something like:

```
organization_name-validator
```

This client contains the private key that your workstation uses to authenticate itself to Hosted Enterprise Chef.

[INFO] `knife` is a command-line tool that provides an interface between a local Chef repository and the Chef Server. It is included in the Chef Client install from [the installation step](#installthechefclient).

### Text Editor

Because working with Chef involves creating and manipulating code, the use of a capable text editor is highly recommended.

A good editor will:

* Show line numbers
* Highlight syntax
* Auto complete commands
* Allow you to open multiple files

If you do not have a preferred text editor, we recommend Sublime Text. It is offered with a free trial that is not time bound. It works on every platform. Get it here: http://www.sublimetext.com/

<p align="center">
  <%= link_to 'Proceed to Step Three: Nodes &rarr;', '/quickstart/nodes', class: 'button radius' %>
</p>
