---
title: 'Exercises'
order: 7
layout: step
---
<a name="1"></a>
<span style="font-size:22px;">1. What are the two ways to set up a Chef server?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer &raquo;</a>
    <div id="question1" class="box content">
      <%= partial "answers/_1" %>
    </div>
  </dd>
</dl>

<hr>

<a name="2"></a>
<span style="font-size:22px;">2. What's the role of the Starter Kit?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer &raquo;</a>
    <div id="question2" class="box content">
      <%= partial "answers/_2" %>
    </div>
  </dd>
</dl>

<hr>

<a name="3"></a>
<span style="font-size:22px;">3. Where can you get reusable cookbooks that are written and maintained by the Chef community?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer &raquo;</a>
    <div id="question3" class="box content">
      <%= partial "answers/_3" %>
    </div>
  </dd>
</dl>

<hr>

<a name="4"></a>
<span style="font-size:22px;">4. What's the command that enables you to interact with the Chef server?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question4">Answer &raquo;</a>
    <div id="question4" class="box content">
      <%= partial "answers/_4" %>
    </div>
  </dd>
</dl>
