---
title: 'Launch Chef server from the AWS Marketplace'
order: 1
keywords: TODO
layout: lesson
sections: []
next: {heading: Next, partial: next}
time_to_complete: 30 minutes
show_disqus: false
---
The AMI is preconfigured with Chef server, the [Chef management console](https://docs.chef.io/manage.html), [Chef reporting](https://docs.chef.io/install_reporting.html), and [Chef Analytics](https://docs.chef.io/analytics.html).

The Chef documentation explains how to launch the Chef server from the AMI and set up your workstation. Click the button to get started.

<a class='accent-button radius' href='https://docs.chef.io/aws_marketplace.html' target='_blank'>Install Chef server&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

[CLOUD] Chef server is free to use for up to 5 nodes. Hourly billing for the AMI is done through your Amazon Web Services (AWS) account. [Sign up for an AWS account](http://aws.amazon.com) if you don't have one.

[COMMENT] If you use 1-Click Launch to start your Chef server instance, the required ports are preconfigured for you. If you manually launch the instance, you'll need to add rules to your security groups that open ports 22 (SSH), 443 (HTTPS), and 5672 for inbound traffic. Chef server requires 5672 because it uses RabbitMQ for messaging.

[COMMENT] If you plan to use Chef Analytics, you'll also need to add a security group rule that opens port 8443 to inbound traffic to enable you to access the Chef Analytics web interface.
