---
description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum turpis massa, feugiat sit amet ante at, venenatis tempor enim. Curabitur et purus quam."
layout: bumper
name: how-to-learn-chef
order: 0
title: "New to Chef?"
type: topic
category: getting-started
ignore_breadcrumb: true
platform_intro: ''
---
