---
layout: bumper
name: how-to-learn-chef
order: 0
title: "New to Chef?"
type: topic
category: getting-started
ignore_breadcrumb: true
platform_intro: 'Explore Chef learning resources that fit your interests and learning style.'
---
