---
layout: bumper
name: controls-for-compliance
description: 'Learn how to use audit mode and Chef Analytics to help meet your compliance requirements.'
order: 3
title: "Audit a node for compliance"
type: topic
category: gain-insights
ignore_breadcrumb: true
time_to_complete: Two 60 min lessons plus prerequisites
platform_intro: Click the button to get started.
tags: []
---
