<h2>Exercises</h2>
<p>
<span style="font-size:22px;">1. On your node or Test Kitchen instance, examine your custom Apache configuration file to see how the placeholders get filled in as the recipe runs.</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/manage-a-web-app/rhel/run-your-web-application-on-a-node/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. What is the latest version of the <code>haproxy</code> community cookbook?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/manage-a-web-app/rhel/run-your-web-application-on-a-node/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="3"></a>
<span style="font-size:22px;">3. You wrote the SQL script that creates the table and adds a few initial rows to <code class="file-path">/tmp/create-tables.sql</code>. Modify your cookbook to delete this script after it's no longer needed.</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question3" class="box content">
      <%= partial "/manage-a-web-app/rhel/run-your-web-application-on-a-node/exercises/answers/3" %>
    </div>
  </dd>
</dl>
</p>
