---
title: 'Bootstrap your node'
order: 6
layout: tutorial
description: TODO
keywords: TODO
---
[TIMETOCOMPLETE] 10

# Bootstrap your node

Recall that any computer that's managed by a Chef server is called a _node_. We call the process that installs the Chef tools on a node and the initial check-in to the Chef server _bootstrapping_ the node.

Let's bootstrap a node and execute the web server cookbook on it.

If you haven't set up a Chef server and uploaded your cookbook to it, the [previous lesson](/rhel/get-ready-to-add-another-server/) shows you how.

## <i class="fa fa-linux" style="margin-right:3px;"></i> Get a Linux machine to bootstrap

In the previous tutorials, you configured the server directly. The machine you used had the Chef tools pre-installed. Now you need to get a machine that doesn't have the Chef tools on it so you can see how the bootstrap process works.

Like the previous tutorials, there are two ways to get set up.

Option 1: use your own Linux machine. Any RHEL or CentOS machine that meets the [system requirements](http://docs.getchef.com/chef_system_requirements.html) works great. Don't install the Chef tools on it just yet.

Option 2: let us provide a CentOS virtual machine. Just click the button below.

<%= partial 'layouts/provisioner', locals: { title: 'CentOS', type: 'ec2-rhel-fundamentals' } %>

<sidebar style="line-height:1.7; font-size:1.0em; margin-top:30px; max-width:575px;">
<span style="line-height:2.0;"><i class="fa fa-search"></i>&nbsp;**Keep in mind as you read:**</span><br>
  <i class="fa fa-check"></i>&nbsp; a _node_ is any computer managed by Chef.<br>
  <i class="fa fa-check"></i>&nbsp; _bootstrapping_ installs the Chef tools and does an initial check-in.<br>
</sidebar>

## <i class="fa fa-tasks rediconcolor" style="margin-right:3px;"></i> Here's what you'll do

  1. [Bootstrap your node](#1bootstrapyournode)
  1. [Confirm the result](#2confirmtheresult)

<hr />

## 1. Bootstrap your node

<div class="indent" id="bootstrap-intro">
From your workstation, run this command to bootstrap your node. If you're working with your own server and not the one that we provide, replace <codeinline>ADDRESS</codeinline> with your server's external address, <codeinline>USER</codeinline> with your username, and <codeinline>PASSWORD</codeinline> with your password.
</div>
<p/>
<div id="bootstrap-command" class="window">
            <nav class="control-window">
              <a href="#finder" class="close" data-rel="close">close</a>
              <a href="#" class="minimize">minimize</a>
              <a href="#" class="deactivate">deactivate</a>
            </nav>
            <h1 class="titleInside">Terminal: ~/chef-repo</h1>
            <div class="container" data-chef-lab-template data-type="ec2-rhel-fundamentals"><div class="terminal"><table><tbody><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">$</span></pre></td><td class="code"><pre><code><span class="line command">knife bootstrap {{address}} --ssh-user {{user}} --ssh-password {{password}} --sudo --use-sudo-password --node-name node1 --run-list 'recipe[learn\_chef\_httpd]'</span></code></pre></td></tr></tbody></table></div></div>
          </div>

The optional <codeinline>--node-name</codeinline> argument uniquely identifies the node with the Chef server. Its value can be whatever you want. The server's fully qualified domain name (FQDN) is the default.

## 2. Confirm the result

Two things just happened.

First, your node was associated with your hosted Enterprise Chef account. To verify this, navigate to the [Chef Management Console](<%= hec_manage_url %>/organizations). From the **Nodes** tab, you'll see an entry for the node you just bootstrapped.

![The bootstrapped node](rhel/management-console-node.png)

Second, your node did an initial check in with the Chef server and ran the web server cookbook. To verify this, open a web browser from your workstation and navigate to your web server.

![The basic home page](misc/webserver-basic.png)

<hr>

# <i class="fa fa-question blueiconcolor" style="margin-right:3px;"></i> What did we see here?

The <codeinline>knife bootstrap</codeinline> command established an SSH connection to the node, installed the Chef tools, downloaded the web server cookbook on the node, and ran it. In one command, Chef carried out most of the steps you previously dealt with manually.

## <i class="fa fa-road blueiconcolor" style="margin-right:3px;"></i> Wrap-up and what's next

Next let's spice things up and add some info about your web server to your home page.

<%= link_to 'Add dynamic configuration &rarr;', '/rhel/add-dynamic-configuration/', class: 'button radius' %>
