---
title: '1. Install the Chef Development Kit'
type: topic
order: 1
layout: step
description: "Set up your workstation to use Chef."
keywords: TODO
---
The first step to managing a node remotely is to install the Chef Development Kit (ChefDK) on your workstation.

<a class='accent-button radius' href='<%= chef_downloads_url %>/chef-dk/' target='_blank'>Install ChefDK&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>
