---
title: 'Install Chef server'
order: 2
keywords: TODO
layout: lesson-options
sections: [3]
show_disqus: false
---
The easiest way to get started with your own Chef server is to launch a fully-functional Amazon Machine Images (AMI) for the Chef server from the AWS Marketplace or from the Microsoft Azure Marketplace.

Both the AMI and Azure Marketplace image are preconfigured with Chef server, the [Chef management console](https://docs.chef.io/manage.html), [Chef reporting](https://docs.chef.io/install_reporting.html), and [Chef Analytics](https://docs.chef.io/analytics.html). Choosing one of these options will more quickly prepare you for our [Get started with Chef Analytics](/get-started-with-chef-analytics/linux/) tutorial, which shows you how to use Chef Analytics to gain insight into what is happening on your Chef server.

You can also install Chef server manually on your own hardware or on another cloud provider.

[START_BOX]

## Option 1: Launch Chef server from the AWS Marketplace

The Chef documentation explains how to launch the Chef server from the AMI.

<a class='accent-button radius' href='https://docs.chef.io/aws_marketplace.html' target='_blank'>Install Chef server from the AWS Marketplace&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

If you followed the other Learn Chef tutorials, you can copy your <% fp 'chef-repo' %> directory that contains the Starter Kit to the <% fp '~/learn-chef' %> directory. Doing so helps keeps your Chef learning materials in one place.

If you are using AMI version 2016-01-20, run these commands from your Chef server to complete the installation process after you run `sudo chef-marketplace-ctl setup`. We'll fix this issue in a later release.

```bash
$ sudo rm -r /var/log/opscode
$ sudo rm -r /var/log/opscode-analytics
$ sudo chef-marketplace-ctl upgrade -s
$ sudo chef-marketplace-ctl upgrade -a
$ sudo opscode-analytics-ctl restart
```

You can then [proceed to the next part](/install-and-manage-your-own-chef-server/linux/manage-a-node-on-your-chef-server), where you'll set up a node to manage, bootstrap it, and apply a basic cookbook.

[END_BOX]

[START_BOX]

## Option 2: Launch Chef server from the Azure Marketplace

The Chef documentation explains how to launch the Chef server from the Azure Marketplace.

<a class='accent-button radius' href='https://docs.chef.io/windows.html#azure-marketplace' target='_blank'>Install Chef server from the Azure Marketplace&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

If you followed the other Learn Chef tutorials, you can copy your <% fp 'chef-repo' %> directory that contains the Starter Kit to the <% fp '~/learn-chef' %> directory. Doing so helps keeps your Chef learning materials in one place.

You can then [proceed to the next part](/install-and-manage-your-own-chef-server/linux/manage-a-node-on-your-chef-server), where you'll set up a node to manage, bootstrap it, and apply a basic cookbook.

[END_BOX]
