---
title: 'Install Chef server'
order: 2
keywords: TODO
layout: lesson-options
sections: []
---
Now that you've performed the prerequisite tasks, you're ready to install and configure Chef server.

The easiest way to get started with your own Chef server is to launch a fully-functional Amazon Machine Images (AMI) for the Chef server from the AWS Marketplace or get Chef server from the Microsoft Azure Marketplace.

<a class="button radius" href="/install-and-manage-your-own-chef-server/linux/install-chef-server/launch-chef-server-from-the-aws-marketplace/">Option 1: Launch Chef server from the AWS Marketplace (recommended)</a>

<a class="button radius" href="/install-and-manage-your-own-chef-server/linux/install-chef-server/launch-chef-server-from-the-azure-marketplace/">Option 2: Launch Chef server from the Microsoft Azure Marketplace (recommended)</a>

Or you can install and configure Chef server using your hardware or cloud provider.

<a class="button radius" href="/install-and-manage-your-own-chef-server/linux/install-chef-server/install-chef-server-using-your-hardware/">Option 3: Install and configure Chef server using your hardware or cloud provider</a>
