---
title: 'Exercises'
order: 7
layout: step
description: TODO
keywords: TODO
---
<span style="font-size:22px;">1. What is the command you use to upload a cookbook to the Chef server?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer &raquo;</a>
    <div id="question1" class="box content">
      <%= partial "answers/_1" %>
    </div>
  </dd>
</dl>

<hr>

<a name="2"></a>
<span style="font-size:22px;">2. How do you apply an updated cookbook to your node?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer &raquo;</a>
    <div id="question2" class="box content">
      <%= partial "answers/_2" %>
    </div>
  </dd>
</dl>

<hr>

<a name="3"></a>
<span style="font-size:22px;">3. Update your IIS cookbook to display your node's host name, platform, and number of CPUs in addition to its FQDN on the home page.</span>

**Hint:** [the documentation](<%= chef_docs_url %>/attributes.html#automatic-ohai) lists common node attributes.

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer &raquo;</a>
    <div id="question3" class="box content">
      <%= partial "answers/_3" %>
    </div>
  </dd>
</dl>
