<div class="start">
  <button class="button radius" ng-click="fetch()">
    <% article = %w(a e i o u).include?(title[0].downcase) ? 'an' : 'a' %>
      <i class='fa fa-play'></i>&nbsp;Launch <%= article %> <%= title %> virtual machine
  </button>
</div>