<button class="button radius" data-reveal-id="<%= provisioner %>-modal">
  <% article = %w(a e i o u).include?(title[0].downcase) ? 'an' : 'a' %>
  <i class='fa fa-external-link'></i>
  Launch <%= article %> <%= title %> Virtual Machine
</button>

<div id="<%= provisioner %>-modal" class="reveal-modal" data-reveal>
  <p>
    We'll open your virtual machine in a new window.  When it finishes loading, click 
    Start Using This Environment:
  </p>
  <p>
    <img class="crop" src="/assets/images/quickstart/nodes/cloud-share/start-environment-cropped.png">
  </p>
  <p>
    Then View VM to open it in your browser, or 
    More Details to connect to it directly with 
    <a href="http://en.wikipedia.org/wiki/Secure_Shell" target="_blank">SSH</a>
    or <a href="http://en.wikipedia.org/wiki/Remote_Desktop_Protocol" target="_blank">RDP</a>:  
  </p>
  <p>
    <img class="crop" src="/assets/images/quickstart/nodes/cloud-share/view-vm-cropped.png">
  </p>
  <p>
    The environment will be available to 
    you for 24 hours, and you can return to it anytime from this page. 
    If it expires, just fire up another one.
  </p>
  <button class="button radius" ng-click="fetch()">Launch the VM</button>
  <a class="close-reveal-modal" >&#215;</a>
</div>