<button class="button radius" ng-click="fetch()">
  <% article = %w(a e i o u).include?(title[0].downcase) ? 'an' : 'a' %>
  <i class='fa fa-external-link'></i>
  Launch <%= article %> <%= title %> Virtual Machine
</button>

<div id="<%= provisioner %>-modal" class="reveal-modal" data-reveal>
  <p>
    We'll open your virtual machine in a new window.  When it finishes loading, click 
    <strong>Start Using This Environment</strong>:
  </p>
  <p>
    <img class="crop" src="/assets/images/quickstart/nodes/cloud-share/start-environment-cropped.png">
  </p>
  <p>
    On the next page, click <strong>View VM</strong> to start using the virtual machine in your 
    browser, or click <strong>More Details</strong> to connect to it directly with 
    <a href="http://en.wikipedia.org/wiki/Secure_Shell" target="_blank">SSH</a>
    or <a href="http://en.wikipedia.org/wiki/Remote_Desktop_Protocol" target="_blank">RDP</a>:  
  </p>
  <p>
    <img class="crop" src="/assets/images/quickstart/nodes/cloud-share/view-vm-cropped.png">
  </p>
  <p>
    The environment will be available to 
    you for 24 hours, and you can return to it anytime from this page. 
    If it expires, just fire up another one.
  </p>
  <div class="controls">
    <button class="button radius" ng-click="fetch(true)">Launch the VM</button>
    <div class="control">
      <input id="suppress" type="checkbox" ng-model="visitor.prefs.suppressCloudshareModal">
      <label for="suppress">Don't show this again</label>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>