<p>
  <% if type.end_with? 'localmode' %>
    Your virtual machine is all ready to go! Download the RDP shortcut file to
    connect:
  <% else %>
    Your virtual machine is all ready to go! <b>Don't connect just yet</b> - we'll show you how to later. But here's the RDP shortcut file in case you need it:
  <% end %>
</p>
<div class="download-button">
  <a href="{{ machine.rdpFileUrl }}" class="button radius">
    <i class="fa fa-download"></i>&nbsp;Download Remote Desktop File
  </a>
</div>
<p>
  Or connect using your Remote Desktop client:
</p>
<ul>
  <li>Host name: <b>{{ machine.address }}</b></li>
  <li>User name: <b>{{ machine.user }}</b></li>
  <li>Password: <b>{{ machine.password }}</b></li>
</ul>
