---
title: 'Bootstrap your node'
order: 4
description: 'Set up chef-client on your node,
 associate it with your Chef server, and apply your IIS cookbook to it.'
keywords:
layout: lesson
sections: [exercises]
next: {heading: Next, partial: next}
time_to_complete: 20 minutes
---
[HEADLINE] We call the process that installs `chef-client` on a node and the initial checkin to the Chef server _bootstrapping_ the node.

Recall that any computer that's managed by a Chef server is called a _node_, and that `chef-client` is the command that applies the policy defined by your cookbooks to a node.

Let's bootstrap a node and apply the IIS cookbook to it.

[START_BOX]

## 1. Bootstrap your node

Now that you've verified that you can connect to your node over WinRM, you're now ready to bootstrap it.

First, from your workstation, make sure you're in the <code class="file-path">~/learn-chef</code> directory.

```bash
$ cd ~/learn-chef
```

Run this command to bootstrap your node. Replace <code class="placeholder">ADDRESS</code> with your remote node's external address, <code class="placeholder">USER</code> with your username, and <code class="placeholder">PASSWORD</code> with your password.

```bash
# ~/learn-chef
$ knife bootstrap windows winrm ADDRESS --winrm-user USER --winrm-password 'PASSWORD' --node-name node1 --run-list 'recipe[learn_chef_iis]' 
```

Here's an example.

```bash
# ~/learn-chef
$ knife bootstrap windows winrm 52.201.225.210 --winrm-user Administrator --winrm-password 'HhrQCP&e*Ey' --node-name node1 --run-list 'recipe[learn_chef_iis]'
Creating new client for node1
Creating new node for node1

Waiting for remote response before bootstrap.52.201.225.210 .
52.201.225.210 Response received.
Remote node responded after 0.01 minutes.
52.201.225.210 AMD64
Bootstrapping Chef on 52.201.225.210
[...]
52.201.225.210 [2016-05-03T16:17:08+00:00] INFO: Processing powershell_script[Install IIS] action run (learn_chef_iis::default line 9)
52.201.225.210 [2016-05-03T16:17:08+00:00] INFO: Processing powershell_script[Guard resource] action run (dynamically defined)
52.201.225.210 [2016-05-03T16:17:35+00:00] INFO: powershell_script[Install IIS] ran successfully
52.201.225.210 [2016-05-03T16:17:35+00:00] INFO: Processing windows_service[w3svc] action enable (learn_chef_iis::default line 15)
52.201.225.210 [2016-05-03T16:17:35+00:00] INFO: Processing windows_service[w3svc] action start (learn_chef_iis::default line 15)
52.201.225.210 [2016-05-03T16:17:35+00:00] INFO: Processing template[c:\inetpub\wwwroot\Default.htm] action create (learn_chef_iis::default line 19)
52.201.225.210 [2016-05-03T16:17:35+00:00] INFO: template[c:\inetpub\wwwroot\Default.htm] created file c:\inetpub\wwwroot\Default.htm
52.201.225.210 [2016-05-03T16:17:35+00:00] INFO: template[c:\inetpub\wwwroot\Default.htm] updated file contents c:\inetpub\wwwroot\Default.htm
52.201.225.210 [2016-05-03T16:17:36+00:00] INFO: Chef Run complete in 28.593762 seconds
52.201.225.210 [2016-05-03T16:17:36+00:00] INFO: Running report handlers
52.201.225.210 [2016-05-03T16:17:36+00:00] INFO: Report handlers complete
52.201.225.210 [2016-05-03T16:17:36+00:00] INFO: Sending resource update report (run-id: b30ed40e-22ec-4542-940e-7cdf93109dea)
```

The optional `--node-name` argument uniquely identifies the node with the Chef server. Its value can be whatever you want. The server's FQDN is the default. If you previously used the name `node1` to bootstrap a different node, you'll need to choose a different name or [remove the previous node](/manage-a-node/windows/update-your-nodes-configuration#howtocleanupyourenvironment).

[COMMENT] By default, the bootstrap process uses Negotiate authentication and encryption, helping protect your password an other sensitive information.

<% reveal_modal('knife-help-modal', 'Need help troubleshooting?') do %>

<% markdown do %>

## If the operation times out or fails, here are some things to try

* Ensure that you run `knife` commands from your <code class="file-path">~/learn-chef</code> directory or one of its sub-directories.
* Ensure you have a <code class="file-path">~/learn-chef/.chef</code> directory and that it contains a <code class="file-path">knife.rb</code> file and your RSA private key file. If you don't, <a href="/manage-a-node/windows/set-up-your-chef-server#step2" target="_blank">configure your workstation to communicate with Chef server</a>.
* Ensure that your node's IP address is accessible from your network.
* Ensure the user name you provide has administrator access on the node.
* Ensure your workstation has outbound access (including firewall) on these ports:
  * 80 (HTTP)
  * 443 (HTTPS)
  * 5985 (WinRM)
* Ensure your node has inbound access (including firewall) on these ports:
  * 80 (HTTP)
  * 5985 (WinRM)
* Ensure your node has outbound access (including firewall) on these ports:
  * 443 (HTTPS)

<% end %>

<% end %>


[END_BOX]

[START_BOX]

## 2. Confirm the result

Two things just happened.

First, your node was associated with your hosted Chef account. To verify this, navigate to the [Chef management console](https://manage.chef.io/organizations). From the **Nodes** tab, you'll see an entry for the node you just bootstrapped.

![The bootstrapped node](windows/management-console-node.png)

You can also verify that the node successfully bootstrapped by running the `knife node list` command.

```bash
# ~\learn-chef
$ knife node list
node1
```

You can use the `knife node show` command to view data about your node.

```bash
# ~\learn-chef
$ knife node show node1
Node Name:   node1
Environment: _default
FQDN:        WIN-CCAB05V5AFB
IP:          52.201.225.210
Run List:    recipe[learn_chef_iis]
Roles:
Recipes:     learn_chef_iis, learn_chef_iis::default
Platform:    windows 6.3.9600
Tags:
```

The second thing that happened was that your node did an initial checkin with the Chef server and ran the IIS cookbook. To verify this, open a web browser from your workstation and navigate to your web server.

![The basic home page](misc/webserver-basic-remote.png)

[END_BOX]

[START_BOX]

## Summary

The `knife bootstrap` command established a WinRM connection to the node, installed `chef-client`, downloaded the Learn Chef IIS cookbook on the node, and ran it. In one command, Chef carried out most of the steps you previously performed manually.

[END_BOX]
