---
title: 'Bootstrap your node'
order: 4
description: 'Set up chef-client on your node,
 associate it with your Chef server, and apply your IIS cookbook to it.'
keywords:
layout: lesson
sections: [exercises]
next: {heading: Next, partial: next}
time_to_complete: 20 minutes
---
[HEADLINE] We call the process that installs `chef-client` on a node and the initial check-in to the Chef server _bootstrapping_ the node.

Recall that any computer that's managed by a Chef server is called a _node_, and that `chef-client` is the command that applies the policy defined by your cookbooks to a node.

Let's bootstrap a node and execute the IIS cookbook on it.

[START_BOX]

## 1. Bootstrap your node

Now that you've verified that you can connect to your node over WinRM, you're now ready to bootstrap it.

First, from your workstation, make sure you're in the <code class="file-path">~/learn-chef</code> directory.

```bash
$ cd ~/learn-chef
```

Run this command to bootstrap your node. Replace <code class="placeholder">ADDRESS</code> with your remote node's external address, <code class="placeholder">USER</code> with your username, and <code class="placeholder">PASSWORD</code> with your password.

```bash
# ~/learn-chef
$ knife bootstrap windows winrm ADDRESS --winrm-user USER --winrm-password 'PASSWORD' --node-name node1 --run-list 'recipe[learn_chef_iis]' --winrm-transport ssl --winrm-ssl-verify-mode verify_none 
```

The optional `--node-name` argument uniquely identifies the node with the Chef server. Its value can be whatever you want. The server's FQDN is the default. If you previously used the name `node1` to bootstrap a different node, you'll need to choose a different name or remove the previous node.

[COMMENT] Remember, you used a self-signed certificate when setting up your node. The `--winrm-ssl-verify-mode verify_none` part turns off SSL certificate validation on your workstation. In production, we recommend that you replace the  `--winrm-ssl-verify-mode` with the `--ca-trust-file` option to supply the certificate that validates the identity of your node.

<hr>

<% reveal_modal('knife-help-modal', 'Need help troubleshooting?') do %>

<% markdown do %>

## If the operation times out or fails, here are some things to try

* Ensure that you run `knife` commands from your <code class="file-path">~/learn-chef</code> directory or one of its sub-directories.
* Ensure you have a <code class="file-path">~/learn-chef/.chef</code> directory and that it contains a <code class="file-path">knife.rb</code> file and your RSA private key file. If you don't, <a href="/manage-a-node/windows/set-up-your-chef-server#step2" target="_blank">configure your workstation to communicate with Chef server</a>.
* Ensure that your node's IP address is accessible from your network.
* Ensure the user name you provide has administrator access on the node.
* Ensure your workstation has outbound access (including firewall) on these ports:
  * 80 (HTTP)
  * 443 (HTTPS)
  * 5986 (WinRM)
* Ensure your node has inbound access (including firewall) on these ports:
  * 80 (HTTP)
  * 5986 (WinRM)
* Ensure your node has outbound access (including firewall) on these ports:
  * 443 (HTTPS)

<% end %>

<% end %>


[END_BOX]

[START_BOX]

## 2. Confirm the result

Two things just happened.

First, your node was associated with your hosted Chef account. To verify this, navigate to the [Chef management console](https://manage.chef.io/organizations). From the **Nodes** tab, you'll see an entry for the node you just bootstrapped.

![The bootstrapped node](windows/management-console-node.png)

You can also verify that the node successfully bootstrapped by running the `knife node list` command.

```bash
# ~\learn-chef
$ knife node list
node1
```

You can use the `knife node show` command to view data about your node.

```bash
# ~\learn-chef
$ knife node show node1
Node Name:   node1
Environment: _default
FQDN:        WIN-8LVQPQO00I4
IP:          172.32.66.6
Run List:    recipe[learn_chef_iis]
Roles:
Recipes:     learn_chef_iis, learn_chef_iis::default
Platform:    windows 6.2.9200
Tags:
```

The second thing that happened was that your node did an initial check in with the Chef server and ran the IIS cookbook. To verify this, open a web browser from your workstation and navigate to your web server.

![The basic home page](misc/webserver-basic-remote.png)

[WARN] The IP address that's returned by the `knife node show` command is often the node's _internal_ IP address. Make sure you're using your node's public IP address or host name.

[END_BOX]

[START_BOX]

## How to clean up your environment

Perform these steps if you want to clean up your Chef server after you complete tutorial or you want to repeat the tutorial from the beginning.

### Delete the node from the Chef server

As you experiment, it's a good idea to delete information about your node from the Chef server when you no longer need it. That way, your Chef server contains only relevant information. In practice, it's up to you whether to delete node information when you retire a production system from service.

From your workstation, run these commands to delete the data about your node from the Chef server.

```bash
# ~/learn-chef
$ knife node delete node1 --yes
Deleted node[node1]
$ knife client delete node1 --yes
Deleted client[node1]
```

### Tear down your node

Deleting a node from your Chef server removes any data about that node from the server &ndash; it doesn't automatically tear down the instance.

Don't forget to tear down any cloud instances that you used to complete the tutorial.

[END_BOX]

[START_BOX]

## Summary

The `knife bootstrap` command established a WinRM connection to the node, installed `chef-client`, downloaded the Learn Chef IIS cookbook on the node, and ran it. In one command, Chef carried out most of the steps you previously dealt with manually.

[END_BOX]
