---
title: 'Bootstrap your node'
order: 4
description: 'Set up chef-client on your node,
 associate it with your Chef server, and apply your Apache cookbook to it.'
keywords:
layout: lesson
sections: [exercises]
next: {heading: Next, partial: next}
time_to_complete: 20 minutes
---
[HEADLINE] We call the process that installs `chef-client` on a node and the initial checkin to the Chef server _bootstrapping_ the node.

Recall that any computer that's managed by a Chef server is called a _node_, and that `chef-client` is the command that applies the policy defined by your cookbooks to a node.

Let's bootstrap a node and execute the Apache cookbook on it.

[START_BOX]

## 1. Bootstrap your node

Now that you've verified that you can connect to your node over SSH, you're now ready to bootstrap it.

First, make sure you're in the <code class="file-path">~/learn-chef</code> directory.

```bash
$ cd ~/learn-chef
```

Now choose the option that matches how you normally connect to your node over SSH.

[COMMENT] The optional `--node-name` argument uniquely identifies the node with the Chef server. Its value can be whatever you want. The server's FQDN is the default. If you previously used the name `node1` to bootstrap a different node, you'll need to choose a different name or [remove the previous node](#howtocleanupyourenvironment).

### Bootstrap using a username and password

Replace <code class="placeholder">ADDRESS</code> with your remote node's external address, <code class="placeholder">USER</code> with your username, and <code class="placeholder">PASSWORD</code> with your user's password.

```bash
# ~/learn-chef
$ knife bootstrap ADDRESS --ssh-user USER --ssh-password 'PASSWORD' --sudo --use-sudo-password --node-name node1 --run-list 'recipe[learn_chef_httpd]'
Creating new client for node1
Creating new node for node1
Connecting to 40.76.28.32
40.76.28.32 -----> Installing Chef Omnibus (-v 12)
40.76.28.32 downloading https://www.opscode.com/chef/install.sh
40.76.28.32   to file /tmp/install.sh.1691/install.sh
40.76.28.32 trying wget...
40.76.28.32 Downloading Chef 12 for el...
[...]
40.76.28.32     @@ -1 +1,6 @@
40.76.28.32     +<html>
40.76.28.32     +  <body>
40.76.28.32     +    <h1>hello world</h1>
40.76.28.32     +  </body>
40.76.28.32     +</html>
40.76.28.32     - restore selinux security context
40.76.28.32   * service[iptables] action stop
40.76.28.32     - stop service service[iptables]
40.76.28.32
40.76.28.32 Running handlers:
40.76.28.32 Running handlers complete
40.76.28.32 Chef Client finished, 5/5 resources updated in 19 seconds
```

### Bootstrap using key-based authentication

Replace <code class="placeholder">ADDRESS</code> with your remote node's external address, <code class="placeholder">USER</code> with your username, and <code class="placeholder">IDENTITY\_FILE</code> with your SSH identify file, for example <code class="file-path">~/.ssh/my.pem</code>.

```bash
# ~/learn-chef
$ knife bootstrap ADDRESS --ssh-user USER --sudo --identity-file IDENTITY_FILE --node-name node1 --run-list 'recipe[learn_chef_httpd]'
Creating new client for node1
Creating new node for node1
Connecting to 40.76.28.32
40.76.28.32 -----> Installing Chef Omnibus (-v 12)
40.76.28.32 downloading https://www.opscode.com/chef/install.sh
40.76.28.32   to file /tmp/install.sh.1691/install.sh
40.76.28.32 trying wget...
40.76.28.32 Downloading Chef 12 for el...
[...]
40.76.28.32     @@ -1 +1,6 @@
40.76.28.32     +<html>
40.76.28.32     +  <body>
40.76.28.32     +    <h1>hello world</h1>
40.76.28.32     +  </body>
40.76.28.32     +</html>
40.76.28.32     - restore selinux security context
40.76.28.32   * service[iptables] action stop
40.76.28.32     - stop service service[iptables]
40.76.28.32
40.76.28.32 Running handlers:
40.76.28.32 Running handlers complete
40.76.28.32 Chef Client finished, 5/5 resources updated in 19 seconds
```

### Bootstrap a local virtual machine using a forwarded port

Here's an example for Vagrant.

Replace <code class="placeholder">PORT</code> with your SSH forwarded port, for example, 2222, and <code class="placeholder">IDENTITY\_FILE</code> with your SSH identify file, for example <code class="file-path">/home/user/.vagrant/machines/default/virtualbox/private_key</code>.

```bash
# ~/learn-chef
$ knife bootstrap localhost --ssh-port PORT --ssh-user vagrant --sudo --identity-file IDENTITY_FILE --node-name node1 --run-list 'recipe[learn_chef_httpd]'
Creating new client for node1
Creating new node for node1
Connecting to localhost
localhost -----> Installing Chef Omnibus (-v 12)
localhost downloading https://www.opscode.com/chef/install.sh
localhost   to file /tmp/install.sh.1691/install.sh
localhost trying wget...
localhost Downloading Chef 12 for el...
[...]
localhost     @@ -1 +1,6 @@
localhost     +<html>
localhost     +  <body>
localhost     +    <h1>hello world</h1>
localhost     +  </body>
localhost     +</html>
localhost     - restore selinux security context
localhost   * service[iptables] action stop (up to date)
localhost
localhost Running handlers:
localhost Running handlers complete
localhost Chef Client finished, 4/5 resources updated in 29 seconds
```

<hr>

<% reveal_modal('knife-help-modal', 'Need help troubleshooting?') do %>

<% markdown do %>

## If the operation times out or fails, here are some things to try

* Ensure that you run `knife` commands from your <code class="file-path">learn-chef</code> directory or one of its sub-directories.
* Ensure you have a <code class="file-path">learn-chef/.chef</code> directory and that it contains a <code class="file-path">knife.rb</code> file and your RSA private key file. If you don't, <a href="/manage-a-node/rhel/set-up-your-chef-server#step2" target="_blank">configure your workstation to communicate with Chef server</a>.
* Ensure that your node's IP address is accessible from your network.
* Ensure the user name you provide has root or `sudo` access on the node.
* Ensure your workstation has outbound access (including firewall) on these ports:
  * 22 (SSH)
  * 80 (HTTP)
  * 443 (HTTPS)
* Ensure your node has inbound access (including firewall) on these ports:
  * 22 (SSH)
* Ensure your node has outbound access (including firewall) on these ports:
  * 443 (HTTPS)

<% end %>

<% end %>


[END_BOX]

[START_BOX]

## 2. Confirm the result

Two things just happened.

First, your node was associated with your hosted Chef account. To verify this, navigate to the [https://manage.chef.io](https://manage.chef.io). From the **Nodes** tab, you'll see an entry for the node you just bootstrapped.

![The bootstrapped node](rhel/management-console-node.png)

You can also verify that the node successfully bootstrapped by running the `knife node list` command.

```bash
# ~/learn-chef
$ knife node list
node1
```

You can use the `knife node show` command to view data about your node.

```bash
# ~/learn-chef
$ knife node show node1
Node Name:   node1
Environment: _default
FQDN:
IP:          172.32.22.10
Run List:    recipe[learn_chef_httpd]
Roles:
Recipes:     learn_chef_httpd, learn_chef_httpd::default
Platform:    centos 6.5
Tags:
```

The second thing that happened was that your node did an initial checkin with the Chef server and ran the Apache cookbook. To verify this, open a web browser from your workstation and navigate to your web server.

![The basic home page](misc/webserver-basic-remote.png)

If you bootstrapped a Vagrant instance, the easiest way to verify the configuration is to create an SSH connection to the instance and run `curl localhost`.

```bash
$ vagrant ssh
Last login: Thu Dec  3 17:17:26 2015 from 10.0.2.2
[vagrant@localhost ~]$ curl localhost
<html>
  <body>
    <h1>hello world</h1>
  </body>
</html>
[vagrant@localhost ~]$ exit
logout
Connection to 127.0.0.1 closed.
```

[END_BOX]

[START_BOX]

## Summary

The `knife bootstrap` command established an SSH connection to the node, installed `chef-client`, downloaded the Learn Chef Apache cookbook on the node, and ran it. In one command, Chef carried out most of the steps you previously performed manually.

[END_BOX]
