---
description: "Learn how Chef server acts a central hub for your infrastructure code and information about your servers. We'll provide you with a server to manage."
layout: content
name: manage
order: 2
title: "Manage a Server"
type: topic
---