---
description: "Learn how Chef server acts a central hub for your cookbooks and information about your servers, or <i>nodes</i>. We'll provide you with a node to manage."
layout: content
name: manage
order: 2
title: "Learn to manage a node"
type: topic
---
