---
title: 'Install Chef Compliance'
order: 1
layout: lesson
sections: []
next: {heading: Next, partial: next}
time_to_complete: 60 minutes
---
Any system that's managed by a Chef server is commonly called a _node_.  [We use the same term to describe any system that's ]

[START_BOX]

## 1. Install Chef Compliance

[
You can install it from the AWS Marketplace or on-prem. The Chef docs explain how.
]

<a class='accent-button radius' href='https://docs.chef.io/install_compliance.html' target='_blank'>Install Chef Compliance server&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

[END_BOX]