In this tutorial, you'll log in to your Linux instance over an SSH connection to verify your work. To do so, you'll need an SSH client. macOS and most Linux distributions come with an SSH client. On Windows, you need to install one.

Chef DK version 0.15 and later comes with [Git for Windows](https://git-scm.com/download/win), which includes an SSH client.

To verify that Git and an SSH client are set up properly, open the **Chef Development Kit** shortcut from the desktop or **Start** menu and then run these commands.

```ps
$ git --version
git version 2.8.2.windows.1
$ ssh
usage: ssh [-1246AaCfGgKkMNnqsTtVvXxYy] [-b bind_address] [-c cipher_spec]
           [-D [bind_address:]port] [-E log_file] [-e escape_char]
           [-F configfile] [-I pkcs11] [-i identity_file]
           [-L address] [-l login_name] [-m mac_spec]
           [-O ctl_cmd] [-o option] [-p port]
           [-Q cipher | cipher-auth | mac | kex | key]
           [-R address] [-S ctl_path] [-W host:port]
           [-w local_tun[:remote_tun]] [user@]hostname [command]
```

If you receive an error or are unable to update to the latest version of the Chef DK, here's how to set up Git for Windows manually.

<% accordion('git-for-windows', 'Set up Git for Windows') do %>

<%= partial 'layouts/partials/_git_for_windows' %>

<% end %>

<p></p>

[WINDOWS] Many users also use Git Bash, which is part of Git for Windows, to work with Git from Windows. [cmder](http://cmder.net) is also a popular console emulator for Windows.

Keep your **Chef Development Kit** window open for the next part.
