<h2>Exercises</h2>
<p>
<a name="1"></a>
<span style="font-size:22px;">1. Write a rule that alerts you when a cookbook is uploaded to Chef server.</span>
</p>
<p><b>Hint:</b> you want to use the <code>action</code> message type. The <a href="https://docs.chef.io/analytics_rules.html#actions">Chef documentation</a> shows the available fields.
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/get-started-with-chef-analytics/linux/get-alerted-when-chef-client-runs/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. Write a notification that posts to a HipChat or Slack room, Splunk, or to another HTTP service.</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/get-started-with-chef-analytics/linux/get-alerted-when-chef-client-runs/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
