---
title: "Chef Training"
order: 6
description: "Learn about upcoming training offerings from Chef"
keywords: 'chef, opscode, training, learnchef'
---

h1 Chef Training

p We offer comprehensive training classes conducted by Chef employees who have years of experience working in systems administration and integration.  

ul
li <a href="http://www.getchef.com/training/">Read more about our public and private training options on our website</a>.

li <a href="http://www.getchef.com/blog/events/category/training-events/">View a list of upcoming Chef Training Events</a>
