---
title: 'Get a free virtual machine to manage'
order: 1
description: "Set up your Chef environment."
keywords: TODO
time_to_complete: 10 minutes
snippet_path: learn-the-basics/windows/vmware_fusion/set-up-a-machine-to-manage
snippet_workstation: windows
headings: [
  { label: '1. Launch a free VM', href: '#step1' },
  { label: '2. Prepare a text editor', href: '#step2' },
  { label: '3. Open a Chef DK prompt', href: '#step3' },

  ]
---
<%= partial '../../shared/get-set-up/intro' %>

An easy way to get started is to use a free trial Windows Server 2012 R2 virtual machine that we provide. The virtual machine runs in your browser and has the set of Chef tools, called the Chef DK, and serveral text editors pre-installed.

After you complete this module using the free virtual machine, you can [repeat it](/modules/learn-the-basics/windows/) in an environment that most closely matches your infrastructure.

<% accordion('test-configuration', 'Test configuration') do %>

<% markdown do %>

We periodically update the free trial virtual machine image with the latest version of the Chef tools.

<% render_machine_config('snippets/learn-the-basics/windows/vmware_fusion/machine_config.md') %>

<% end %>

<% end %>

[START_BOX]

## 1. Launch a free trial Windows Server 2012 R2 virtual machine

Let us provide a Windows Server virtual machine with the Chef DK installed for you. Just click the button below.
</p>
<%= partial 'layouts/provisioner', locals: { os: 'Windows Server', env_name: 'Windows Server 2012 R2 Standard', user_name: 'Administrator', type: 'windows-localmode' } %>

[END_BOX]

[START_BOX]

## 2. Prepare a text editor

Because Chef uses _code_ to express infrastructure policy, it's important that you use a text editor that provides features such as syntax highlighting and line numbering.

Bring up a text editor now. The free trial virtual machine comes with these text editors pre-installed:

* [Atom](http://atom.io)
* [Sublime Text 2](http://www.sublimetext.com)
* [Visual Studio Code](https://code.visualstudio.com)

The text editors are available from the task bar.

![](misc/skytap_windows_taskbar_text_editors.png)

[END_BOX]

[START_BOX]

## 3. Open a Chef Development Kit PowerShell window

In this module, you'll run Chef commands to configure the system. The Chef Development Kit provides a desktop shortcut that brings up a PowerShell session that's configured to work with Chef.

The Windows Server virtual machine comes with this PowerShell window already open. If you close it, you can access it again from the **Chef Development Kit** shortcut on the desktop or **Start** menu.

![](misc/chefdk-desktop-shortcut-windows.png)

[END_BOX]
