[HEADLINE] The Chef server acts as a central repository for your cookbooks as well as for information about every node it manages.<br>The `knife` command enables you to communicate with the Chef server from your workstation.

<%= partial '../../shared/set-up-your-chef-server/hosted_vs_on_prem' %>

Here you'll sign up for hosted Chef and set up your workstation to communicate with the Chef server.

[START_BOX]

## 1. Sign up for hosted Chef

[COMMENT] If your team already has a Chef server that you can use, request an invitation from your Chef server's administrator and then [move to the next step](#step2).

From your workstation, fill out the form on our sign-up page.

<a class='button radius cta' href='https://manage.chef.io/signup/' target='_blank'>Sign up for free tier access to hosted Chef&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

After you sign up, you'll receive an email to confirm your account. Click the link in that email to verify your account and set your password.

After that, navigate to [https://manage.chef.io/login](https://manage.chef.io/login) and sign in. Then follow these steps to create an organization.

1. Click **Create New Organization**.
1. Enter a full name and short name for your organization.

  An organization is typically a company name or a department within a company. These names can be whatever you want but the short name must be unique.
1. Click **Create Organization**.

[END_BOX]

[START_BOX]

## 2. Set up your .chef directory

<%= partial '../../shared/set-up-your-chef-server/knife_and_rsa_key' %>

Create the <code class="file-path">~/learn-chef/.chef</code> directory, like this. You'll add your RSA private key and `knife` configuration files in the next steps.

<% command_snippet(page: current_page, path: 'mkdir-dot-chef/mkdir-dot-chef', features: :stdin) %>

[TIP] Because `knife` searches up the directory tree for a <code class="file-path">.chef</code> directory, you can have multiple <code class="file-path">.chef</code> directories in your tree. The <code class="file-path">~/learn-chef/.chef</code> directory gives you a default `knife` configuration for most projects, but you can also create a <code class="file-path">.chef</code> directory lower in the tree to configure other projects to work with another Chef server.

[END_BOX]

[START_BOX]

## 3. Generate your knife configuration file

Here's how to create your `knife` configuration file. Your file will be located at <code class="file-path">~/learn-chef/.chef/knife.rb</code>.

1. Sign in to [https://manage.chef.io/login](https://manage.chef.io/login).
1. From the **Administration** tab, select your organization.
1. From the menu on the left, select **Generate Knife Config** and save the file.

![](manage-a-node/chef_manage_generate_knife_config.png)

From the command line, copy <code class="file-path">knife.rb</code> to your <code class="file-path">~/learn-chef/.chef</code> directory. For example:

```bash
$ cp ~/Downloads/knife.rb ~/learn-chef/.chef
```

Your `knife` configuration file should resemble this one. (Your user and organization names will appear instead of "chef-user-1" and "learn-chef-2".)

<% code_snippet(page: current_page, path: 'generate-knife-config/knife-rb') %>

[END_BOX]

[START_BOX]

## 4. Generate your RSA private key

Here's how to create your RSA private key. Your file will be located at <code class="file-path">~/learn-chef/.chef/<i>\<username\></i>.pem</code>, where _\<username\>_ is the name you chose when you created your hosted Chef account.

1. Sign in to [https://manage.chef.io/](https://manage.chef.io/).
1. From the **Administration** tab, select **Users** from the menu on the left.
1. Select your user name, select **Reset key** from the menu on the left.

  ![](manage-a-node/chef_manage_reset_key.png)
1. Select **Reset key** from the window that appears.

  ![](manage-a-node/chef_manage_reset_key_confirm.png)
1. A second window appears that displays your private key. From the bottom of that window, click **Download** to download your private key file.

  ![](misc/manage_download_key.png)
1. From the command line, copy your private key file to your <code class="file-path">~/learn-chef/.chef</code> directory. For example:

```bash
$ cp ~/Downloads/username.pem ~/learn-chef/.chef
```

Your RSA private key should resemble this one.

```bash
# ~
$ cat ~/learn-chef/.chef/username.pem
-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAqJCxFv1BoqlTJeK5zTZ6vX6hvQuDzlaN0v+Fo5R2zobP72Ga
N8GUOhaYSM0Zkg+epchPS9JX81Euv847g662BBneuT4+W6ImqtHtoqB2iEw9vJbZ
UoIpYRzVCMLpCc3hf3St5FcIz/t55VIAOML8O33CZMkY3o+EUHQx65aI3IDFVcmz
xIFF+ziLbYc7Q1YHumXzv1pOP9o6QqFCcl/r4x5g9sj0eeYwYQBNppy9oELsrBuu
/SEKs41X+tm1nP/sDrxOeI5ybytcN3MZN0SjniMTP+7Knh6xnfeFbmaC9Hp/bpbd
lmaWv4iNJIhLBy/4LUkTh9jpC2knzJnq/bG4wQIDAQABAoIBAEbSXAUrrLr551xg
kO3+eL1LCgtSXjOAPCAtiWl8BBqrm4uY92F7rJpnSd40hgzPETnYGjDiFF+/eSPP
M0QVUJYShHhSBYMccqCMiQot3v9PARVOT8qRs28A3STMN3dkeK9761mPQX2Yy9Mk
i8FNcwpPwS/1KcTAibf/ycWQvrndlflL3KCl/Nnv//Das3dn41npkAB6sGySOPir
rajRuVR9REieRfx/vAGeOFkmWzuizBAxb+GXmYRy/Z+H+daEuqNd7QHAue4xg1s+
7yPB4V+EobpQVVssNkidX5SUcMvu+pU5l7OF9PP1zNMhvQItmhi77VXOj61fVeKP
JTaeHQECgYEA0lH6gVZRpmimoPJ5bNFeBKax/BzK1D7p7rD/z/i1qkiG3yCWYvQ/
1T4pl9kVndhubxaTUug/DcCpSp+va8vnQ3jS7LvDfS2SxNySH/g8XZ/EyO8Zvbfk
lqkpAdh3agKP310jB+dxqjbEwvdG9CdZyXK1ottXTzN07s0tCFcL7nECgYEAzS0X
OTs0FNSLc667Nq99NdcuoHkKsqxYn7zpoyaslqc4o9tABBXCimQJzIWbY3u477B/
1VrP8Ortepp0kev1ythYOGCAXBpukADLgw/1ygxVL51R+K6wbWDJyggMXvpOAhZX
WT0RiVeyOE2tyLERlIV4Q3t7lyXiLJ1irdhBN1ECgYA7FmT2aTXPNp95oCWU+M0d
KWffmIczUemO8ZMs7oa7LF0X2qPlcRFt62TsEEUOb3u3IfSJ2k28o1/sYyh5dHOo
dQ53jk2108asH/u9l5P+CaDTgrkMn9lMqoGmzxXdZpLdAeGRmuhIFdL5o1b/yP5k
piF5e33v9ljnriT0rt/fQQKBgGT9ZsrzzzXdoG2ublaFidnwerDeI1dk35JwqAd4
R8c3s/djOdVI6KK5ruEOenezNEo2dBWOR3/sAswwLmSM4kTfzDyjs0qib/1Nht6S
AodbHqr7IpfnVEviMjDRWVV+mtsIKCJynqkdk0mHYpzAG0khkRqWMzUonnUbWrD7
Gs6hAoGBAKrv2c3/42gSNu8MZFG8r8xmLehRg/Rj6nfFizTu9FH+ph8B4HgECBnV
1aHXvOsOaSDkjyPKa5hHCX145xWjme7blrSJfbsKiAAswSOJytc+PAPIULeocBr6
hW6cD7rMrt5D/6Ofxts8nQnNQ5Z3UJOtB6V3CFzlvw5oRXw1sIE0
-----END RSA PRIVATE KEY-----
```

[WARN] You should treat your RSA private key like you would any other sensitive information, such as SSH keys or passwords. Never commit your RSA private key to source control. Git users typically add the <code class="file-path">.chef</code> directory to their [gitignore file](https://git-scm.com/docs/gitignore).

[END_BOX]

[START_BOX]

## 5. Verify your connection to the Chef server

First, validate that your <code class="file-path">~/learn-chef/.chef</code> contains your <code class="file-path">knife.rb</code> file and your private key file. (Your user name will appear instead of "chef-user-1.pem".)

<% command_snippet(page: current_page, path: 'ls-dot-chef/ls-dot-chef') %>

Now, run the `knife ssl check` command to validate your connection to the Chef server.

<% command_snippet(page: current_page, path: 'validate-ssl-cert/knife-ssl-check') %>

[END_BOX]

<% next_page(current_page) do %>

At this point, you have two of the three parts of a typical Chef setup. Your workstation is set up and you have access to the Chef server.

Chef server gives you a persistent location to store your cookbooks and information about your nodes. The `knife` command enables you to communicate with the Chef server.

Next, you'll get a copy of the basic web server cookbook that you wrote in the previous tutorial and upload it to your Chef server.

<% end %>
