---
description: "Extend what you've learned by managing a basic web application that uses a web server and a database."
layout: content
name: manage-a-web-app
order: 3
title: "Learn to manage a basic web application"
type: topic
ignore_breadcrumb: true
time_to_complete: XX min setup plus WW ZZ min lessons
platform_intro: Click a server to manage.
tags: [new]
coming_soon: [Red Hat Enterprise Linux, Windows Server]
---
