---
description: "Extend what you've learned by managing a web application that uses a web server, a database, and scripting."
layout: content
name: manage-a-web-app
order: 3
title: "Learn to manage a basic web application"
type: topic
category: getting-started
ignore_breadcrumb: true
time_to_complete: 15 min setup plus ten 15-30 min lessons
platform_intro: Click a server to manage.
tags: [beta]
---
