---
description: "Learn how to speed up the development process by using Test Kitchen to apply your infrastructure code on your workstation."
layout: bumper
name: local-development
order: 4
title: "Learn to develop your infrastructure code locally (2)"
type: topic
category: getting-started
ignore_breadcrumb: true
time_to_complete: 30 min setup (up to 3 hr for Windows Server) plus one 30 min lesson
platform_intro: Choose the server platform you want to manage.
tags: []
meta_tags: [{name: "ROBOTS", content: "NOINDEX, NOFOLLOW"}]
---
