---
title: 'Configure a package and service'
order: 2
layout: tutorial
description: Configure Apache web server as a way to learn how to work with packages and services
keywords: package, service, file, resource, Apache, apache2
---
[TIMETOCOMPLETE] 15

# Configure a package and service

Let's extend what you learned about file management in the [previous lesson](/windows/configure-a-resource/) to manage the Apache HTTP Server package and its service. Like files, packages and services are also types of resources.

Of course, you can set up one web server manually. But with Chef it'll be easier to manage your infrastructure as you scale, add complexity, and roll out new configuration policies.

Although you don't need prior knowledge about web servers, configuring one is a great way to grow your Chef skills.

## <i class="fa fa-linux" style="margin-right:3px;"></i> Get a Linux machine

Like the previous tutorial, you'll configure the server directly. You can continue with the Linux machine you used in the previous tutorial, but let's review the options.

Option 1: use your own Linux machine. If you have an windows machine that you'd like to use, install the [Chef Development Kit](http://www.getchef.com/downloads/chef-dk/) on it now.

Option 2: let us provide an windows machine that has the Chef tools installed for you. Just click the button below.

<div id="pre-launch">
<center>
<a id="launch-button" href="javascript:provisionHelper('ec2', 'windows', 'localmode', 'launch-button', 'launching', 'machine-details', 'launch-error')" class="button radius"><i class='fa fa-play'></i>&nbsp;Reserve a Windows Server virtual machine</a>
</center>
</div>

<div id="launching" style="display: none;">
<div class="spinner">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div>
<center>We're provisioning a virtual machine for you. This'll take just a minute.</center>
</div>

<div id="machine-details" class="indent" style="display: none">
{0} Your virtual machine is all ready to go! Here's how to log in using SSH.
<p/>
<div class="window">
            <nav class="control-window">
              <a href="#finder" class="close" data-rel="close">close</a>
              <a href="#" class="minimize">minimize</a>
              <a href="#" class="deactivate">deactivate</a>
            </nav>
            <h1 class="titleInside">Terminal: ~/</h1>
            <div class="container"><div class="terminal"><table><tbody><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">$</span><span class="line-number">&nbsp;</span></pre></td><td class="code"><pre><code><span class="line command">ssh {1}@{3}</span><span class="line output">{1}@{3}'s password: {2}</span></code></pre></td></tr></tbody></table></div></div>
</div>

<p>
The environment expires <b>{4}</b>. If it expires, you're welcome to spin up a new one.

We hope you'll use the virtual machine to continue experimenting with Chef after you complete the tutorial. We only ask that you use the machine respectfully.
</p>
</div>

<div id="launch-error" class="alert-box error" style="display: none">

<i class="fa fa-exclamation-circle" style="color: #ff2222"></i> Something went wrong while provisioning your machine. We'll look into it. If you get the error again in a few minutes, either try the first option above or <a href="mailto:learnchef@getchef.com?subject=Feedback on Learn Chef">contact us</a>.

</div>

<sidebar style="line-height:1.7; font-size:1.0em; margin-top:30px; max-width:420px;">
<span style="line-height:2.0;"><i class="fa fa-search"></i>&nbsp;**As you read, watch for:**</span><br>
  <i class="fa fa-check"></i>&nbsp; how order affects a recipe's behavior.<br>
  <i class="fa fa-check"></i>&nbsp; how to declare multiple actions.<br>
  <i class="fa fa-check"></i>&nbsp; what problems arise.
</sidebar>

## <i class="fa fa-tasks rediconcolor" style="margin-right:3px;"></i> Here's what you'll do

  1. [Install the Apache package](#1installtheapachepackage)
  1. [Start and enable the Apache service](#2startandenabletheapacheservice)
  1. [Add a home page](#3addahomepage)

## 1. Install the Apache package

Let's install the Apache package, **apache2**. From your working directory, add this recipe to a file named <filepath>webserver.rb</filepath>.

```ruby
# ~/chef-repo/webserver.rb
package 'apache2'
```

We don't need to specify an action because <codeinline>install</codeinline> is the default.

Now run <codeinline>chef-apply</codeinline> to apply the recipe.

```bash
# ~/chef-repo
$ sudo chef-apply webserver.rb
Recipe: (chef-apply cookbook)::(chef-apply recipe)
  * package[apache2] action install
    - install version 2.4.6-2windows2.2 of package apache2
```

[CONCEPT] <codeinline>sudo</codeinline> is required because this command installs a package and therefore must be run with root privileges. If you're running as root on your own machine, you can omit <codeinline>sudo</codeinline> from the command.

Run the recipe a second time.

```bash
# ~/chef-repo
$ sudo chef-apply webserver.rb
Recipe: (chef-apply cookbook)::(chef-apply recipe)
  * package[apache2] action install (up to date)
  ```

You see that Chef does no work because there's nothing to do &ndash; the package is already installed.

## 2. Start and enable the Apache service

Now let's start the Apache service and enable it when the server boots. Modify <filepath>webserver.rb</filepath> to look like this.

```ruby
# ~/chef-repo/webserver.rb
package 'apache2'

service 'apache2' do
  action [:start, :enable]
end
```

This code uses a list to declare multiple actions.

Now apply it.

```bash
# ~/chef-repo
$ sudo chef-apply webserver.rb
Recipe: (chef-apply cookbook)::(chef-apply recipe)
  * package[apache2] action install (up to date)
  * service[apache2] action start (up to date)
  * service[apache2] action enable (up to date)
```

The package is already installed, so there's nothing to do. Similarly, the service is already started and enabled. On some Linux distros, Apache is not started or enabled as it is installed. With Chef, this is easy to verify.

## 3. Add a home page

Let's spruce things up and add a custom home page.

You already know how to configure a <codeinline>file</codeinline> resource; append one that configures the default home page, <filepath>/var/www/index.html</filepath>, to the end of <filepath>webserver.rb</filepath>. The entire recipe now looks like this.

[CONCEPT] Tip: Although we believe typing in the code and commands is a great way to learn, remember you can copy the text from the code and terminal boxes and paste them into your SSH session.

```ruby
# ~/chef-repo/webserver.rb
package 'apache2'

service 'apache2' do
  action [:start, :enable]
end

file '/var/www/index.html' do
  content '<html>
  <body>
    <h1>hello world</h1>
  </body>
</html>'
end
```

Now apply it.

```bash
# ~/chef-repo/
$ sudo chef-apply webserver.rb
Recipe: (chef-apply cookbook)::(chef-apply recipe)
  * package[apache2] action install (up to date)
  * service[apache2] action start (up to date)
  * service[apache2] action enable (up to date)
  * file[/var/www/index.html] action create
    - update content in file /var/www/index.html from 94850c to 2914aa
    --- /var/www/index.html	2014-08-05 21:26:03.638403000 +0000
    +++ /tmp/.index.html20140805-3788-1rrovsq	2014-08-05 21:30:24.930403000 +0000
    @@ -1,5 +1,6 @@
    -<html><body><h1>It works!</h1>
    -<p>This is the default web page for this server.</p>
    -<p>The web server software is running but no content has been added, yet.</p>
    -</body></html>
    +<html>
    +  <body>
    +    <h1>hello world</h1>
    +  </body>
    +</html>
```

Run the <codeinline>curl</codeinline> command to confirm that your web page is available.

```bash
# ~/chef-repo
$ curl localhost
<html>
  <body>
    <h1>hello world</h1>
  </body>
</html>
```

Optionally, from a web browser on another machine, navigate to your server. You'll see something like this.

![The basic home page](misc/webserver-basic.png)

<hr>

## <i class="fa fa-question blueiconcolor" style="margin-right:3px;"></i> What did we see here?

You saw how to work with the package and service resources. You now know how to work with three types of resources: [file][file], [package][package], and [service][service].

You also saw how to apply multiple actions. But how does Chef know what order to apply resources and actions?

### <i class="fa fa-list-ol greeniconcolor" style="margin-right:3px;"></i> Chef works in the order you specify

Let's take another quick look at our web server recipe.

```ruby
# ~/chef-repo/webserver.rb
package 'apache2'

service 'apache2' do
  action [:start, :enable]
end

file '/var/www/index.html' do
  content '<html>
  <body>
    <h1>hello world</h1>
  </body>
</html>'
end
```

The resources are applied in the order they are specified in the recipe. So here the package is installed, then the service is configured, and finally the home page is set. If any resource is already in the desired state, Chef simply moves on to the next one.

The same idea applies to the action list <codeinline>[:start, :enable]</codeinline> for configuring the service. The service is started before it is enabled when the server boots.

It's important to always think about how you order things. For example, the recipe wouldn't work if we tried to configure the Apache service before the package is even installed.

A recipe stops if any step fails (don't worry &ndash; Chef provides info about the error). That's why we ordered the service actions the way we did. If the service can't start then we don't want to enable it.

## <i class="fa fa-road blueiconcolor" style="margin-right:3px;"></i> What's next

You may notice one big problem with our recipe &ndash; the HTML code lives inside it, so there is no clear separation between our web site code and our recipe to manage it. It's a good incremental step because it helps you get things working, but this of course would never scale to a full web site.

Next you'll learn how to create a _cookbook_ to make your Chef recipes more manageable.

<%= link_to 'Make your recipe more manageable &rarr;', '/windows/make-your-recipe-more-manageable/', class: 'button radius' %>

<script src='../../../assets/javascripts/provision.js' type='text/javascript'></script>

[file]: http://docs.opscode.com/resource_file.html
[package]: http://docs.opscode.com/resource_package.html
[service]: http://docs.opscode.com/resource_service.html
