<h2>1. Get a Linux machine to bootstrap</h2>
<p>
In <%= link_to 'Learn the Chef basics', '/learn-the-basics/ubuntu/', target: '_blank' %>, you installed the ChefDK on a server and configured it directly. Now you need a machine that doesn't have the Chef tools on it so you can see how the bootstrap process works.
</p>
<p>
Like before, we suggest that you work in a disposable environment such as an Ubuntu virtual machine. There are two ways to get started.
</p>
<h3>Option 1: Use a virtual machine that we provide</h3>
<p>
Let us provide an Ubuntu virtual machine for you. This machine has the standard configuration, and does not have the Chef tools installed. Just click the button below.
</p>
<%= partial 'layouts/provisioner', locals: { title: 'Ubuntu', type: 'ubuntu-fundamentals' } %>
<h3>Option 2: Use your own machine</h3>
<p>
You can use your own machine if it meets the <%= link_to 'system requirements', "#{chef_docs_url}/chef_system_requirements.html#chef-client", target: '_blank' %> and if you have root or <code>sudo</code> access to it.
