---
title: '1. Sign up for hosted Chef'
order: 1
layout: step
---
From your workstation, fill out the form on our sign-up page.

<a class='accent-button radius' href='<%= chef_sign_up_url %>' target='_blank'>Sign up for a free trial of <%= t(:hosted_chef) %>&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

After you sign up, follow these steps.

1. Click **Create New Organization**.
1. Enter a full name and short name for your organization. An organization is typically a company name, or a department within a company. These names can be whatever you want, but the short name must be unique.
1. Click **Create Organization**.
