<h2>Exercises</h2>
<p>
<a name="1"></a>
<span style="font-size:22px;">1. Modify the firewall audit control to block both ICMPv4 and ICMPv6 Echo Request messages.</span>
</p>
<p>
You can copy and modify the code that you wrote to audit ICMPv4 connections to work for ICMPv6, or you can use a Ruby <a href="http://ruby-doc.org/core-2.2.0/Enumerator.html#method-i-each">enumerator</a> to perform both checks from the one [piece] of code. Keep in mind that Echo Request message type <a href="http://tools.ietf.org/html/rfc4443#section-4.1">is 128</a> for ICMPv6.
</p>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/controls-for-compliance/windows/get-alerted-when-an-audit-run-fails/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. Write audit controls that verify some of your organization's compliance and regulatory requirements.</span>
</p>
<p>
Writing at least one audit test gives you the foundation to write more, plus it's an important step towards buliding confidence that the state of your infrastructure meets your compliance goals.
</p>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/controls-for-compliance/windows/get-alerted-when-an-audit-run-fails/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
