---
description: "Get started by using Chef to keep your servers in line with the configuration policies you describe. You'll set up a web server and serve a basic home page on a virtual machine that we provide."
layout: bumper
name: learn-the-basics
order: 1
title: "Learn the Chef basics"
type: topic
category: getting-started
ignore_breadcrumb: true
time_to_complete: 10 min setup plus three 15 min lessons
platform_intro: Choose the server platform you want to manage.
deprecated: We're phasing out this content. Please <a href="/tutorials/learn-the-basics/">visit the updated version</a> of this tutorial. 
---
