---
description: "See how Chef's test and repair approach keeps your servers in line with the policies you describe by writing Chef code. We'll provide the virtual machine."
layout: content
name: learn-the-basics
order: 1
title: "Learn the Chef basics"
type: topic
ignore_breadcrumb: true
time_to_complete: 45 min
---
