---
description: "Use Chef to keep your servers in line with the configuration policies you describe. You'll set up a web server and serve a basic home page on a virtual machine that we provide."
layout: content
name: learn-the-basics
order: 1
title: "Learn the Chef basics"
type: topic
ignore_breadcrumb: true
time_to_complete: 10 min setup plus three 15 min lessons
platform_intro: Click a server platform to get started
---
