---
title: 'Exercises'
order: 7
layout: step
---
<!-- <ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><a href="/getting-started/rhel/">Red Hat Enterprise Linux</a></li>
  <li><a href="/getting-started/rhel/configure-a-resource/">Configure a Resource</a></li>
  <li>Exercises</li>
</ul>

<div style="border-radius: 5px; border: 1px solid #666; width: 300px; display:block; float:right; padding: 10px; margin: 20px;">
   <div class="progress large-9 success round">
      <span class="meter" style="width: 100%"></span>
    </div>
  <ul class="side-nav">
    <li class="completed"><a href="/getting-started/rhel/configure-a-resource/1/">1: Set up your working directory &#x2713;</a></li>
    <li class="completed"><a href="/getting-started/rhel/configure-a-resource/2/">2: Create the MOTD file &#x2713;</a></li>
    <li class="completed"><a href="/getting-started/rhel/configure-a-resource/3/">3: Update the MOTD file's contents &#x2713;</a></li>
    <li class="completed"><a href="/getting-started/rhel/configure-a-resource/4/">4: Ensure the MOTD file's contents are not changed by anyone else &#x2713;</a></li>
    <li class="completed"><a href="/getting-started/rhel/configure-a-resource/5/">5: Delete the MOTD file &#x2713;</a></li>
    <li class="completed"><a href="/getting-started/rhel/configure-a-resource/summary/">Summary &#x2713;</a></li>
    <li class="current">Exercises</li>
  </ul>
</div>

# Exercises -->

##### 1. What is a resource?

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1">Answer &raquo;</a>
    <div id="panel1" class="content">
      ```
      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      ```
    </div>
  </li>
</ul>

<hr>

##### 2. What is a recipe?

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel2">Answer &raquo;</a>
    <div id="panel2" class="content">
      ```
      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      ```
    </div>
  </li>
</ul>

<hr>

##### 3. What happens when you don't specify a resource's action?

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel3">Answer &raquo;</a>
    <div id="panel3" class="content">
      ```
      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      ```
    </div>
  </li>
</ul>

<hr>

##### 4. Modify the `hello.rb` recipe you wrote in this lesson to manage the MOTD file under the `/tmp/messages` directory, and not in the current directory.

(Hint: You'll need to create the `/tmp/messages` directory first. The [documentation][directory] for the `directory` resource shows you how.)

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel4">Answer &raquo;</a>
    <div id="panel4" class="content">
      ```
      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      ```
    </div>
  </li>
</ul>

<hr>

## Next

Of course, your job is about more than just setting up files. Next you'll apply what you've learned to install and configure a package and service.

<!-- <%= link_to 'Configure a package and service &rarr;', '/getting-started/rhel/configure-a-package-and-service/', class: 'button radius' %> -->

[directory]: <%= chef_docs_url %>/resource_directory.html
