<h2>Exercises</h2>
<p>
<span style="font-size:22px;">1. What enables your workstation to authenticate commands to the Chef server?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/install-and-manage-your-own-chef-server/linux/manage-a-node-on-your-chef-server/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. What enables a node to communicate with the Chef server?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/install-and-manage-your-own-chef-server/linux/manage-a-node-on-your-chef-server/exercises/answers/2" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="3"></a>
<span style="font-size:22px;">3. Sign in to the Chef management console and view the status of your node's latest <code>chef-client</code> run.</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question3" class="box content">
      <%= partial "/install-and-manage-your-own-chef-server/linux/manage-a-node-on-your-chef-server/exercises/answers/3" %>
    </div>
  </dd>
</dl>
</p>
