---
title: 'Configure a package and service'
type: topic
order: 3
description: 'See why order matters by managing a package and its service.'
keywords: package, service, file, resource, Apache, httpd
layout: lesson
sections: [summary, exercises]
next: {heading: Next, partial: next}
time_to_complete: 15 minutes
snippet_path: learn-the-basics/rhel/virtualbox/configure-a-package-and-service
snippet_workstation: centos
---
[HEADLINE] Like files, packages and services are also types of resources. Chef applies resources in the order you specify.

Let's extend what you learned about file management in the previous lesson to manage the Apache HTTP Server package and its service.

Of course, you can set up one web server manually. But with Chef it'll be easier to manage your infrastructure as you scale, add complexity, and roll out new configuration policies.

[START_BOX]

## 1. Install the Apache package

Let's install the Apache package, `httpd`. From your <code class="file-path">~/chef-repo</code> directory, add this recipe to a file named <code class="file-path">webserver.rb</code>.

```ruby
# ~/chef-repo/webserver.rb
package 'httpd'
```

<% code_snippet(page: current_page, path: 'install-the-apache-package/webserver-1') %>

We don't need to specify an action because `:install` is the default.

Now run `chef-client` in local mode to apply the recipe.

```bash
# ~/chef-repo
$ sudo chef-client --local-mode webserver.rb
[2016-03-24T18:24:39+00:00] WARN: No config file found or specified on command line, using command line options.
[2016-03-24T18:24:39+00:00] WARN: No cookbooks directory found at or above current directory.  Assuming /root/chef-repo.
Starting Chef Client, version 12.8.1
resolving cookbooks for run list: []
Synchronizing Cookbooks:
Installing Cookbook Gems:
Compiling Cookbooks...
[2016-03-24T18:24:40+00:00] WARN: Node default-centos-72 has an empty run list.
Converging 1 resources
Recipe: @recipe_files::/root/chef-repo/webserver.rb
  * yum_package[httpd] action install
    - install version 2.4.6-40.el7.centos of package httpd

Running handlers:
Running handlers complete
Chef Client finished, 1/1 resources updated in 12 seconds
```

<% command_snippet(page: current_page, path: 'install-the-apache-package/package-ccr-1') %>

[COMMENT] `sudo` is required because this command installs a package and therefore must be run with root privileges. If you're running as root on your own machine, you can omit `sudo` from the command.

Run the recipe a second time.

```bash
# ~/chef-repo
$ sudo chef-client --local-mode webserver.rb
[2016-03-24T18:24:55+00:00] WARN: No config file found or specified on command line, using command line options.
[2016-03-24T18:24:55+00:00] WARN: No cookbooks directory found at or above current directory.  Assuming /root/chef-repo.
Starting Chef Client, version 12.8.1
resolving cookbooks for run list: []
Synchronizing Cookbooks:
Installing Cookbook Gems:
Compiling Cookbooks...
[2016-03-24T18:24:56+00:00] WARN: Node default-centos-72 has an empty run list.
Converging 1 resources
Recipe: @recipe_files::/root/chef-repo/webserver.rb
  * yum_package[httpd] action install (up to date)

Running handlers:
Running handlers complete
Chef Client finished, 0/1 resources updated in 03 seconds
```

<% command_snippet(page: current_page, path: 'install-the-apache-package/package-ccr-2') %>

You see that Chef does no work because there's nothing to do &ndash; the package is already installed.

[END_BOX]

[START_BOX]

## 2. Start and enable the Apache service

Now let's first enable the Apache service when the server boots and then start the service. Modify <code class="file-path">webserver.rb</code> to look like this.

```ruby
# ~/chef-repo/webserver.rb
package 'httpd'

service 'httpd' do
  action [:enable, :start]
end
```

<% code_snippet(page: current_page, path: 'start-and-enable-the-apache-service/webserver-2') %>

This code declares multiple actions.

Now apply it.

```bash
# ~/chef-repo
$ sudo chef-client --local-mode webserver.rb
[2016-03-24T18:25:01+00:00] WARN: No config file found or specified on command line, using command line options.
[2016-03-24T18:25:01+00:00] WARN: No cookbooks directory found at or above current directory.  Assuming /root/chef-repo.
Starting Chef Client, version 12.8.1
resolving cookbooks for run list: []
Synchronizing Cookbooks:
Installing Cookbook Gems:
Compiling Cookbooks...
[2016-03-24T18:25:02+00:00] WARN: Node default-centos-72 has an empty run list.
Converging 2 resources
Recipe: @recipe_files::/root/chef-repo/webserver.rb
  * yum_package[httpd] action install (up to date)
  * service[httpd] action enable
    - enable service service[httpd]
  * service[httpd] action start
    - start service service[httpd]

Running handlers:
Running handlers complete
Chef Client finished, 2/3 resources updated in 03 seconds
```

<% command_snippet(page: current_page, path: 'start-and-enable-the-apache-service/package-ccr-3') %>

The package is already installed, so there's nothing to do. However, the service is started and enabled.

[END_BOX]

[START_BOX]

## 3. Add a home page

Let's spruce things up and add a custom home page.

You already know how to configure a `file` resource; append one that configures the default home page, <code class="file-path">/var/www/html/index.html</code>, to the end of <code class="file-path">webserver.rb</code>. The entire recipe now looks like this.

```ruby
# ~/chef-repo/webserver.rb
package 'httpd'

service 'httpd' do
  action [:enable, :start]
end

file '/var/www/html/index.html' do
  content '<html>
  <body>
    <h1>hello world</h1>
  </body>
</html>'
end
```

<% code_snippet(page: current_page, path: 'add-a-home-page/webserver-3') %>

Now apply it.

```bash
# ~/chef-repo/
$ sudo chef-client --local-mode webserver.rb
[2016-03-24T18:25:07+00:00] WARN: No config file found or specified on command line, using command line options.
[2016-03-24T18:25:07+00:00] WARN: No cookbooks directory found at or above current directory.  Assuming /root/chef-repo.
Starting Chef Client, version 12.8.1
resolving cookbooks for run list: []
Synchronizing Cookbooks:
Installing Cookbook Gems:
Compiling Cookbooks...
[2016-03-24T18:25:08+00:00] WARN: Node default-centos-72 has an empty run list.
Converging 3 resources
Recipe: @recipe_files::/root/chef-repo/webserver.rb
  * yum_package[httpd] action install (up to date)
  * service[httpd] action enable (up to date)
  * service[httpd] action start (up to date)
  * file[/var/www/html/index.html] action create
    - create new file /var/www/html/index.html
    - update content in file /var/www/html/index.html from none to 2914aa
    --- /var/www/html/index.html	2016-03-24 18:25:10.691818039 +0000
    +++ /var/www/html/.chef-index.html20160324-27525-124tnbd	2016-03-24 18:25:10.690817540 +0000
    @@ -1 +1,6 @@
    +<html>
    +  <body>
    +    <h1>hello world</h1>
    +  </body>
    +</html>
    - restore selinux security context

Running handlers:
Running handlers complete
Chef Client finished, 1/4 resources updated in 03 seconds
```

<% command_snippet(page: current_page, path: 'add-a-home-page/package-ccr-4') %>

The package and the service are already in the desired state, but you'll see that the home page, <code class="file-path">/var/www/html/index.html</code>, is created.

[END_BOX]

[START_BOX]

## 4. Confirm your web site is running

Run the `curl` command to confirm that your web page is available.

```bash
# ~/chef-repo
$ curl localhost
<html>
  <body>
    <h1>hello world</h1>
  </body>
</html>
```

<% command_snippet(page: current_page, path: 'confirm-your-web-site-is-running/curl-localhost') %>

The free trial virtual machine does not have a public IP address, but if you're working through this tutorial on your own VM, you can access your web server from a browser on another machine. You'll see something like this.

![The basic home page](misc/webserver-basic-remote.png)

[END_BOX]
