---
description: "Learn how to get rapid feedback and speed up the development process even more by using Test Kitchen and other tools to perform automated testing on your infrastructure code."
layout: bumper
name: test-your-infrastructure-code
order: 5
title: "Test your infrastructure code"
short_title: "Test locally"
type: topic
category: zzz-local-development
ignore_breadcrumb: true
time_to_complete: Three 60 min lessons plus prerequisites
platform_intro: Click a server to manage.
tags: []
coming_soon: [Windows Server, Ubuntu]
under_construction: true
logo: tests.svg
deprecated: We're phasing out this content. Please <a href="/tutorials/test-your-infrastructure-code/">visit the updated version</a> of this tutorial.
---
