---
description: "Learn how to get rapid feedback and speed up the development process even more by using Test Kitchen to perform automated testing on your infrastructure code."
layout: content
name: test-your-infrastructure-code
order: 5
title: "Learn to test your infrastructure code"
type: topic
ignore_breadcrumb: true
time_to_complete: 30 min setup plus two 30 min lessons
platform_intro: Click a server to manage.
tags: [beta]
coming_soon: [Red Hat Enterprise Linux, Windows Server]
---
