---
description: "Learn how to get rapid feedback and speed up the development process even more by using Test Kitchen to perform automated testing on your infrastructure code."
layout: bumper
name: test-your-infrastructure-code
order: 5
title: "Learn to test your infrastructure code"
type: topic
category: getting-started
ignore_breadcrumb: true
time_to_complete: 0-2 hr setup plus four 60 min lessons
platform_intro: Click a server to manage.
tags: [new]
coming_soon: [Windows Server, Ubuntu]
meta_tags: [{name: "ROBOTS", content: "NOINDEX, NOFOLLOW"}]
redirect: /test_tutorial_offline/
---
