<h2>1. Install the Chef development kit</h2>
<p>
The first step to managing a node remotely is to install the Chef development kit (Chef DK) on your workstation.
</p>
<a class='accent-button radius' href='<%= chef_downloads_url %>/chef-dk/' target='_blank'>Install Chef DK&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>
