# Create your first cookbook

In this tutorial, you'll create your first cookbook that builds out a web server and serves up some basic content. Although you don't need prior knowledge about web servers, configuring one is a great way to learn how to:

  * create a new cookbook and add a recipe to it
  * upload your cookbook to the Chef server
  * configure your node's run list 
  * run **chef-client** to trigger the configuration process on your target node

In the end, you'll see this basic web page in your browser:

![Tutorial goal](tutorials/tutorial-result-1.png)

In this tutorial, we break Windows and Linux into two separate tracks. In future tutorials, we'll look at how to combine everything into a single recipe.

## What are cookbooks and recipes?

A _cookbook_ is the fundamental unit of configuration and policy distribution. A cookbook defines a scenario, such as everything needed to install and configure Apache or IIS web server and the resources that support it.

A _recipe_ describes desired configuration state. A recipe is stored in a cookbook and declares everything that is required to configure part of a system. For example, a recipe can install and configure software components, manage files, deploy applications, run other recipes, and more.

Think of the literal analogy from cooking. You might have a cookbook on Italian cooking, one on Chinese cooking, and maybe one that contains your grandmother's best dishes. Each cookbook is made up of receipes around a common theme. A recipe defines the steps that, if followed precisely, produce the same dish every time.

## Let's get started

If you haven't yet set up your Chef environment, let's [do it](/get-started) now. Then choose a track below.

[INFO] Both tracks illustrate similar concepts, so you don't need to do both. 

<p>
<%= link_to 'Jump to the Windows Server track &darr;', '#configureiisonwindowsserver', class: 'button radius' %>

<%= link_to 'Jump to the Linux track &darr;', '#configureapacheonlinux', class: 'button radius' %>
</p>





