[HEADLINE] Chef server acts as a central repository for your cookbooks as well as for information about every node it manages.<br>The `knife` command enables you to communicate with the Chef server from your workstation.

Recall that there are several ways to work with a Chef server.

1. Install an instance on your own infrastructure.
2. Sign up for hosted Chef, a Chef server that we manage for you.
1. Use AWS OpsWorks for Chef Automate, a managed service that includes a Chef server and Chef Automate.

In production, the decision to use hosted Chef or manage your own Chef server depends on your team's requirements and preferences. If you're interested in setting up your own Chef server, you might want to first complete this tutorial using hosted Chef or OpsWorks for Chef Automate to see how Chef server works.


[START_BOX]

## 1. Install and configure Chef server

Follow the steps outlined in the Chef documentation to install and configure Chef server.

<a class='button radius cta' href='https://docs.chef.io/install_server.html' target='_blank'>Install Chef server&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

The documentation details what's required for a full production setup. To get started, you'll need to:

1. [Bring up a system](https://docs.chef.io/install_server_pre.html#platforms) having a supported platform.
1. [Review the prerequisites](https://docs.chef.io/install_server.html#prerequisites).
1. [Install Chef server](https://docs.chef.io/install_server.html#standalone).

We recommend that you read through the procedures before you begin. Keep these points in mind as you work through the procedures:

* When you create your user account, note your username, password, and location of your RSA private key.
* When you create your organization, note the name of the organization you choose.
* In the step "Enable additional features of the Chef server", no additional features are required for this tutorial. However, you may find it easier to set up your workstation later if you install Chef Manage. Chef Manage provides a web interface to your Chef server.

[END_BOX]

[START_BOX]

## 2. Set up your .chef directory

<%= partial '../../shared/set-up-your-chef-server/knife_and_rsa_key' %>

<hr />

[Follow one of these procedures](https://docs.chef.io/install_dk.html#set-up-the-chef-repo) in the Chef documentation to set up these files on your workstation. The following can help you choose the appropriate way to set up the files.

* If you installed Chef Manage and are setting up a new Chef server for your team or for learning purposes, the [Starter Kit](https://docs.chef.io/install_dk.html#starter-kit) option is the fastest way to get started.
* If you installed Chef Manage and are joining an existing Chef server organization, choose the [Manually (w/ Webui)](https://docs.chef.io/install_dk.html#manually-w-webui) option. Do not download the starter kit because downloading the starter kit resets the keys for all users.
* If you did not install Chef Manage, choose the [Manually (w/o Webui)](https://docs.chef.io/install_dk.html#manually-w-o-webui) option. You'll set up your workstation from the command line.

When setting up your workstation, we recommend you use the <% fp '~/learn-chef' %> directory instead of <% fp '~/chef-repo' %>. Doing so helps keep learning materials isolated from any other Chef-related work on your workstation.

If you get stuck or need help troubleshooting, [Discourse](https://discourse.chef.io) is a great place to ask the community for help.

[END_BOX]

[START_BOX]

## 3. Verify your setup

Your <code class="file-path">~/learn-chef/.chef</code> directory should contain two files:

* your `knife` configuration file, <code class="file-path">knife.rb</code>
* your RSA private key

Your `knife` configuration file should resemble this one. (`node_name`, `client_key`, and `chef_server_url` contain your information.)

<% code_snippet(page: current_page, path: 'generate-knife-config/knife-rb') %>

Your RSA private key should resemble this one.

```bash
# ~
$ cat ~/learn-chef/.chef/admin.pem
-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAqJCxFv1BoqlTJeK5zTZ6vX6hvQuDzlaN0v+Fo5R2zobP72Ga
N8GUOhaYSM0Zkg+epchPS9JX81Euv847g662BBneuT4+W6ImqtHtoqB2iEw9vJbZ
UoIpYRzVCMLpCc3hf3St5FcIz/t55VIAOML8O33CZMkY3o+EUHQx65aI3IDFVcmz
xIFF+ziLbYc7Q1YHumXzv1pOP9o6QqFCcl/r4x5g9sj0eeYwYQBNppy9oELsrBuu
/SEKs41X+tm1nP/sDrxOeI5ybytcN3MZN0SjniMTP+7Knh6xnfeFbmaC9Hp/bpbd
lmaWv4iNJIhLBy/4LUkTh9jpC2knzJnq/bG4wQIDAQABAoIBAEbSXAUrrLr551xg
kO3+eL1LCgtSXjOAPCAtiWl8BBqrm4uY92F7rJpnSd40hgzPETnYGjDiFF+/eSPP
M0QVUJYShHhSBYMccqCMiQot3v9PARVOT8qRs28A3STMN3dkeK9761mPQX2Yy9Mk
i8FNcwpPwS/1KcTAibf/ycWQvrndlflL3KCl/Nnv//Das3dn41npkAB6sGySOPir
rajRuVR9REieRfx/vAGeOFkmWzuizBAxb+GXmYRy/Z+H+daEuqNd7QHAue4xg1s+
7yPB4V+EobpQVVssNkidX5SUcMvu+pU5l7OF9PP1zNMhvQItmhi77VXOj61fVeKP
JTaeHQECgYEA0lH6gVZRpmimoPJ5bNFeBKax/BzK1D7p7rD/z/i1qkiG3yCWYvQ/
1T4pl9kVndhubxaTUug/DcCpSp+va8vnQ3jS7LvDfS2SxNySH/g8XZ/EyO8Zvbfk
lqkpAdh3agKP310jB+dxqjbEwvdG9CdZyXK1ottXTzN07s0tCFcL7nECgYEAzS0X
OTs0FNSLc667Nq99NdcuoHkKsqxYn7zpoyaslqc4o9tABBXCimQJzIWbY3u477B/
1VrP8Ortepp0kev1ythYOGCAXBpukADLgw/1ygxVL51R+K6wbWDJyggMXvpOAhZX
WT0RiVeyOE2tyLERlIV4Q3t7lyXiLJ1irdhBN1ECgYA7FmT2aTXPNp95oCWU+M0d
KWffmIczUemO8ZMs7oa7LF0X2qPlcRFt62TsEEUOb3u3IfSJ2k28o1/sYyh5dHOo
dQ53jk2108asH/u9l5P+CaDTgrkMn9lMqoGmzxXdZpLdAeGRmuhIFdL5o1b/yP5k
piF5e33v9ljnriT0rt/fQQKBgGT9ZsrzzzXdoG2ublaFidnwerDeI1dk35JwqAd4
R8c3s/djOdVI6KK5ruEOenezNEo2dBWOR3/sAswwLmSM4kTfzDyjs0qib/1Nht6S
AodbHqr7IpfnVEviMjDRWVV+mtsIKCJynqkdk0mHYpzAG0khkRqWMzUonnUbWrD7
Gs6hAoGBAKrv2c3/42gSNu8MZFG8r8xmLehRg/Rj6nfFizTu9FH+ph8B4HgECBnV
1aHXvOsOaSDkjyPKa5hHCX145xWjme7blrSJfbsKiAAswSOJytc+PAPIULeocBr6
hW6cD7rMrt5D/6Ofxts8nQnNQ5Z3UJOtB6V3CFzlvw5oRXw1sIE0
-----END RSA PRIVATE KEY-----
```

After you set up your workstation, ensure that you fetch and validate the SSL certificate from your Chef server. Here's an example.

<% command_snippet(page: current_page, path: 'validate-ssl-cert/knife-ssl-fetch') %>

<% command_snippet(page: current_page, path: 'validate-ssl-cert/knife-ssl-check') %>

[END_BOX]

<% next_page(current_page) do %>

At this point, you have two of the three parts of a typical Chef setup. Your workstation is set up and you have access to the Chef server.

Chef server gives you a persistent location to store your cookbooks and information about your nodes. The `knife` command enables you to communicate with the Chef server.

Next, you'll get a copy of the web server cookbook that you wrote in the previous tutorial and upload it to your Chef server.

<% end %>
