---
description: "Learn how Chef Automate manages changes to both infrastructure and application code, giving your operations and development teams a common platform for developing, building, testing, and deploying cookbooks, applications, and more."
layout: bumper
name: continuous-deployment
order: 1
title: "Get started with Chef Automate"
type: topic
category: continuous-deployment
ignore_breadcrumb: true
tags: []
platform_intro: Start by getting a preconfigured Chef Automate environment.
logo: build.svg
deprecated: We're phasing out this content. See the revised tutorial, <a href="/tutorials/deploy-infrastructure/">Deploy infrastructure changes with Chef Automate</a>.
meta_tags: [{name: "ROBOTS", content: "NOINDEX, NOFOLLOW"}]
---
