---
title: 'Get started with Test Kitchen'
order: 2
keywords: TODO
layout: lesson
sections: [1, 2, 3, 4, 5, 6]
next: {heading: Next, partial: next}
time_to_complete: 30 minutes
---
[HEADLINE] Test Kitchen enables you to run your cookbooks in a temporary environment that resembles production. Doing so helps you confirm that things are working before you deploy your code to a test, preproduction, or production environment.

In this lesson, you'll run through the Test Kitchen workflow to get the hang of things.

<img src="/assets/images/misc/local_dev_workflow.png" style="box-shadow: none;" alt=""/>

<table class="icon-description">
  <tr>
    <td><img src="/assets/images/misc/local_dev_create.png" style="display: inline; width: 125px; box-shadow: none;" alt=""/></td>
    <td>In this step, Test Kitchen creates an instance of your virtual environment, for example, a Windows Server 2012 R2 virtual machine.</td>
  </tr>
  <tr>
    <td><img src="/assets/images/misc/local_dev_converge.png" style="display: inline; width: 125px; box-shadow: none;" alt=""/></td>
    <td>In this step, Test Kitchen applies your cookbook to the virtual environment.</td>
  </tr>
  <tr>
    <td><img src="/assets/images/misc/local_dev_login.png" style="display: inline; width: 125px; box-shadow: none;" alt=""/></td>
    <td>In this step, Test Kitchen creates an SSH session into your virtual environment.</td>
  </tr>
  <tr>
    <td><img src="/assets/images/misc/local_dev_verify.png" style="display: inline; width: 125px; box-shadow: none;" alt=""/></td>
    <td>In this step, you manually verify that your virtual environment is configured as you expect.</td>
  </tr>
  <tr>
    <td><img src="/assets/images/misc/local_dev_destroy.png" style="display: inline; width: 125px; box-shadow: none;" alt=""/></td>
    <td>In this step, Test Kitchen shuts down and destroys your virtual environment.</td>
  </tr>
</table>

Here, we'll create a cookbook that configures the Message of the Day (MOTD) file on a Windows Server virtual machine, apply that cookbook on the virtual machine, verify that everything's working, and finally destroy the instance.
