h1 Contact & Feedback
p We care about what you think!
p Our philosophy is to be as open and transparent as possible. If you get stuck, you should be able to ask for help. If you have a suggestion, you should be able to voice it. And if you find a bug, you should tell us about it.
p We'd also love to hear your success stories, what we can do to improve the site, and what you'd like to see in the future. We're here to listen.
p Email us at <a href="mailto:learnchef@getchef.com?subject=Feedback on Learn Chef">learnchef@getchef.com</a>.
p Ask for help at <a href="irc://irc.freenode.net/chef">#chef</a> on IRC.
h2 Ran into an error?
p If you receive 401, 403, or other errors in your workflow, check out the <a href="#{chef_docs_url}/errors.html">Errors</a> page in the Chef documentation. <a href="mailto:learnchef@getchef.com?subject=Feedback on #learnchef">Contact us</a> if you're still stuck.
