---
title: "Welcome to Learn Chef"
---
# Welcome to Learn Chef!

## <i class="fa fa-cogs greeniconcolor"></i>&nbsp;Chef automates server configuration

[Chef](<%= chef_url %>) simplifies the way you perform infrastructure automation and configuration management tasks. Think of Chef as a way to turn _infrastructure_ into _code_.

With Chef, you administer your IT infrastructure from a workstation, such as your desktop computer or laptop. Chef supports Mac OS X, Windows, and many flavors of Linux and UNIX.

## <i class="fa fa-lightbulb-o blueiconcolor"></i>&nbsp;Learn Chef helps you understand the basics

Whether you're a developer or a systems administrator, take lunch at your desk and learn a new skill. We'll walk you through everything you need to get started quickly.

## <i class="fa fa-clock-o greeniconcolor"></i>&nbsp;Learn Chef now

Start by configuring a server as a virtual machine that you can access from your web browser. Choose one of these options:

<ul id="platform-tabs">
  <li>
    <% link_to("/rhel/") do %>
      <%= image_tag "rhel/platform-logos/redhat.svg", width: 80, height: 80 %>
      <span>Red Hat Enterprise Linux</span>
    <% end %>
  </li>
  <li>
    <% link_to("/windows/") do %>
      <%= image_tag "rhel/platform-logos/windows.svg", width: 80, height: 80 %>
      <span>Windows Server</span>
    <% end %>
  </li>
  <li>
    <% link_to("/ubuntu/") do %>
      <%= image_tag "rhel/platform-logos/ubuntu.svg", width: 80, height: 80 %>
      <span>Ubuntu Linux</span>
    <% end %>
  </li>
</ul>
