---
description: "Learn how treating your <i>infrastructure</i> as <i>code</i> with Chef simplifies the way you manage and automate your infrastructure, making it more maintainable, versionable, testable, and collaborative."
layout: home
title: "Learn Chef"
type: landing
---
