---
description: "Chef simplifies the way you perform infrastructure automation and configuration management tasks. Think of Chef as a way to turn infrastructure into code."
layout: content
title: "Learn Chef"
type: landing
---

