---
title: "Welcome to Learn Chef"
---

# Welcome to Learn Chef!

Learn Chef is here to help you understand the basics of [Chef](http://www.getchef.com), the infrastructure automation and configuration management framework that you can think of simply as _infrastructure as code_.

Here you'll learn everything from setting up your Chef environment to writing your first cookbook and beyond. Not sure what a cookbook is or don't have experience writing Ruby code? No problem. Each tutorial has all the code and procedures you need to get started, and explains the concepts to help you understand what's going on. All you need is a computer and some time to get started. If you're running on Windows, OS X, or Linux, then you're all set.

Let's start by setting up your Chef environment.

<p>
  <%= link_to "Set up your Chef environment &rarr;", "set-up-your-chef-environment", class: 'button radius' %>
</p>

Then head to the first tutorial, where you'll create your first cookbook.

<p>
  <%= link_to "Create your first cookbook &rarr;", "create-your-first-cookbook", class: 'button radius' %>
</p>

Check back frequently for new tutorials. We also really want your <%= link_to "feedback", "feedback" %>.


