---
description: "Learn how treating your <i>infrastructure</i> as <i>code</i> with Chef simplifies the way you manage and automate your infrastructure, making it more maintainable, versionable, testable, and collaborative."
layout: home
title: "Learn Chef"
type: landing
social_share:
  shared: &shared
    title: "Start Improving Your Chef, Automation, And Devops Skills Today - Only At Learn Chef Rally!"
    post: "Develop basic skills, learn advanced techniques, pick up new tricks, and connect with other Chefs at Learn Chef Rally! #learnchef"
    image: "/assets/images/social/footer-share.png"
  facebook:
    <<: *shared
  linkedin:
    <<: *shared
  twitter:
    post: "Get your learn on at Learn Chef Rally! Develop skills, learn new techniques, connect with Chef community. #learnchef"
---
