---
title: "QuickStart Guide"
order: 1
description: "Welcome to the Chef QuickStart Guide - the easiest and fastest way to get started with Chef!"
keywords: 'quickstart, install chef, setup chef'
---

h1 Chef QuickStart Guide
p Welcome to the Chef QuickStart Guide - the easiest and fastest way to get started with Chef. We've broken the Chef process into three simple steps:

ol
  - current_page.children.each do |child|
    li= link_to child.data['title'], child
