---
title: "Screencasts"
order: 3
---

h1 Chef Screencasts
p Opscode is dedicated to providing the easiest path for getting started with Chef. We have compiled a broad library of screencasts to help ease your transition to Chef.

ul.disc
  - current_page.children.each do |child|
    li= link_to child.data.title, child
