---
description: "Learn how treating your <i>infrastructure</i> as <i>code</i> with Chef simplifies the way you manage and automate your infrastructure, making it more maintainable, versionable, testable, and collaborative."
layout: content
title: "Tutorials"
type: tutorials
---
#topics
  - @topic_pages = current_page.siblings.select{|topic| topic.data.type && topic.data.type == "topic"}
  - [{:category => 'getting-started', :header => 'Get started with Chef'},
     {:category => 'manage-and-premium-features', :header => 'Manage your own Chef server and access additional features'}].each do |options|
    = partial 'layouts/tutorial-section', locals: { header: options[:header], topics: @topic_pages.select{|topic| topic.data.category == options[:category]} }
