---
description: "After you've learned the basics, learn how the Chef server acts as a central repository for your cookbooks and for information about your servers, or <i>nodes</i>. We'll provide you with a node to manage."
layout: bumper
name: manage-a-node
order: 2
title: "Learn to manage a node"
type: topic
category: getting-started
ignore_breadcrumb: true
time_to_complete: 20 min setup plus three 20 min lessons
platform_intro: Choose the server platform you want to manage.
---
