---
description: "After you've learned the basics, learn how the Chef server acts as a central repository for your cookbooks and for information about your servers, or <i>nodes</i>."
layout: bumper
name: manage-a-node
order: 2
title: "Manage a node"
type: topic
category: getting-started
ignore_breadcrumb: true
time_to_complete: Five 20 min lessons
platform_intro: Choose the server platform you want to manage.
logo: server.svg
---
