<h2>Exercises</h2>
<p>
<a name="1"></a>
<span style="font-size:22px;">1. Repeat the process to resolve a second compliance failure on your node.</span>
</p>
<p>
You might consider [an item] that's part of your existing compliance requirements. For learning purposes, you can modify your existing <code>ssh</code> cookbook even if the compliance concern is not related to SSH.
</p>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "compliance-remediate/rhel/remediate-the-compliance-failure-on-your-node//exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
