---
title: 'Exercises'
order: 7
layout: step
description: TODO
keywords: TODO
---
<a name="1"></a>
<span style="font-size:22px;">1. How does a cookbook differ from a recipe?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer &raquo;</a>
    <div id="question1" class="box content">
      <%= partial "answers/_1" %>
    </div>
  </dd>
</dl>

<hr>

<a name="2"></a>
<span style="font-size:22px;">2. How does `chef-apply` differ from `chef-client`?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer &raquo;</a>
    <div id="question2" class="box content">
      <%= partial "answers/_2" %>
    </div>
  </dd>
</dl>

<hr>

<a name="3"></a>
<span style="font-size:22px;">3. What's the <i>run-list</i>?</span>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question3">Answer &raquo;</a>
    <div id="question3" class="box content">
      <%= partial "answers/_3" %>
    </div>
  </dd>
</dl>

<hr>

## Next

You can continue to experiment with the virtual machine that we provide for this lesson. When you're done you can close the connection - we'll no longer be using that virtual machine.

Next you'll get ready to configure a second web server by uploading your cookbook to the Chef server. After that, we'll give you access to another virtual machine, which doesn't have the Chef tools installed on it, for you to configure remotely from your workstation.
