---
title: 'Set up a machine to manage'
order: 1
description: "Set up your Chef environment."
keywords: TODO
layout: lesson
time_to_complete: 10 minutes
---
The normal Chef workflow involves managing servers remotely from your workstation. But in this tutorial, you'll log in to a server and manage it directly to get a feel for how Chef works.

<% accordion('chef-workflow', 'Learn more about the Chef workflow') do %>

<%= partial 'layouts/partials/chef_workflow', :locals => { server_name: "Windows Server" } %>

<% end %>
<br>

The easiest way to get started is to use a free trial Windows Server 2012 R2 virtual machine that we provide. The virtual machine runs in your browser and has the set of Chef tools, called the Chef DK, and serveral text editors pre-installed. You can also [set up your own server](/tutorials/learn-the-basics/windows/free/set-up-your-own-server) to use with this tutorial. 

[START_BOX]

## 1. Launch a free trial Windows Server 2012 R2 virtual machine

Let us provide a Windows Server virtual machine with the Chef DK installed for you. Just click the button below.
</p>
<%= partial 'layouts/provisioner', locals: { os: 'Windows Server', env_name: 'Windows Server 2012 R2 Standard', user_name: 'Administrator', type: 'windows-localmode' } %>

[END_BOX]

[START_BOX]

## 2. Prepare a text editor

Because Chef uses _code_ to express infrastructure policy, it's important that you use a text editor that provides features such as syntax highlighting and line numbering.

After you launch your Windows Server virtual machine, open a PowerShell prompt and bring up a text editor. The free trial virtual machine comes with [Atom](http://atom.io), [Sublime Text 2](http://www.sublimetext.com) and [Visual Studio Code](https://code.visualstudio.com) pre-installed.

[END_BOX]

<% next_page(current_page) do %>

Now that you have your virtual machine with the Chef DK and a text editor set up, let's use Chef to configure a file, a kind of _resource_, on it.

<% end %>