<h2>Exercises</h2>

<p>
<a name="1"></a>
<span style="font-size:22px;">1. What happens during the bootstrap process?</span>
</p>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question1">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question1" class="box content">
      <%= partial "/manage-a-node/windows/bootstrap-your-node/exercises/answers/1" %>
    </div>
  </dd>
</dl>
</p>
<hr>
<p>
<a name="2"></a>
<span style="font-size:22px;">2. Which of the following lets you verify that your node has successfully bootstrapped?</span>
</p>
<ol>
<li>The <%= link_to 'https://manage.chef.io', 'https://manage.chef.io', target: '_blank' %>.</li>
<li><code>knife node list</code></li>
<li><code>knife node show</code></li>
</ol>
<p>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#question2">Answer <i class='fa fa-angle-double-right'></i></a>
    <div id="question2" class="box content">
      <%= partial "/manage-a-node/windows/bootstrap-your-node/exercises/answers/2" %>
    </div>
  </dd>
</dl>
