---
title: "Common Use Cases"
order: 2
---

h1 Chef Common Use Cases
p One of the easiest ways to realize the power of Chef is to see real world examples of  Chef recipes.

ul.disc
  - current_page.children.each do |child|
    li= link_to child.data['title'], child
