---
title: 'Perform prerequisites'
order: 1
keywords: TODO
layout: tutorials/platforms/environments/overview/lesson/layout
---
This tutorial builds on the _Develop your infrastructure code locally_ tutorial, and has the same prerequisites.

[START_BOX]

## Requirements

To successfully complete this tutorial, you'll need:

* a Windows, MacOS, or Linux workstation that has relatively powerful hardware. You recommend that your workstation have at least 15GB of free disk space and at least 4GB of available memory so that you can download the base images and run a few virtual machine instances.
* the following set up on your workstation:
  * the latest version of the Chef Development Kit
  * Vagrant and VirtualBox
  * a programmer's text editor that you're comfortable working with
  * a directory to work from &ndash; the tutorials use <% fp '~/learn-chef' %>
* familiarity with local development using Test Kitchen.

[END_BOX]

[START_BOX]

## Getting started with local development

If you're not familiar with local development using Test Kitchen, check out [Develop your infrastructure code locally](/local-development/rhel/) before you start this tutorial. You'll learn how to use Test Kitchen along with the virtualization tools VirtualBox and Vagrant to develop and verify your infrastructure code _before_ you apply the configuration to your production servers.

<a class='button radius cta' href='/local-development/rhel/' target='_blank'>Develop your infrastructure code locally&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

[END_BOX]

[START_BOX]

## Recommended: Practice local development by configuring a web app

As an optional exercise, the [Manage a basic web application](/manage-a-web-app/rhel/) tutorial provides additional hands-on practice with local development. Here, you configure a basic but complete web application using Test Kitchen. The [quickstart](/manage-a-web-app/rhel/bring-up-the-web-app-using-test-kitchen/) brings up the final configuration on a local test instance in just a few minutes. This tutorial prepares you for the [appendix](/test-your-infrastructure-code/rhel/refactor-the-web-application-cookbook/) which walks you through a basic refactoring exercise.

<a class='button radius cta' href='/manage-a-web-app/rhel/' target='_blank'>Manage a basic web application&nbsp;&nbsp;<i class='fa fa-external-link'></i></a>

[END_BOX]

<% next_page(current_page) do %>

Now that you have the hang of how to use Test Kitchen to configure a local virtual machine, let's write a cookbook that configures a basic web server and see how _InSpec_ can help us automatically verify that our configuration behaves as we expect.

<% end %>
